<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <ui:insert name="header">
                <ui:include src="/templates/header.xhtml"/>
            </ui:insert>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit id="top" position="center" size="140">
                    <h1>No tiene permisos para acceder a esta Página</h1>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>

</html>