<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">


        <h:head>
            <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
            <link type="text/css" rel="stylesheet"
                  href="../themes/micc.css" />
            <title>Login</title>
            <h:outputStylesheet library="css" name="login.css"/>
            <!--<h:outputStylesheet library="css" name="standard.css"/>-->
            <h:outputScript library="js" name="jquery.maskedinput.js"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </h:head>
        <h:body>
            <h:form id="formGeneral" prependId="false" styleClass="centered">
                <div id="login-wrapper" class="login-whisp" style="opacity: 1; visibility: visible; width: 100%; height: 100% ">

                    <div id="login-container" >
                        <div id="login-sub-container" style="position: relative">
                            <div id="login-sub-header" style="text-align: center" >
                                <p:graphicImage value="/resources/images/logo.png" width="80%" height="95%" alt="logo"/>
                                <!--<img src="/resources/images/l1.g" alt="logo"/>-->
                            </div>
                            <div id="login-sub" style="position: relative; ">
                                <div id="forms" style="margin-top: 20px">


                                    <div class="input-req-login"><label for="user">Código</label></div>
                                    <div class="input-field-login icon username-container">
                                        <p:inputText id="j_username" styleClass="std_textbox" value="#{loginJsfBean.username}" required="true" 
                                                     requiredMessage="*"
                                                     />
                                        <p:watermark for="j_username" value="Ingrese su código:" />  
                                    </div>
                                    <div style="margin-top:30px;" class="input-req-login"><label for="pass">Contraseña</label></div>
                                    <div class="input-field-login icon password-container">
                                        <p:inputText type="password" id="j_password" value="#{loginJsfBean.password}" styleClass="std_textbox" required="true" requiredMessage="*" />
                                        <p:watermark for="j_password" value="Ingrese su clave" />  
                                    </div>
                                    <div style="width: 285px;">
                                        <div style="align: left ; margin-top: 20px; margin-left: 5px;">
                                            <p:selectBooleanCheckbox id="j_mobileCheck"  itemLabel="Sesión en mobile" value="#{loginJsfBean.mobile}" />
                                        </div>

                                    </div>
                                    <div style="width: 285px;">
                                        <div class="login-btn" style="align: center">
                                            <p:commandButton  id="logButton" actionListener="#{loginJsfBean.loginAction}" 
                                                              value="Iniciar Sesión" ajax="false" styleClass="redondear"/>
                                        </div>

                                    </div>
                                    <div class="clear" id="push"></div>
                                    <!--CLOSE forms -->
                                    <c:if test="${not empty param.authFailure}">
                                        <div class="ui-message-error ui-widget" style="margin-top: 30px; position: relative; text-align: center;margin: 0.5em 0.5em 0.5em 0.5em;">
                                            Usuario y/o clave inválidos
                                        </div>
                                    </c:if>
                                </div>

                                <!--CLOSE login-sub -->
                            </div>
                            <!--CLOSE login-sub-container -->
                        </div>
                        <!--CLOSE login-container -->
                    </div>



                </div>
            </h:form>



            <div class="foo">
                <img src ="resources/images/companyLogo-mini.png" height="54px"/>
                <h5>Developed by NOVOTIC 2013</h5>

            </div>

        </h:body>
    </f:view>
</html>
