login-container
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*AQUI EL DEGRADADO*/
body{
    background-color:#82EFFB;
    background-repeat:repeat-x;
    background-image:-moz-linear-gradient(#82EFFB,#021618 100%);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#82EFFB),to(#021618));
    background-image:-o-linear-gradient(#82EFFB,#021618 100%);
    background-image:-ms-linear-gradient(#82EFFB,#021618 100%);
    -cp-background-image:linear-gradient(#82EFFB,#021618 100%);
    background-image:linear-gradient(#82EFFB,#021618 100%);
    font-family:helvetica,arial,sans-serif;
    /*overflow:hidden;*/
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

} 

body:not(#old_ie){
    behavior:url(/cPanel_magic_revision_1335428096/unprotected/cjt/ie9gradients.htc)
}

.clear{
    clear:both
}
a:link,a:visited,a:active{
    color:#022b3b;text-decoration:none
}

a:hover{
    color:#fff;text-decoration:underline
}

#login-wrapper{
    margin:30px auto}

.login-whisp{
    min-height:100%;
    position: absolute;

}

.login-whisp:not(#old_ie){
    background:url(../resources/images/login-whisp.png) no-repeat center
}

#login-container{
    border:3px solid gray;
    border-color:rgba(255,255,255,0.2);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    height:370px;
    margin:0 auto;
    position:relative;
    width:299px;
    margin-top: 3%;

}

#security-container{
    border:1px solid gray;
    border-color:rgba(255,255,255,0.1);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    min-height:620px;margin:0 auto;
    position:relative;width:850px
}

#login-sub-container{
    border:1px solid #333;
    border-color:rgba(0,0,0,0.2);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    box-shadow:0 0 10px #000 inset;
    height:360px;left:5px;
    position:absolute;
    top:5px;
    width:287px
}

#security-sub-container{
    border:1px solid gray;
    border-color:rgba(0,0,0,0.2);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    box-shadow:0 0 10px #000 inset;
    height:610px;left:5px;
    position:absolute;
    top:5px;width:838px

}

#login-sub-header{
    background-color:#FFFFFF;
    background-color:rgba(255,255,255);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c002435d,endColorstr=#c002435d);
    border-bottom:1px solid black;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -khtml-border-radius:5px 5px 0 0;
    height:65px;padding:10px 0 0;
    text-align:center
}

#login-sub-header img{
    margin-left:7px
}



/*PARA EDITAR EL CUADRO DE LOS INPUTS DEL LOGIN*/


#login-sub,#security-sub{
    background-color:#1941D4;
    background-color:rgba(33, 136, 196, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0035271,endColorstr=#c0035271);
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -khtml-border-radius:0 0 5px 5px;
    height:255px;
    padding-left:30px;
    padding-top:30px;
    color:white;
    font-size:12px;
    padding-right:5px
}

#security-sub{
    height:502px

}

#forms{
    left:30px;
    position:absolute;
    top:0;
    width: 230px;

}

.input-req-login label{
    display:block;
    width:270px

}

.redondear {
    border-radius: 1px;
}

button,
button[disabled]:active,
input[type=submit],
input[type=submit][disabled]:active,
input[type=button],
input[type=button][disabled]:active,

.login-btn a.loginbtn{
    background:#02324a;
    background-image:-moz-linear-gradient(#1090b0,#096479);
    background-image:-o-linear-gradient(#1090b0,#096479);
    background-image:-ms-linear-gradient(#1090b0,#096479);
    -cp-background-image:linear-gradient(#1090b0,#096479);
    behavior:url(/cPanel_magic_revision_1335428096/unprotected/cjt/ie9gradients.htc);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#1090b0),to(#096479));
    filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1090b0',EndColorStr='#096479',GradientType=0);
    border:1px solid #01303f;
    -moz-box-shadow:0 0 2px 2px #034c64;
    -webkit-box-shadow:0 0 2px 2px #034c64;
    box-shadow:0 0 2px 2px #034c64;
    text-shadow:0 1px 0 #063a46;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px;
    width:auto;
    overflow:visible
}

button:active,
input[type=submit]:active,
input[type=button]:active,

.login-btn a.loginbtn:hover{
    background-color:#f90!important;
    background-image:-moz-linear-gradient(#096479,#1090b0);
    background-image:-o-linear-gradient(#096479,#1090b0);
    background-image:-ms-linear-gradient(#096479,#1090b0);
    -cp-background-image:linear-gradient(#096479,#1090b0);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#096479),to(#1090b0));
    filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#096479',EndColorStr='#1090b0',GradientType=0);
    -moz-box-shadow:none;
    -webkit-box-shadow:none;box-shadow:none
}

button[disabled],
button[disabled]:active,
input[type=submit][disabled],
input[type=submit][disabled]:active,
input[type=button][disabled],
input[type=button][disabled]:active{
    border:1px solid #034c64;
    color:#034c64;
    cursor:default
}

input.std_textbox{
    /*width:254px;*/
    height:22px;
    margin:5px 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-box-shadow:inset 0 10px 10px#c1e5ef;
    -webkit-box-shadow:inset 0 10px 10px #c1e5ef;
    box-shadow:inset 0 10px 10px #c1e5ef;
    border:2px solid #024257;
    color:#000;
    font-family:helvetica;
    font-size:15px
}

div.icon input.std_textbox{
    background:transparent;
    border:0;
    border-radius:0;
    box-shadow:none;
    margin-left:26px;
    margin-top:0px;
    outline:0
}

html[dir="rtl"] input.std_textbox.icon{
    background-position:right center;
    background-position:right 5px top center;
    padding-left:0;
    padding-right:26px
}

.input-field-login.icon{
    height:32px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-box-shadow:inset 0 10px 10px #c1e5ef;
    -webkit-box-shadow:inset 0 10px 10px #c1e5ef;
    box-shadow:inset 0 10px 10px #c1e5ef;
    border:2px solid #024257;
    background-color:#fff;
    background-position:6px 6px;
    background-repeat:no-repeat
}

div.username-container,div.reset-pass-container{
    background-image:url(../resources/images/icon-username.png)
}

div.password-container{
    background-image:url(../resources/images/icon-password.png)
}

input.std_textbox[disabled]{
    background-color:#005270;
    box-shadow:none!important
}

#userform{
    text-align:center
}

#userform input{
    font-family:helvetica;
    font-size:13px;
    font-style:normal;
    padding:2px;
    -webkit-box-shadow:inset 0 10px 10px #c1e5ef;
    box-shadow:inset 0 10px 10px #c1e5ef
}

input.security_question{
    font-size:13px;
    font-family:Georgia,serif;
    color:#000;
    font-style:italic;
    margin:10px 0 0 3px;
    width:324px;
    height:32px
}

#userform input.security_question{
    box-shadow:none;
    background-color:transparent
}

html[dir=rtl] 

input.security_question{
    margin:10px 3px 0 0
}

html body.security_policy input.security_question{
    margin:0;
    width:625px
}

span.security_question_expander{
    position:absolute;
    top:12px;
    right:6px;
    color:#014d5f;
    padding:0!important;
    text-decoration:none;
    font-size:12px;
    cursor:pointer
}

input.security_question_answer{
    width:650px;
    border:2px solid #024257;
    height:32px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-box-shadow:inset 0 10px 10px #c1e5ef;
    -webkit-box-shadow:inset 0 10px 10px #c1e5ef;
    box-shadow:inset 0 10px 10px #c1e5ef;
    padding-left:2px
}

input.security_question[disabled]{
    background-color:#005270;
    box-shadow:none!important
}

td.label-cell{
    text-align:right
}

html[dir=rtl] td.label-cell{
    text-align:left

}

.combobox{
    border:2px solid #024257!important;
    border-radius:5px;
    -moz-border-radius:5px!important;
    -webkit-border-radius:5px!important;
    -khtml-border-radius:5px!important;
    background-color:#fff;
    -moz-box-shadow:inset 0 10px 10px #c1e5ef;
    -webkit-box-shadow:inset 0 10px 10px #c1e5ef;
    box-shadow:inset 0 10px 10px #c1e5ef;
    width:650px;position:relative;text-align:left
}

.yui-ac-bd li{
    white-space:normal!important
}

.yui-ac-bd{
    font-size:12px;
    color:#333
}

#userform label,.answer{
    color:#fff;
    font-size:12px;
    font-weight:bold;
    padding-bottom:8px;
    padding-left:4px;
    text-align:right
}

a.page-link{
    text-decoration:underline
}

#confirmation{
    background:#fff;
    padding-left:3px;
    border:2px solid #024257;
    color:#000;
    font-family:helvetica;
    font-size:13px;font-style:normal;
    width:282px;
    font-family:helvetica
}

#login_form,#reset_form{
    position:absolute;
    left:0;top:100px
}

.login-btn,.reset-pass-btn{
    float:left;
    padding-top:22px;
    margin-left: 48px;     
}

#resetpass .login-btn{
    padding-top:0
}

#reset-pw-container{
    margin-right:30px
}

.reset-pw{
    float:right;padding:30px 0 0 0;
    text-align:right;
    width:100px
}

.reset-pw a{
    color:#e1e1e1;
    font-size:12px;
    font-weight:normal;
    text-decoration:none
}

.reset-pw a:hover
{color:#fff;
 text-shadow:none
}

.input-req-login{
    color:#FFFFE4;
    font-size:15px;
    font-weight:bold;
    padding-bottom:8px;
    padding-left:4px;
    /*width:100%*/
}

.locale-container{
    border-top:1px solid #FFFFE4;
    text-align:center;
    padding:5px 0 0 0
}

#locale-footer{
    margin:40px auto;
    width:80%
}

.error_notice{
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:10px;
    width:50%
}

body.security_policy #login-status{
    margin:45px auto 15px;
    padding:2px;
    width:556px
}

#answer-submit{
    float:left;
    margin:0 0 0 50px
}

#confirm-submit-btn{
    padding-top:23px!important
}

#notify{
    width:365px;
    margin:45px auto
}
#notify a{
    text-decoration:underline;
    font-size:12px
}

#notify a:hover{
    text-decoration:none
}
#notify p,#failure p{
    margin:0 0 10px 0;
    padding-left:30px;
    padding-top:3px
}
.text_notice{padding-left:30px;padding-top:3px;padding-bottom:20px;text-align:left;background-color:#fff;border:solid 2px #000}#failure a{font-size:14px;color:#035e7e;text-decoration:underline}#failure a:hover{text-decoration:none}.error-notice,.answers-notice,.warn-notice,.info-notice,.success-notice,#failure{filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#fbfbfb,endColorStr=#e5e5e5);background-color:#e5e5e5;background-image:-moz-linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbfbfb),color-stop(30,#e5e5e5));background-image:-o-linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:-ms-linear-gradient(#fbfbfb,#e5e5e5 30px);-cp-background-image:linear-gradient(#fbfbfb,#e5e5e5 30px);background-image:linear-gradient(#fbfbfb,#e5e5e5 30px);padding:5px 5px 8px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;font-size:12px;color:#444;text-shadow:0 1px 0 #fff;font-weight:bold}.error-notice,#failure{border:2px solid #c43335}.warn-notice,.answers-notice{border:2px solid #faa661}.info-notice{border:2px solid #3e7f99}.success-notice{border:2px solid #7ab443}#login-status .login-status-icon{display:block;position:absolute;width:21px;height:21px}#login-status.error-notice .login-status-icon{background-image:url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/notice-error.png)}#login-status.info-notice .login-status-icon{background-image:url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/notice-info.png)}#login-status.success-notice .login-status-icon{background-image:url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/notice-success.png)}#login-status.warn-notice .login-status-icon{background-image:url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/warning.png)}#failure{margin:45px auto;width:365px}#login-status-message{padding-left:30px;padding-top:3px}html[dir=rtl] #login-status-message{padding-left:0;padding-right:30px}#locale-container{margin:0 auto;width:768px;height:245px;background-attachment:scroll;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;position:relative;background-color:rgba(0,0,0,0.2);border:1px solid gray;border-color:rgba(255,255,255,0.2);padding:3px}#locale-inner-container{background:transparent url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/locale-map.png) center no-repeat;background-color:#02435d;background-color:rgba(2,67,93,0.75);border-radius:5px;border:1px solid #0d7291}#locale-header{width:100%;border-bottom:1px solid #0d7291;height:25px;padding:5px 0 5px 0}.locale-head{float:left;font-size:14px;color:#fff;padding:7px 0 10px 10px;text-shadow:0 1px 0 #000}.close{float:right;padding:7px 10px 0 0}.close a{font-weight:bold;font-size:10px;color:#fff}html[dir=rtl] .locale-head{float:right;padding:7px 10px 10px 0}html[dir=rtl] .close{float:left;padding:7px 0 0 10px}.locale-cell{float:left;display:block;width:140px;height:40px;padding:10px 0 0 5px;overflow:hidden}html[dir=rtl] .locale-cell{float:right;padding:10px 5px 0 0}.scroller{max-height:320px;min-height:205px;overflow-y:auto;padding:0 0 0 10px}html[dir=rtl] .scroller{padding:0 10px 0 0}.scroller a{font-size:14px;color:#FFFFE4;font-family:Helvetica,Helvetica Neue,Arial;text-shadow:0 1px 0 #000;text-decoration:none}.scroller a:hover{color:#fff}

.locale-container ul{
    margin:0;
    padding:0;
    text-align:center
}

.locale-container ul li,html[dir=rtl] 
.locale-container ul li:first-child{
    display:inline;
    list-style:none;
    margin-left:34px
}

.locale-container ul li:first-child,html[dir=rtl] 
.locale-container ul li:last-child{
    margin-left:0
}

.locale-container ul li a,#morelocale{
    color:#FFFFE4;
    text-decoration:none
}

#morelocale{font-weight:bold;font-size:16px}.locale-container ul li a{color:#FFFFE4;text-decoration:none;font-size:12px;text-shadow:0 1px 0 #000;font-weight:bold}.locale-container ul li a:hover{color:#fff}

.copyright{
    background:url(../resources/images/companyLogo-mini.png) no-repeat scroll center top transparent;
    background-size: 50px;
    position: static;
    color:#FFFFE4;
    font-family:verdana;
    font-size:7pt;
    margin:0;
    padding-top:40px;
    text-align:center;
    position: absolute;
    margin: 0 auto;
    bottom: 25px;
    width: 100%;
    height: 20px;

}

.foo{
    top: 600px;
    border-top-width: 2px;
    margin-top: 5px;
    color: #FFFFE4;
    font-family: serif;
    font-size: 1em;
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 15px;
    margin: 0 auto 0 auto;
}

input::-webkit-input-placeholder{font-family:Georgia,serif;color:#666;font-style:italic}input:focus::-webkit-input-placeholder{color:#bbb;-webkit-transition:color .2s}input:-ms-input-placeholder{font-family:Georgia,serif;color:#666;font-style:italic}input:focus:-ms-input-placeholder{color:#bbb;-ms-transition:color .2s}input:-moz-placeholder{font-family:Georgia,serif;color:#666;font-style:italic}input:focus:-moz-placeholder{color:#aaa;-moz-transition:color .2s}.mask{background-color:#000!important;opacity:.8!important}#validation_errors_modal_box{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;color:#fff;padding:10px;font-size:13px;background-color:#01303f;border:1px solid #247291;-moz-box-shadow:4px 4px 8px #000;-webkit-box-shadow:4px 4px 8px #000;box-shadow:4px 4px 8px #000}.yui-panel .hd{background-color:#01303f!important;padding:3px;font-size:14px!important;border:none!important;margin:0 0 20px 0}.validation_errors_modal_box_title{font-weight:bold!important}#validation_errors_modal_box ul{list-style:none;margin:none;padding:none}#validation_errors_modal_box li{margin:5px 0 5px 0;padding:none}.yui-panel .container-close{background:url(/cPanel_magic_revision_1335428098/unprotected/cpanel/images/login-error-close.png) no-repeat scroll 0 0 transparent!important}.login-rt{text-align:center;color:#fff;padding:0 20px 0 0}#sec-ques{text-align:left;font-size:12px;margin-left:15px}.description{text-align:left;margin-bottom:10px}#new-pw-container{border:1px solid gray;border-color:rgba(255,255,255,0.1);border-radius:10px 10px 10px 10px;height:380px;margin:0 auto;position:relative;width:356px}#new-pw-sub-container{border:1px solid gray;border-color:rgba(0,0,0,0.2);border-radius:10px 10px 10px 10px;box-shadow:0 0 10px #000 inset;height:368px;left:5px;position:absolute;top:5px;width:345px}#new-pw-sub{background-color:#035271;background-color:rgba(3,82,113,0.75);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0035271,endColorstr=#c0035271);border-radius:0 0 5px 5px;border-top:1px solid #0d7291;height:262px;padding-left:30px;padding-top:30px;color:white;font-size:12px;padding-right:5px}input#new-password{background:#fff;padding-left:5px;border:2px solid #024257;color:#000;font-family:helvetica;font-size:13px;font-style:normal;width:284px!important;margin-top:10px;height:32px!important;border:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-box-shadow:inset 0 10px 10px#c1e5ef;-webkit-box-shadow:inset 0 10px 10px #c1e5ef;box-shadow:inset 0 10px 10px #c1e5ef}

.login-btn a.loginbtn{
    display:block;padding:7px
}.code{font-family:monospace}ul.options li{margin-top:8px}ul.options li:first-child{margin-top:0}*:not(#old_ie){filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)!important}