body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    word-wrap: break-word;
}

html, body {
    background-color: #fffffe;
    background-image: url(../resources/images/gradientBackground.png);
    background-repeat: repeat-x;
    height: 768px;
    /*background-position: center top;*/
}

body {
    background-color: #fff;
    text-align: left;
    letter-spacing: 0;
    line-height: 13px;

}


/*ESTILO DEL DIV GENERAL DE TODO EL JSF*/
.wrapper {
    /*    width: 1024px;
        min-width: 1024px;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;*/
    margin:30px auto 0 auto;
}
/*ESTILO DEL FOOTER*/
.footer {
    text-align: center;
    bottom: 10px;
    position: fixed;
    width: 99.5%;
}


.header {
    width: 230px;
    vertical-align: top;
    text-align: left;
    margin-right: 5px;
    word-wrap: break-word;
}

.tableFooter {
    margin-left: auto;
    margin-right: auto;
}



.ui-menuitem-link {
}

.ui-widget-content {
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #456314;
}

a:active {
    color: #7db223;
}

.menu {
    width: 230px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.content {
    width: 770px;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom: 5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
}

#head {
    clear: both;
    margin: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    height: 100%;
}

.lflo {
    float: left;
    height: 100%;;
    width: 298px;
}

.right {
    text-align: right;
}

.header_welcome {
    font-size: 1.0em;
    font-weight: bold;
    margin: -0.2em 0 0.67em 0.2em;
    color: #459E00;
    text-align: right;
    text-decoration: none;
    float: right;
    position: relative;

}

.rflo {
    float: left;
    width: 80%;
}

.rflo, .lflo {
    display: block;
}

#apDiv1 {
    background: url("/javax.faces.resource/images/ui-bg_glass_55_fcf0ba_1x400.png.jsf?ln=primefaces-south-street") repeat-x scroll 50% 50% #FCF0BA;
    border: 1px solid #FAD42E;
    color: #363636;
    height: 220px;
    left: 35%;
    position: absolute;
    top: 183px;
    width: 280px;
    z-index: 1;
}

.input {
    background-image: url("../resources/images/input.jpg");
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 10px;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 150px;
}

.combo {
    width: 200%;
    text-align: left;
}

#tablaHeader {
    width: 100%
}

#form {
    font-size: 10px;
    font-weight: bold;
    height: 110px;
    padding-left: 30px;
    position: absolute;
    top: 40px;
}

#center {
    border: 0;
}

#top {
    border: 0;
}

#logo {
    height: 100%;
    text-align: center;
}

#login {
    height: 120px;
}

#menux .ui-menu-list .ui-helper-reset ul {
    width: 230px;
}

.style2 {
    color: #000000;
}

.pass {
    font-size: 9px;
    padding-right: 50px;
    text-align: right;
}

.demoaw {
    width: 230px;
}

.columnLeftTopClass {
    text-align: left;
    vertical-align: top;
}

.columnMenuLeftClass {
    width: 50%;
    height: 18px;
}

.columnMenuRigthClass {
}

.columnLeftMiddleClass {
    text-align: left;
    vertical-align: middle;
}

.columnRightTopClass {
    text-align: right;
    vertical-align: top;
}

.columnCenterTopClass {
    text-align: center;
    vertical-align: top;
}

#left.ui-widget-content {
    border: 0px;
}

#menuForm.ui-widget-content {
    border: 0px;
}

.new_row {
    background: url("/javax.faces.resource/images/ui-bg_glass_55_fcf0ba_1x400.png.jsf?ln=primefaces-south-street") repeat-x scroll 50% 50% #FCF0BA;
    border: 1px solid #FAD42E;
    color: #363636;
}

.required_row {
    background: url("/javax.faces.resource/images/ui-bg_highlight-soft_95_ffedad_1x100.png.jsf?ln=primefaces-south-street") repeat-x scroll 50% top #FFEDAD;
    border: 1px solid #E3A345;
    color: #CD5C0A;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

ui-inputtext ui-widget ui-state-default ui-corner-all

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-panelgrid {
    border-collapse: collapse;
}

.ui-panelgrid .ui-panelgrid-header {
    text-align:center;
    padding:4px 10px;
}

.ui-panelgrid .ui-panelgrid-footer {
    text-align: left;
    padding:2px 5px;
}

.ui-panelgrid td {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding:4px 10px;
}

.centered {
    margin: 0px auto;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button{
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header, .ui-footer, .ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer{
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
}
.ui-header .ui-title, .ui-footer .ui-title{
    margin: .6em 15px .8em;
}