/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/
.row-td{
    width: 100%;
}

.ui-bar-a {
    border: 1px solid #1f613e /*{a-bar-border}*/;
    background: #608E21 /*{a-bar-background-color}*/;
    color: #edece8 /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #80be2c /*{a-bar-background-start}*/), to( #3f5d15 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #80be2c /*{a-bar-background-start}*/, #3f5d15 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #80be2c /*{a-bar-background-start}*/, #3f5d15 /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #80be2c /*{a-bar-background-start}*/, #3f5d15 /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #80be2c /*{a-bar-background-start}*/, #3f5d15 /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #80be2c /*{a-bar-background-start}*/, #3f5d15 /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
    color: #edece8 /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
    color: #7cc4e7 /*{a-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
    color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
    color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
    border: 1px solid  /*{a-body-border}*/;
    color: #7e502a /*{a-body-color}*/;
    text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
    background: #E7EBDA /*{a-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #E7EBDA /*{a-body-background-start}*/), to( #ffffff /*{a-body-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #E7EBDA /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #E7EBDA /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #E7EBDA /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #E7EBDA /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #E7EBDA /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/);
}
.ui-overlay-a {
    background-image: none;
    border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
    color: #7e502a /*{a-body-color}*/;
}

.ui-body-a .ui-link {
    color: #155415 /*{a-body-link-color}*/;
    font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #3ab913 /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
    color: #3ab913 /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
    color: #3ab913 /*{a-body-link-active}*/;
}

.ui-btn-up-a {
    border: 1px solid #cccccc /*{a-bup-border}*/;
    background: #eeeeee /*{a-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bup-color}*/;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{a-bup-background-start}*/), to( #e2e2e2 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f9f9f9 /*{a-bup-background-start}*/, #e2e2e2 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f9f9f9 /*{a-bup-background-start}*/, #e2e2e2 /*{a-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f9f9f9 /*{a-bup-background-start}*/, #e2e2e2 /*{a-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f9f9f9 /*{a-bup-background-start}*/, #e2e2e2 /*{a-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f9f9f9 /*{a-bup-background-start}*/, #e2e2e2 /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
    border: 1px solid #bbbbbb /*{a-bhover-border}*/;
    background: #dfdfdf /*{a-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bhover-color}*/;
    text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #dcdcdc /*{a-bhover-background-start}*/), to( #e1e1e1 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #dcdcdc /*{a-bhover-background-start}*/, #e1e1e1 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #dcdcdc /*{a-bhover-background-start}*/, #e1e1e1 /*{a-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #dcdcdc /*{a-bhover-background-start}*/, #e1e1e1 /*{a-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #dcdcdc /*{a-bhover-background-start}*/, #e1e1e1 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #dcdcdc /*{a-bhover-background-start}*/, #e1e1e1 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
    border: 1px solid  /*{a-bdown-border}*/;
    background: #c7c7c7 /*{a-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{a-bdown-color}*/;
    text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #ffffff /*{a-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ececec /*{a-bdown-background-start}*/), to( #a1a1a1 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ececec /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ececec /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ececec /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ececec /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ececec /*{a-bdown-background-start}*/, #a1a1a1 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
    color: #2f3e46 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
    border: 1px solid #005e9d /*{b-bar-border}*/;
    background: #c77f23 /*{b-bar-background-color}*/;
    color: #000000 /*{b-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #fcfcfc /*{b-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFb131 /*{b-bar-background-start}*/), to( #774c15 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFb131 /*{b-bar-background-start}*/, #774c15 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFb131 /*{b-bar-background-start}*/, #774c15 /*{b-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFb131 /*{b-bar-background-start}*/, #774c15 /*{b-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFb131 /*{b-bar-background-start}*/, #774c15 /*{b-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFb131 /*{b-bar-background-start}*/, #774c15 /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
    color: #000000 /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
    color: #7cc4e7 /*{b-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489ce /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
    color: #2489ce /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
    color: #2489ce /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
    border: 1px solid #aaaaaa /*{b-body-border}*/;
    color: #333333 /*{b-body-color}*/;
    text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #ffffff /*{b-body-shadow-color}*/;
    background: #f9f9f9 /*{b-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{b-body-background-start}*/), to( #eeeeee /*{b-body-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/);
}
.ui-overlay-b {
    background-image: none;
    border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
    color: #333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
    color: #2489ce /*{b-body-link-color}*/;
    font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489ce /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
    color: #2489ce /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
    color: #2489ce /*{b-body-link-active}*/;
}

.ui-btn-up-b {
    border: 1px solid #cccccc /*{b-bup-border}*/;
    background: #eeeeee /*{b-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #ffffff /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{b-bup-background-start}*/), to( #f1f1f1 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
    color: #2f3e46 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
    border: 1px solid #bbbbbb /*{b-bhover-border}*/;
    background: #dfdfdf /*{b-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #ffffff /*{b-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-bhover-background-start}*/), to( #bdbdbd /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #bdbdbd /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #bdbdbd /*{b-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #bdbdbd /*{b-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #bdbdbd /*{b-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #bdbdbd /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
    color: #2f3e46 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
    border: 1px solid #bbbbbb /*{b-bdown-border}*/;
    background: #d6d6d6 /*{b-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{b-bdown-color}*/;
    text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #ffffff /*{b-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{b-bdown-background-start}*/), to( #dfdfdf /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
    color: #2f3e46 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}




/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
    border: 1px solid #b3b3b3 /*{c-bar-border}*/;
    background: #eeeeee /*{c-bar-background-color}*/;
    color: #3e3e3e /*{c-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #ffffff /*{c-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{c-bar-background-start}*/), to( #dddddd /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
    color: #3e3e3e /*{c-bar-color}*/;
}

.ui-bar-c a.ui-link {
    color: #7cc4e7 /*{c-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-c a.ui-link:visited {
    color: #2489ce /*{c-bar-link-visited}*/;
}

.ui-bar-c a.ui-link:hover {
    color: #2489ce /*{c-bar-link-hover}*/;
}

.ui-bar-c a.ui-link:active {
    color: #2489ce /*{c-bar-link-active}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
    border: 1px solid #aaaaaa /*{c-body-border}*/;
    color: #333333 /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #ffffff /*{c-body-shadow-color}*/;
    background: #f9f9f9 /*{c-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}
.ui-overlay-c {
    background-image: none;
    border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
    color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
    color: #2489ce /*{c-body-link-color}*/;
    font-weight: bold;
}

.ui-body-c .ui-link:visited {
    color: #2489ce /*{c-body-link-visited}*/;
}

.ui-body-c .ui-link:hover {
    color: #2489ce /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
    color: #2489ce /*{c-body-link-active}*/;
}

.ui-btn-up-c {
    border: 1px solid #cccccc /*{c-bup-border}*/;
    background: #eeeeee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
    border: 1px solid #bbbbbb /*{c-bhover-border}*/;
    background: #dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
    border: 1px solid #bbbbbb /*{c-bdown-border}*/;
    background: #d6d6d6 /*{c-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
    color: #2f3e46 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}




/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
    border: 1px solid #1f613e /*{d-bar-border}*/;
    background: #608E21 /*{d-bar-background-color}*/;
    color: #edece8 /*{d-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #444444 /*{d-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #83c22d /*{d-bar-background-start}*/), to( #3c5914 /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #83c22d /*{d-bar-background-start}*/, #3c5914 /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #83c22d /*{d-bar-background-start}*/, #3c5914 /*{d-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #83c22d /*{d-bar-background-start}*/, #3c5914 /*{d-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #83c22d /*{d-bar-background-start}*/, #3c5914 /*{d-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #83c22d /*{d-bar-background-start}*/, #3c5914 /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
    color: #edece8 /*{d-bar-color}*/;
}

.ui-bar-d a.ui-link {
    color: #7cc4e7 /*{d-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-d a.ui-link:visited {
    color: #2489ce /*{d-bar-link-visited}*/;
}

.ui-bar-d a.ui-link:hover {
    color: #2489ce /*{d-bar-link-hover}*/;
}

.ui-bar-d a.ui-link:active {
    color: #2489ce /*{d-bar-link-active}*/;
}

.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
    border: 1px solid #8c8c8c /*{d-body-border}*/;
    color: #96653D /*{d-body-color}*/;
    text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/  /*{d-body-shadow-color}*/;
    background: #ffffff /*{d-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{d-body-background-start}*/), to( #a5a5a5 /*{d-body-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #a5a5a5 /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #a5a5a5 /*{d-body-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #a5a5a5 /*{d-body-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFFFFF /*{d-body-background-start}*/, #a5a5a5 /*{d-body-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFFFFF /*{d-body-background-start}*/, #a5a5a5 /*{d-body-background-end}*/);
}
.ui-overlay-d {
    background-image: none;
    border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
    color: #96653D /*{d-body-color}*/;
}

.ui-body-d .ui-link {
    color: #155415 /*{d-body-link-color}*/;
    font-weight: bold;
}

.ui-body-d .ui-link:visited {
    color: #919600 /*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
    color: #FFFF45 /*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
    color: #e0e800 /*{d-body-link-active}*/;
}

.ui-btn-up-d {
    border: 1px solid #cccccc /*{d-bup-border}*/;
    background: #eeeeee /*{d-bup-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{d-bup-color}*/;
    text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #ffffff /*{d-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{d-bup-background-start}*/), to( #f1f1f1 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff /*{d-bup-background-start}*/, #f1f1f1 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ffffff /*{d-bup-background-start}*/, #f1f1f1 /*{d-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ffffff /*{d-bup-background-start}*/, #f1f1f1 /*{d-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ffffff /*{d-bup-background-start}*/, #f1f1f1 /*{d-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ffffff /*{d-bup-background-start}*/, #f1f1f1 /*{d-bup-background-end}*/);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
    color: #2f3e46 /*{d-bup-color}*/;
}
.ui-btn-hover-d {
    border: 1px solid #bbbbbb /*{d-bhover-border}*/;
    background: #dfdfdf /*{d-bhover-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{d-bhover-color}*/;
    text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ #ffffff /*{d-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{d-bhover-background-start}*/), to( #e0e0e0 /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{d-bhover-background-start}*/, #e0e0e0 /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{d-bhover-background-start}*/, #e0e0e0 /*{d-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{d-bhover-background-start}*/, #e0e0e0 /*{d-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{d-bhover-background-start}*/, #e0e0e0 /*{d-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{d-bhover-background-start}*/, #e0e0e0 /*{d-bhover-background-end}*/);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
    color: #2f3e46 /*{d-bhover-color}*/;
}
.ui-btn-down-d {
    border: 1px solid #bbbbbb /*{d-bdown-border}*/;
    background: #d6d6d6 /*{d-bdown-background-color}*/;
    font-weight: bold;
    color: #2f3e46 /*{d-bdown-color}*/;
    text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ #ffffff /*{d-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{d-bdown-background-start}*/), to( #dfdfdf /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{d-bdown-background-start}*/, #dfdfdf /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{d-bdown-background-start}*/, #dfdfdf /*{d-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{d-bdown-background-start}*/, #dfdfdf /*{d-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{d-bdown-background-start}*/, #dfdfdf /*{d-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{d-bdown-background-start}*/, #dfdfdf /*{d-bdown-background-end}*/);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
    color: #2f3e46 /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}




/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
    text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
    border: 1px solid  /*{global-active-border}*/;
    background: #7cbf22 /*{global-active-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #000000 /*{global-active-shadow-color}*/;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #88d225 /*{global-active-background-start}*/), to( #6fab1e /*{global-active-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #88d225 /*{global-active-background-start}*/, #6fab1e /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #88d225 /*{global-active-background-start}*/, #6fab1e /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #88d225 /*{global-active-background-start}*/, #6fab1e /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #88d225 /*{global-active-background-start}*/, #6fab1e /*{global-active-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #88d225 /*{global-active-background-start}*/, #6fab1e /*{global-active-background-end}*/);
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
    color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
    border-top: 1px solid 	#fff;
    border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.ui-block-a { 
    width: 99%;
}

.ui-block-b {  
    width: 99%;
}
.ui-block-c {  
    width: 99%;
}
.ui-block-d {  
    width: 99%;
}


.ui-corner-tl {
    -moz-border-radius-topleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
    -moz-border-radius-topright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-br {
    -moz-border-radius-bottomright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-top {
    -moz-border-radius-topleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
    -moz-border-radius-topright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
    -moz-border-radius-bottomleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-right {
    -moz-border-radius-topright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-right-radius: 0.4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomright: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-right-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-left {
    -moz-border-radius-topleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-top-left-radius: 0.4em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomleft: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
    border-bottom-left-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-all {
    -moz-border-radius: 0.4em /*{global-radii-blocks}*/;
    -webkit-border-radius: 0.4em /*{global-radii-blocks}*/;
    border-radius: 0.4em /*{global-radii-blocks}*/;
}
.ui-corner-none {
    -moz-border-radius: 				   0;
    -webkit-border-radius: 				   0;
    border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
    border-bottom: rgb(130,130,130);
    border-bottom: rgba(130,130,130,.3);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
    filter: Alpha(Opacity=30);
    opacity: .3;
    zoom: 1;
}
.ui-disabled,
.ui-disabled a {
    cursor: default !important;
    pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
    background: #FFFFFF /*{global-icon-color}*/;
    background: rgba(0,0,0,0.2) /*{global-icon-disc}*/;
    background-image: url(images/icons-18-black.png) /*{global-icon-set}*/;
    background-repeat: no-repeat;
    -moz-border-radius: 				9px;
    -webkit-border-radius: 				9px;
    border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
    background: 						#fff;
    background: 						rgba(255,255,255,.3);
    background-image: url(images/icons-18-black.png);
    background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

    .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
    .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
    .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
    .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
    .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
        background-image: url(images/icons-36-white.png);
        -moz-background-size: 776px 18px;
        -o-background-size: 776px 18px;
        -webkit-background-size: 776px 18px;
        background-size: 776px 18px;
    }
    .ui-icon-alt {
        background-image: url(images/icons-36-black.png);
    }
}

/* plus minus */
.ui-icon-plus {
    background-position: 	-0 50%;
}
.ui-icon-minus {
    background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
    background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
    background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
    background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
    background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
    background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
    background-position: 	-252px 50%;
}
.ui-icon-gear {
    background-position: 	-288px 50%;
}
.ui-icon-refresh {
    background-position: 	-324px 50%;
}
.ui-icon-forward {
    background-position: 	-360px 50%;
}
.ui-icon-back {
    background-position: 	-396px 50%;
}
.ui-icon-grid {
    background-position: 	-432px 50%;
}
.ui-icon-star {
    background-position: 	-468px 50%;
}
.ui-icon-alert {
    background-position: 	-504px 50%;
}
.ui-icon-info {
    background-position: 	-540px 50%;
}
.ui-icon-home {
    background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
    background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
    background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
    background-position: 	-648px 50%;
}
.ui-icon-radio-off {
    background-position: 	-756px 50%;
}
.ui-icon-radio-on {
    background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
    background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
    background-color: #7cbf22 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
    -moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
    -moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
    -moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
    -moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
    -moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
    -moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
    -moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
    -moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
    -moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
    -moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
    border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
    -moz-border-radius: 0.6em /*{global-radii-buttons}*/;
    -webkit-border-radius: 0.6em /*{global-radii-buttons}*/;
    border-radius: 0.6em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
    background: #666;
    filter: Alpha(Opacity=50);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui-overlay-shadow {
    -moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
    -moz-box-shadow: 0px 1px 15px /*{global-box-shadow-size}*/ rgba(4,6,4,0.9) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0px 1px 15px /*{global-box-shadow-size}*/ rgba(4,6,4,0.9) /*{global-box-shadow-color}*/;
    box-shadow: 0px 1px 15px /*{global-box-shadow-size}*/ rgba(4,6,4,0.9) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
    -moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
    -webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
    box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
    -moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
    -moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    -webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
    box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
    outline: 0;
}
.ui-btn.ui-focus {
    z-index: 1;
}
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: inset 0px 0px 3px #7cbf22 /*{global-active-background-color}*/, 0px 0px 9px #7cbf22 /*{global-active-background-color}*/;
    -webkit-box-shadow: inset 0px 0px 3px #7cbf22 /*{global-active-background-color}*/, 0px 0px 9px #7cbf22 /*{global-active-background-color}*/;
    box-shadow: inset 0px 0px 3px #7cbf22 /*{global-active-background-color}*/, 0px 0px 9px #7cbf22 /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: 0px 0px 12px #7cbf22 /*{global-active-background-color}*/;
    -webkit-box-shadow: 0px 0px 12px #7cbf22 /*{global-active-background-color}*/;
    box-shadow: 0px 0px 12px #7cbf22 /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
    outline-width: 1px;
    outline-style: auto;
}
.ui-page .ui-header, .ui-page .ui-footer {
    position: fixed;
}	