<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:pe="http://primefaces.org/ui/extensions">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"/>
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Administración de Pacientes</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>

            <!--Panel para el administrador-->
            <p:panel rendered="#{pacientesJSFBean.usuario.esAdministrador}">
                <h:outputText value="Administración de Pacientes" style="font-size:16px;"/>
            </p:panel>

            <!--Panel para enfemería-->
            <p:panel id="a1" rendered="#{pacientesJSFBean.usuario.esEnfermeria}">
                <h:outputText value="Administración y Atención de Pacientes" style="font-size:16px;"/>
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value=" - " style="font-size:16px;" />
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value="#{atencionJSFBean.trabajoDTO.especialidad.nombreEspecialidad}" style="font-size:16px; font-weight: bolder" />
            </p:panel>

            <!--Panel para laboratorista-->
            <p:panel rendered="#{pacientesJSFBean.usuario.esLaboratorista}">
                <h:outputText value="Registro de Resultados de Pacientes" style="font-size:16px;"/>
            </p:panel>

            <!--Panel para médicos-->
            <p:panel id="a2" rendered="#{pacientesJSFBean.usuario.esMedico}">
                <h:outputText value="Atención de Pacientes" style="font-size:16px;"/>
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value=" - " style="font-size:16px;" />
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value="#{atencionJSFBean.trabajoDTO.especialidad.nombreEspecialidad}" style="font-size:16px; font-weight: bolder" />
            </p:panel>


            <p:spacer height="10px"/>
            <h:form id="formGeneral" >
                <p:panel id="panelBusqueda" header="Búsqueda de Pacientes"> 
                    <h:panelGrid id="gridFiltroBusqueda" columns="6" style="border: 0px" width="100%">
                        <h:outputText value="Documento" />  
                        <p:inputText id="inputNombre13" value="#{pacientesJSFBean. personaFiltro.documentoPersona}"/>  

                        <h:outputText value="Nombre" />  
                        <p:inputText id="inputNombre23" value="#{pacientesJSFBean. personaFiltro.nombrePersona}"/>  

                        <h:outputText value="Apellido Paterno" />  
                        <p:inputText id="inputNombre33" value="#{pacientesJSFBean. personaFiltro.apellidoPaternoPersona}"/>  

                        <h:outputText value="Apellido Materno" />  
                        <p:inputText id="inputNombre43" value="#{pacientesJSFBean. personaFiltro.apellidoMaternoPersona}"/>  

                        <h:outputText value="Dirección" />  
                        <p:inputText id="inputNombre53" value="#{pacientesJSFBean. personaFiltro.direccionPersona}"/>  

                        <h:outputLabel value ="Tipo de residencia" />
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.stringTipoResidenciaPersona}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Especificar residencia " itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaTipoResidenciaPersona}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun.code}"/>
                        </p:selectOneMenu>
                        <h:outputLabel value ="Pertenencia de vivienda" />
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.stringPertenenciaViviendaPersona}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Especificar pertenencia" itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaPertenenciaViviendaPersona}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun.code}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value ="Material de vivienda" />
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.stringMaterialViviendaPersona}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Especificar material" itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaMaterialViviendaPersona}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun.code}"/>
                        </p:selectOneMenu>
                        <h:outputLabel value ="Estatuto social" />
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.stringEstatutoSocialPersona}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Especificar Estatuto" itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaEstatutoSocialPersona}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun.code}"/>
                        </p:selectOneMenu>


                        <h:outputText value="Estado de Paciente " />  
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.paciente.estadoPacienteEnum}" >
                            <f:selectItem itemLabel="Todo" itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaEstadosPaciente}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu>

                        <h:outputText value="Sexo " />  
                        <p:selectOneMenu value="#{pacientesJSFBean.personaFiltro.sexoPersonaEnum}" >
                            <f:selectItem itemLabel="Cualquiera" itemValue="" />  
                            <f:selectItems value="#{pacientesJSFBean.listaSexoPersonaEnum}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu>

                    </h:panelGrid>

                    <h:panelGrid id="gridBotonesBusqueda" columns="3">
                        <p:commandButton id="btnBuscar" value="Buscar" actionListener="#{pacientesJSFBean.realizaBusqueda}"
                                         icon="ui-icon-document" ajax="true" update="panelResultados "
                                         />
                        <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{pacientesJSFBean.cleanAction}" icon="ui-icon-document" 
                                         update="panelBusqueda panelResultados btnModificarEntidad">
                            <f:setPropertyActionListener value="#{pacientesJSFBean.personaSeleccionada}" target="#{atencionJSFBean.personaSeleccionada}"/>
                        </p:commandButton>
                    </h:panelGrid>
                </p:panel>


                <p:panel id="panelResultados" header="Resultados">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnNuevaEntidad" value="Nuevo paciente"   
                                             ajax="true" actionListener="#{pacientesJSFBean.showNewDialog}"
                                             oncomplete="persistDialog.show()" update=":messages :persistDialog" 
                                             icon="ui-icon-plusthick" />
                            <p:commandButton id="btnDetalle"  value="Ver detalles " icon="ui-icon-zoomin"
                                             ajax="true" actionListener="#{pacientesJSFBean.cargaDetallesDePaciente}"
                                             oncomplete="#{pacientesJSFBean.mostrarDetalle eq true ? detailDialog.show() : detailDialog.hide()}" update=":messages :detailDialog" />
                            <p:separator/>
                        </p:toolbarGroup>   
                        <p:toolbarGroup align="right" >
                            <p:commandButton rendered="#{pacientesJSFBean.usuario.esMedico}" id="btnSepararPaciente" value="Separar atención"
                                             ajax="true" actionListener="#{atencionJSFBean.separarAtención}" update=":messages" />
                            <p:separator/>
                            <p:commandButton id="btnAux" rendered="#{!pacientesJSFBean.usuario.esAdministrador}" 
                                             value="#{pacientesJSFBean.usuario.esEnfermeria? 'Entrevistar': pacientesJSFBean.usuario.esMedico? 'Atender':'Registrar resultados' }"
                                             ajax="true" actionListener="#{atencionJSFBean.verificarPersonaSeleccionada}" update="messages atencionDialog" >
                                <f:attribute name="dialogName" value="atencionDialog"/>
                            </p:commandButton>
                        </p:toolbarGroup>
                    </p:toolbar>

                    <p:dataTable id="tablaEntidades" value="#{pacientesJSFBean.personaLazyModel}"
                                 var="lista" rowKey="#{lista.idPersona}" selectionMode="single"
                                 selection="#{pacientesJSFBean.personaSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" >
                        <p:ajax event="rowSelect" listener="#{atencionJSFBean.setarSeleccionado}"/>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Documento"/>
                            </f:facet>
                            <h:outputText value="#{lista.documentoPersona}" />                                                      
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Nombre(s)"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombrePersona}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Apellido Paterno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoPaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Apellido Materno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoMaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Fecha Nacimiento"/>
                            </f:facet>
                            <h:outputText value="#{lista.fechaNac}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Edad"/>
                            </f:facet>
                            <h:outputText value="#{lista.edad}" style="width:100%"/>  
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>







        <ui:define name="modal">


            <!-- Diálogo de creación de nueva entidad -->
            <p:dialog id="persistDialog" header="Nuevo Paciente" modal="true" 
                      widgetVar="persistDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="persistDialog" listener="#{pacientesJSFBean.handleDialogClose}"/>
                <h:form id="formModalPersis" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelCreación" header =" Información básica">
                        <h:panelGrid id="gridCreación" columns="6" style="border: 0px ; width:100%">
                            <h:outputLabel id="labelNuevoNombre" for="inputNuevoNombre" value="Nombres(*)"/>
                            <p:inputText id="inputNuevoNombre" value="#{pacientesJSFBean.nuevaPersona.nombrePersona}" />
                            <h:outputLabel id="labelNuevoApePa" for="inputNuevoApePa" value="Apellido Paterno(*)"/>
                            <p:inputText id="inputNuevoApePa" value="#{pacientesJSFBean.nuevaPersona.apellidoPaternoPersona}" />
                            <h:outputLabel id="labelNuevoApeMa" for="inputNuevoApeMa" value="Apellido Materno(*)"/>
                            <p:inputText id="inputNuevoApeMa" value="#{pacientesJSFBean.nuevaPersona.apellidoMaternoPersona}" />
                            <h:outputLabel id="labelFechNac" value="Fecha Nacimiento(*)"/>
                            <p:calendar locale="es" yearRange="1900"    showButtonPanel="true" navigator="true" id="peCal" value="#{pacientesJSFBean.nuevaPersona.fechaNacimientoPersona}"/>  
                            <h:outputLabel id="labelTelefonoFijo" for="inputTelefonoFijo" value="Telefono Fijo"/>
                            <p:inputText id="inputTelefonoFijo" value="#{pacientesJSFBean.nuevaPersona.telefonoFijoPersona}" />
                            <h:outputLabel id="labelTelefonoMovil" for="inputTelefonoMovil" value="Telefono Movil"/>
                            <p:inputText id="inputTelefonoMovil" value="#{pacientesJSFBean.nuevaPersona.telefonoCelularPersona}" />
                            <h:outputLabel id="labelTipoDocumento"  value="Tipo Documento(*)"/>
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.tipoDocumentoPersona}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Tipo" itemValue="" />  
                                <f:selectItem itemLabel="DNI" itemValue="1" />  
                                <f:selectItem itemLabel="Carnet de Extranjero" itemValue="2" />  
                            </p:selectOneMenu> 
                            <h:outputLabel id="labelDocumento" for="documentoId" value="Documento(*)"/>
                            <p:inputText id="documentoId" value="#{pacientesJSFBean.nuevaPersona.documentoPersona}" />

                            <h:outputLabel value ="Sexo" />
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.sexoPersonaEnum}" >
                                <f:selectItem noSelectionOption="true" itemLabel="Especificar sexo" itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaSexoPersonaEnum}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </p:panel>  
                    <p:panel id="panelExtras" header="Información adicional">
                        <h:panelGrid id="griInfoAdicional" columns="6" style="alignment-adjust: central">                 
                            <h:outputLabel id="labelEmail" for="inputEmail" value="Email"/>
                            <p:inputText id="inputEmail" value="#{pacientesJSFBean.nuevaPersona.emailPersona}" />

                            <h:outputLabel  value="País(*)"/>
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.idPaisNacionalidad}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir País " itemValue="" />  
                                <f:selectItems  value="#{pacientesJSFBean.listaPais}" var ="pais" itemLabel="#{pais.nombrePais}"  itemValue="#{pais.idPais}" />  
                                <p:ajax  update="persistSelectDepartamento persistSelectProvincia  persistSelectDistrito "  
                                         listener="#{pacientesJSFBean.persistManejaCambioPais}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Departamento(*)"/>
                            <p:selectOneMenu id="persistSelectDepartamento" value="#{pacientesJSFBean.idCompuestoDepartamento}" style="width:100%" >  
                                <f:selectItem itemLabel="Elegir Departamento " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaDepartamento}" var="departamento" itemLabel="#{departamento.nombreDepartamento}"  itemValue="#{departamento.idCompuestoDepartamento}"/>  
                                <p:ajax  update="persistSelectProvincia  persistSelectDistrito "  
                                         listener="#{pacientesJSFBean.manejaCambioDepartamento}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Provincia(*)"/>
                            <p:selectOneMenu id ="persistSelectProvincia" value="#{pacientesJSFBean.idCompuestoProvincia}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Provincia " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaProvincia}" var="provincia" itemLabel="#{provincia.nombreProvincia}" itemValue="#{provincia.idCompuestoProvincia}" />  
                                <p:ajax  update="persistSelectDistrito"  
                                         listener="#{pacientesJSFBean.manejaCambioProvincia}" />  
                            </p:selectOneMenu> 


                            <h:outputLabel  value="Distrito(*)"/>
                            <p:selectOneMenu  id ="persistSelectDistrito" value="#{pacientesJSFBean.nuevaPersona.idResidenciaDistrito}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Distrito " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaDistrito}" var="distrito" itemLabel="#{distrito.nombreDistrito}" itemValue="#{distrito.idCompuestoDistrito}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel id="labelDireccion"  value="Dirección(*)"/>
                            <p:inputTextarea  autoResize="false" value="#{pacientesJSFBean.nuevaPersona.direccionPersona}" />

                            <h:outputLabel value ="Tipo de residencia" />
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.tipoResidenciaPersonaEnum}" >
                                <f:selectItem noSelectionOption="true" itemLabel="Especificar residencia " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaTipoResidenciaPersona}"
                                               var="estadoEnum1"
                                               itemLabel="#{estadoEnum1.name}"
                                               itemValue="#{estadoEnun1}"/>
                            </p:selectOneMenu>
                            <h:outputLabel value ="Cantidad de dormitorios en la vivienda" />
                            <h:inputText id="inputCantidadDormitoriosPersist" value="#{pacientesJSFBean.cantidadDormitoriosVivienda}"/>

                            <h:outputLabel value ="Cantidad de personas en la vivienda" />
                            <h:inputText id="inputCantidadPersonasPersist" value="#{pacientesJSFBean.cantidadPersonasVivienda}"/>

                            <h:outputLabel value ="Pertenencia de vivienda" />
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.pertenenciaViviendaPersonaPersonaEnum}" >
                                <f:selectItem noSelectionOption="true" itemLabel="Especificar pertenencia" itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaPertenenciaViviendaPersona}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value ="Material de vivienda" />
                            <p:selectOneMenu value="#{pacientesJSFBean.nuevaPersona.materialViviendaPersonaEnum}" >
                                <f:selectItem noSelectionOption="true" itemLabel="Especificar material" itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaMaterialViviendaPersona}"
                                               var="estadoEnum3"
                                               itemLabel="#{estadoEnum3.name}"
                                               itemValue="#{estadoEnun3}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>    
                    </p:panel>
                    <p:panel id="panelVirtual" header="Datos Cuenta Virtual (No obligatorio)">
                        <h:panelGrid id="griInfoVirtual" columns="4" style="alignment-adjust: central">         
                            <h:outputLabel  value="Usuario"/>
                            <p:inputText value="#{pacientesJSFBean.nuevaPersona.usuario}" />
                            <h:outputLabel value="Contraseña"/>
                            <p:inputText value="#{pacientesJSFBean.nuevaPersona.clave}" />
                        </h:panelGrid>
                    </p:panel> 
                    <h:panelGrid id="gridBotonesGrabar" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar"
                                         actionListener="#{pacientesJSFBean.guardaPaciente}"
                                         ajax="true" update=":messages :formGeneral :tablaEntidades" >
                            <f:attribute name="dialogName" value="persistDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="persistDialog.hide()" type="button"
                                         immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>    



            <!--Diálogo de Modificación de entidad seleccionada en la tabla-4-->
            <p:dialog id="detailDialog" header="Detalle de paciente" modal="true"
                      widgetVar="detailDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="detailDialog" listener="#{pacientesJSFBean.handleDialogClose}"/>
                <h:form id="formDetailPersis" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelDetalla" header =" Información básica">
                        <h:panelGrid id="gridDetalle" columns="6" style="border: 0px ; width:100%">
                            <h:outputLabel id="labelDetalleNombre" for="inputDetalleNombre" value="Nombres(*)"/>
                            <p:inputText id="inputDetalleNombre" value="#{pacientesJSFBean.personaSeleccionada.nombrePersona}" />
                            <h:outputLabel id="labelDetalleApePa" for="inputDetalleApePa" value="Apellido Paterno(*)"/>
                            <p:inputText id="inputDetalleApePa" value="#{pacientesJSFBean.personaSeleccionada.apellidoPaternoPersona}" />
                            <h:outputLabel id="labelDetalleApeMa" for="inputDetalleApeMa" value="Apellido Materno(*)"/>
                            <p:inputText id="inputDetalleApeMa" value="#{pacientesJSFBean.personaSeleccionada.apellidoMaternoPersona}" />
                            <h:outputLabel id="labelFechNac" value="Fecha Nacimiento(*)"/>
                            <p:calendar locale="es" yearRange="1900"    showButtonPanel="true" navigator="true" id="peCal" value="#{pacientesJSFBean.personaSeleccionada.fechaNacimientoPersona}"/>  
                            <h:outputLabel id="labelTelefonoFijoDetalle" for="inputTelefonoFijoDetalle" value="Telefono Fijo"/>
                            <p:inputText id="inputTelefonoFijoDetalle" value="#{pacientesJSFBean.personaSeleccionada.telefonoFijoPersona}" />
                            <h:outputLabel id="labelTelefonoMovilDetalle" for="inputTelefonoMovilDetalle" value="Telefono Movil"/>
                            <p:inputText id="inputTelefonoMovilDetalle" value="#{pacientesJSFBean.personaSeleccionada.telefonoCelularPersona}" />

                            <h:outputLabel id="labelTipoDocumentoDetalle"  value="Tipo Documento(*)"/>
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.tipoDocumentoPersona}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Tipo" itemValue="" />  
                                <f:selectItem itemLabel="DNI" itemValue="1" />  
                                <f:selectItem itemLabel="Carnet de Extranjero" itemValue="2" />  
                            </p:selectOneMenu> 
                            <h:outputLabel id="labelDocumentoDetalle" for="inputDocumentoDetalle" value="Documento(*)"/>
                            <p:inputText id="inputDocumentoDetalle" value="#{pacientesJSFBean.personaSeleccionada.documentoPersona}" />

                            <h:outputLabel value ="Sexo" />
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.sexoPersonaEnum}" >
                                <f:selectItems value="#{pacientesJSFBean.listaSexoPersonaEnum}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </p:panel>  
                    <p:panel id="panelExtrasDetalle" header="Información adicional">
                        <h:panelGrid id="griInfoAdicionalDetalle" columns="6" style="alignment-adjust: central">                 
                            <h:outputLabel id="labelEmailDetalle" for="inputEmailDetalle" value="Email"/>
                            <p:inputText id="inputEmailDetalle" value="#{pacientesJSFBean.personaSeleccionada.emailPersona}" />

                            <h:outputLabel  value="País(*)"/>
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.idPaisNacionalidad}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir País " itemValue="" /> 
                                <f:selectItems  value="#{pacientesJSFBean.listaPais}" var ="pais" itemLabel="#{pais.nombrePais}"  itemValue="#{pais.idPais}" />  
                                <p:ajax  update="detailSelectDepartamento detailSelectProvincia detailSelectDistrito"  
                                         listener="#{pacientesJSFBean.detailManejaCambioPaisDetail}" />  

                            </p:selectOneMenu> 

                            <h:outputLabel  value="Departamento(*)"/>
                            <p:selectOneMenu id="detailSelectDepartamento"  value="#{pacientesJSFBean.idCompuestoDepartamentoPersonaSeleccionada}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Departamento " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaDepartamento}" var="departamento" itemLabel="#{departamento.nombreDepartamento}"  itemValue="#{departamento.idCompuestoDepartamento}"/>  
                                <p:ajax  update="detailSelectProvincia detailSelectDistrito"  
                                         listener="#{pacientesJSFBean.manejaCambioDepartamentoDetail}" />  

                            </p:selectOneMenu> 
                            <h:outputLabel  value="Provincia(*)"/>
                            <p:selectOneMenu id ="detailSelectProvincia" value="#{pacientesJSFBean.idCompuestoProvinciaPersonaSeleccionada}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Provincia " itemValue="" />  
                                <f:selectItems value="#{pacientesJSFBean.listaProvincia}" var="provincia" itemLabel="#{provincia.nombreProvincia}" itemValue="#{provincia.idCompuestoProvincia}" />  
                                <p:ajax  update="detailSelectDistrito"  
                                         listener="#{pacientesJSFBean.manejaCambioProvinciaDetail}" />  
                            </p:selectOneMenu> 
                            <h:outputLabel  value="Distrito(*)"/>
                            <p:selectOneMenu id="detailSelectDistrito" value="#{pacientesJSFBean.idCompuestoDistritoPersonaSeleccionada}" style="width:100%">  

                                <f:selectItems value="#{pacientesJSFBean.listaDistrito}" var="distrito" itemLabel="#{distrito.nombreDistrito}" itemValue="#{distrito.idCompuestoDistrito}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel id="labelDireccionDetalle"  value="Dirección(*)"/>
                            <p:inputTextarea  autoResize="false" value="#{pacientesJSFBean.personaSeleccionada.direccionPersona}" />

                            <h:outputLabel value ="Tipo de residencia" />
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.tipoResidenciaPersonaEnum}" >
                                <f:selectItems value="#{pacientesJSFBean.listaTipoResidenciaPersona}"
                                               var="estadoEnum1"
                                               itemLabel="#{estadoEnum1.name}"
                                               itemValue="#{estadoEnun1}"/>
                            </p:selectOneMenu>
                            <h:outputLabel value ="Cantidad de dormitorios en la vivienda" />
                            <h:inputText id="inputCantidadDormitoriosDetail" value="#{pacientesJSFBean.cantidadDormitoriosVivienda}"/>

                            <h:outputLabel value ="Cantidad de personas en la vivienda" />
                            <h:inputText id="inputCantidadPersonasDetail" value="#{pacientesJSFBean.cantidadPersonasVivienda}"/>

                            <h:outputLabel value ="Pertenencia de vivienda" />
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.pertenenciaViviendaPersonaPersonaEnum}" >
                                <f:selectItems value="#{pacientesJSFBean.listaPertenenciaViviendaPersona}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2.code}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value ="Material de vivienda" />
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.materialViviendaPersonaEnum}" >
                                <f:selectItems value="#{pacientesJSFBean.listaMaterialViviendaPersona}"
                                               var="estadoEnum3"
                                               itemLabel="#{estadoEnum3.name}"
                                               itemValue="#{estadoEnun3.code}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>     
                    </p:panel>

                    <p:panel id="panelEstado" header="Estado del paciente">

                        <h:panelGrid id="griInfoEstado" columns="1" style="alignment-adjust: central"> 
                            <h:outputLabel  value=" El estado inactivo indica que el paciente no aparecerá en las búsquedas"/>
                            <h:outputLabel  value=" A menos que se indique explícitamente que se desea buscar pacientes inactivos."/>
                        </h:panelGrid>     
                        <h:panelGrid id="griInfoEstado2" columns="2" style="alignment-adjust: central"> 
                            <h:outputText value="Estado: " />  
                            <p:selectOneMenu value="#{pacientesJSFBean.personaSeleccionada.paciente.estadoPacienteEnum}" >
                                <f:selectItems value="#{pacientesJSFBean.listaEstadosPaciente}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun.code}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>     


                    </p:panel>
                    <p:panel id="panelVirtualPersist" header="Datos Cuenta Virtual (No obligatorio)">
                        <h:panelGrid id="griInfoVirtualPersist" columns="4" style="alignment-adjust: central">         
                            <h:outputLabel  value="Usuario"/>
                            <p:inputText value="#{pacientesJSFBean.personaSeleccionada.usuario}" />
                            <h:outputLabel value="Contraseña"/>
                            <p:inputText value="#{pacientesJSFBean.personaSeleccionada.clave}" />
                        </h:panelGrid>
                    </p:panel>      
                    <h:panelGrid id="gridBotonesGrabarDetalle" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar modificación"
                                         actionListener="#{pacientesJSFBean.actualizaData}"
                                         ajax="true" update=":messages :formGeneral:tablaEntidades">
                            <f:attribute name="dialogName" value="detailDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="detailDialog.hide()" type="button"
                                         actionListener="#{pacientesJSFBean.inicializaNuevaPersona}" immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>



            <!--******************************* dialogos de atención **************************-->
            <!--***********DIALOGOS DE ATENCION******-->

            <!--Modal para seleccionar el trabajo o área en la cual se va a entrevistar-->
            <p:dialog visible="#{pacientesJSFBean.mostrarDialogTrabajo}" closable="false" id="seleccionarTrabajoDialog" header="Seleccionar la especialidad" modal="true"
                      widgetVar="seleccionarTrabajoDialog" resizable="false" showEffect="fade" hideEffect="fade" >
                <p:ajax event="close" update="detailDialog" listener="#{pacientesJSFBean.handleDialogClose}"/>
                <h:form id="formSeleccionarTrabajo" enctype="multipart/form-data" style="width:100%">
                    <p:dataTable id="trabajos" var="trabajo" value="#{pacientesJSFBean.listaTrabajos}"
                                 selection="#{atencionJSFBean.trabajoDTO}" rowKey="#{trabajo.idTrabajo}">
                        <p:ajax event="rowSelect" listener="#{atencionJSFBean.setarSeleccionado2}"/>
                        <p:column selectionMode="single" style="width:19px" />  
                        <p:column headerText="Especialidad">
                            <h:outputText value="#{trabajo.especialidad.nombreEspecialidad}"/>
                        </p:column>
                    </p:dataTable>
                    <h:panelGrid columns="1" styleClass="centered">
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.verificarTrabajoSeleccionado}"
                                         update="messages :a1 a1: a2 :a2">
                            <f:setPropertyActionListener value="false" target="#{pacientesJSFBean.mostrarDialogTrabajo}"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!--Diálogo de atención-->
            <p:dialog header="Información de #{pacientesJSFBean.usuario.esEnfermeria? 'la entrevista': 
                                               pacientesJSFBean.usuario.esMedico? 'la atención':'registro de resultados' }" 
                      id="atencionDialog" 
                      widgetVar="atencionDialog"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade"
                      closable="false">
                <h:form id="atencionForm" enctype="multipart/form-data" style="width:100%">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnPreguntas" actionListener="#{atencionJSFBean.cargarPreguntasGenerales}" value="Realizar preguntas"   
                                             ajax="true" oncomplete="entrevistarDialog.show()" 
                                             update=":messages 
                                             :formUbicacion :formUbicacion:outputPanel formUbicacion:outputPanel" icon="ui-icon-pencil" />
                            <p:separator rendered="#{pacientesJSFBean.usuario.esMedico}"/>

                            <p:commandButton id="btnEnfermedades" rendered="#{pacientesJSFBean.usuario.esMedico}" onclick="enfermedadesDialog.show()" 
                                             value="Asignar enfermedades" icon="ui-icon-plusthick"
                                             ajax="true" update=":messages" > 
                            </p:commandButton>
                            <p:inputText style="visibility: hidden;width: 10px"/>
                        </p:toolbarGroup>
                    </p:toolbar>
                    <h:panelGrid columns="2" cellspacing="5px" width="100%">



                        <h:outputText value="Fecha de la entrevista" rendered="#{atencionJSFBean.usuario.esEnfermeria}" />
                        <h:outputText value="Fecha del registro" rendered="#{atencionJSFBean.usuario.esLaboratorista}" />
                        <h:outputText value="Fecha de atención" rendered="#{atencionJSFBean.usuario.esMedico}" />
                        <h:outputText value="#{atencionJSFBean.atencion.fechaAtencion}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Lima" type="both"/>
                        </h:outputText>

                        <h:outputText value="Próxima atención" rendered="#{atencionJSFBean.usuario.esMedico}" />
                        <p:calendar  rendered="#{atencionJSFBean.usuario.esMedico}" value="#{atencionJSFBean.atencion.fechaAproxSiguienteAtencion}" 
                                     mindate="#{atencionJSFBean.fechaLuego}" pages="3"  />

                        <h:outputText value="Datos del trabajador"/>
                        <h:outputText value="#{atencionJSFBean.usuario.nombreCompleto}"/>

                        <h:outputText value="Paciente seleccionado"/>
                        <h:outputText value="#{atencionJSFBean.personaSeleccionada.nombrePersona} #{atencionJSFBean.personaSeleccionada.apellidoPaternoPersona} #{atencionJSFBean.personaSeleccionada.apellidoMaternoPersona}"/>

                        <h:outputText value="Número de historia clínica"/>
                        <h:outputText value="#{atencionJSFBean.personaSeleccionada.paciente.historia.idHistoria}"/>                        
                    </h:panelGrid>
                    <p:separator style="width: 80%"/>
                    <h:panelGrid columns="1">
                        <h:outputText value="Información adicional" rendered="#{!atencionJSFBean.usuario.esMedico}"/>
                        <h:outputText value="Diagnóstico" rendered="#{atencionJSFBean.usuario.esMedico}"/>
                        <p:inputTextarea id="taRC"  autoResize="false" cols="50" rows="4" style="" value="#{atencionJSFBean.atencion.diagnosticoAtencion}"/>
                    </h:panelGrid>
                    <p:spacer height="5px"/>
                    <h:panelGrid columns="3" styleClass="centered">
                        <p:commandButton ajax="true" value="Aceptar"  actionListener="#{atencionJSFBean.persistAction}" update=":messages 
                                         :formEnfermedad:autocompleteEnfermedad 
                                         formEnfermedad:autocompleteEnfermedad 
                                         :formUbicacion:autocompleteArea 
                                         formUbicacion:autocompleteArea
                                         :formUbicacion:autocompleteSubArea 
                                         formUbicacion:autocompleteSubArea 
                                         :formUbicacion:autocompleteProcedimiento
                                         formUbicacion:autocompleteProcedimiento ">
                            <f:attribute name="dialogName" value="atencionDialog"/>
                        </p:commandButton>
                        <p:commandButton ajax="true" value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}">
                            <f:attribute name="dialogName" value="atencionDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>








            <!--Diálogo de ubicación del paciente antes de entrevistar-->
            <p:dialog closable="false" rendered="#{!pacientesJSFBean.usuario.esAdministrador}" id="entrevistarDialog" 
                      header="#{pacientesJSFBean.usuario.esEnfermeria? 'Entrevista del paciente': 
                                pacientesJSFBean.usuario.esMedico? 'Atención del paciente':'Registro de resultados del paciente' }" modal="true"
                      widgetVar="entrevistarDialog" resizable="false" showEffect="fade" hideEffect="fade">
                <h:form id="formUbicacion" enctype="multipart/form-data" style="width:100%">
                    <h:panelGrid id="gridUbicacion" columns="2" style="border: 0px" >
                        <h:outputText value="Especialidad"  />  
                        <p:autoComplete id="autocompleteArea" value="#{atencionJSFBean.especialidadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="especialidadFiltro" itemLabel="#{especialidadFiltro.nombreEspecialidad}"
                                        itemValue="#{especialidadFiltro.idEspecialidad}"
                                        converter="#{especialidadConverter}"
                                        global="false">

                            <p:ajax event="itemSelect" update="autocompleteSubArea autocompleteEspecialidad"
                                    listener="#{atencionJSFBean.limpiarFiltrosPorEspecialidad}" />
                        </p:autoComplete>

                        <h:outputText value="Subespecialidad" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}" />  
                        <h:outputText value="Análisis" rendered="#{pacientesJSFBean.usuario.esLaboratorista}" />  

                        <p:autoComplete id="autocompleteSubArea" value="#{atencionJSFBean.subEspecialidadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeSubEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="subEspecialidadFiltro" itemLabel="#{subEspecialidadFiltro.nombreSubEspecialidad}"
                                        itemValue="#{subEspecialidadFiltro.idSubEspecialidad}"
                                        converter="#{subEspecialidadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" listener="#{atencionJSFBean.limpiarFiltrosPorSubEspecialidad}" />
                        </p:autoComplete>
                        <h:outputText value="Procedimiento" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}"  />  
                        <p:autoComplete id="autocompleteProcedimiento" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}" 
                                        value="#{atencionJSFBean.procedimientoFiltro}"
                                        completeMethod="#{atencionJSFBean.completeProcedimiento}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="procedimientoFiltro" itemLabel="#{procedimientoFiltro.nombreProcedimiento}"
                                        itemValue="#{procedimientoFiltro.idProcedimiento}"
                                        converter="#{procedimientoConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" listener="#{atencionJSFBean.cargarPreguntasProcedimiento}" />
                        </p:autoComplete>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <h:outputText value="El orden de búsquedas es por 'Especialidad', 'Subespecialidad' y 'Procedimiento'" style="color: steelblue" />
                    </h:panelGrid>
                    <p:spacer height="6px"/>
                    <p:outputPanel id="outputPanel" autoUpdate="true">
                        <p:tabView activeIndex="#{atencionJSFBean.selectedIndex}"  id="tabView" effect="fold" effectDuration="normal" >  

                            <!--Tab para preguntas generales-->
                            <p:tab   titletip="Preguntas para todas las especialidades" 
                                     id="tabGenerales" 
                                     title="Generales" disabled="#{!atencionJSFBean.mostrarTabGeneral}" 
                                     rendered="#{!atencionJSFBean.usuario.esLaboratorista}">
                                <h:outputText value="No existen preguntas generales configuradas" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasGenerales)==0}"/>
                                <p:scrollPanel id="srcollGeneral" mode="native" style="border-color: #fff; width: 100%; height: 350px"  >
                                    <ui:repeat value="#{atencionJSFBean.preguntasGenerales}" var="preguntaGeneral" varStatus="contPregunta" >
                                        <h:panelGrid id="asb" columns="1" width="100%" rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaGeneral.descripcionPregunta}"/>

                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'O' or preguntaGeneral.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaGeneral.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaGeneral.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>   
                            </p:tab>  


                            <!--Tab parapreguntas por especialidad-->
                            <p:tab id="tabEspecialidad"
                                   title="Especialidad " 
                                   disabled="#{!atencionJSFBean.mostrarTabEspecialidad}"
                                   rendered="#{!atencionJSFBean.usuario.esLaboratorista}">  
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasEspecialidad)>0}" for="tabEspecialidad" 
                                           value="Preguntas para la especialidad de #{atencionJSFBean.especialidadFiltro.nombreEspecialidad}"     />

                                <h:outputText value="La especialidad seleccionada no posee configurada ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasEspecialidad)==0}"/>
                                <p:scrollPanel id="srcollEspecialidad" mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasEspecialidad}" var="preguntaEspecialidad" varStatus="contPreguntaEspecialidad" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:panelGrid columns="1">
                                                <h:outputText value="#{preguntaEspecialidad.descripcionPregunta}"/>

                                                <!--Si la pregunta es de tipo texto numérico-->
                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                    <p:inputText value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"   >
                                                    <p:inputText value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'O' or preguntaEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                    <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}">  
                                                        <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                                        itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                        itemValue="#{alternativa.descripcionAlternativa}" />  
                                                    </p:selectOneRadio> 
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                    <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"  >
                                                    <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaEspecialidad.respuestasSeleccionadas}">   
                                                        <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                                        itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                        itemValue="#{alternativa.descripcionAlternativa}" />  
                                                    </p:selectManyCheckbox> 
                                                </h:panelGrid>
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaEspecialidad.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaEspecialidad.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                    <p:spacer height="3px"/>
                                    <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaEspecialidad.last}"/>
                                    <p:spacer height="3px" rendered="#{!contPreguntaEspecialidad.last}"/>

                                    <p:commandButton id="btnCalculoRC" style="text-align: center" rendered="#{atencionJSFBean.lowerCaseDescripcionEspecialidad eq 'cardio' }" 
                                                     value="Calcular riesgo cardiovascular"
                                                     ajax="true" actionListener="#{atencionJSFBean.realizaCalculoRiesgoCardioVascular}" update="messages :atencionForm:taRC" >
                                        <f:attribute name="dialogName" value="atencionDialog"/>
                                    </p:commandButton>
                                </p:scrollPanel> 
                            </p:tab>  


                            <!--Tab para preguntas por subEspecialidad--> 
                            <p:tab id="tabSubespecialidad" 
                                   title="#{atencionJSFBean.usuario.esLaboratorista eq true? 'Análisis':'Subespecialidad'}"  
                                   disabled="#{!atencionJSFBean.mostrarTabSubEspecialidad}">  
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)>0 and atencionJSFBean.usuario.esLaboratorista eq false}" for="tabSubespecialidad" 
                                           value="Preguntas para la subespecialidad de #{atencionJSFBean.subEspecialidadFiltro.nombreSubEspecialidad}"   />
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)>0 and atencionJSFBean.usuario.esLaboratorista eq true}" for="tabSubespecialidad" 
                                           value="Preguntas para el análisis de #{atencionJSFBean.subEspecialidadFiltro.nombreSubEspecialidad}"   />

                                <h:outputText value="La sub especialidad seleccionada no posee configurada ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)==0 and atencionJSFBean.usuario.esLaboratorista eq false}"/>
                                <h:outputText value="Seleccionar el análisis para cargar las preguntas correspondientes" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)==0 and atencionJSFBean.usuario.esLaboratorista eq true}"/>
                                <p:scrollPanel id="scrollSubEspecialidad"  mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasSubEspecialidad}" var="preguntaSubEspecialidad" varStatus="contPreguntaSubEspecialidad" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaSubEspecialidad.descripcionPregunta}"/>

                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>


                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"  >
                                                <p:inputText value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'O' or preguntaSubEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%" >
                                                <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaSubEspecialidad.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaSubEspecialidad.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contpreguntaSubEspecialidad.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>
                            </p:tab>  

                            <p:tab id="tabProcedimiento" 
                                   rendered="#{!pacientesJSFBean.usuario.esLaboratorista}"  title="Procedimiento"  
                                   disabled="#{!atencionJSFBean.mostrarTabProcedimiento}">  

                                <h:outputText value="El procedimiento seleccionado no posee configurado ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasProcedimiento)==0}"/>
                                <p:scrollPanel id="scrollProcedimiento"  mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasProcedimiento}" var="preguntaProcedimiento" varStatus="contPreguntaProcedimiento" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaProcedimiento.descripcionPregunta}"/>
                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'T'}" columns="1" width="100%"  >
                                                <p:inputText value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'O' or preguntaProcedimiento.tipoRespuesta eq 'G'}" columns="2" width="100%" >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'C'}" columns="1" width="100%" >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaProcedimiento.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaProcedimiento.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaProcedimiento.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>
                            </p:tab>  
                        </p:tabView>  
                    </p:outputPanel>
                    <h:panelGrid columns="3" styleClass="centered">

                        <!--Uso el metodoQueNoHaceNada únicamente porque el método no hace nada, sólo para pasar los parámetros al servidor-->
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.metodoQueNoHaceNada}" 
                                         update=":messages @form" >
                            <f:attribute name="dialogName" value="entrevistarDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}"
                                         update=":messages :@form">
                            <f:attribute name="dialogName" value="entrevistarDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>






            <!--Dialogo de selección de enfermedades-->
            <p:dialog closable="false" rendered="#{!pacientesJSFBean.usuario.esAdministrador}"  id="enfermedadesDialog" 
                      header="Selección de Enfermedades" modal="true"
                      widgetVar="enfermedadesDialog" resizable="false" showEffect="fade" hideEffect="fade">
                <h:form id="formEnfermedad" enctype="multipart/form-data" style="width:100%">
                    <h:panelGrid id="gridComplete" columns="2">
                        <h:outputText value="Enfermedad"/>
                        <p:autoComplete id="autocompleteEnfermedad" value="#{atencionJSFBean.enfermedadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeEnfermedad}"
                                        size="50"
                                        scrollHeight="130"
                                        minQueryLength="5" forceSelection="true"
                                        var="enfermedad" itemLabel="#{enfermedad.nombreEnfermedad}"
                                        itemValue="#{enfermedad.idEnfermedad}"
                                        converter="#{enfermedadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" update="tablaEnfermedades 
                                    :formEnfermedad:gridComplete formEnfermedad:gridComplete 
                                    gridComplete :gridComplete messages @form "
                                    listener="#{atencionJSFBean.agregarEnfermedad}" />
                        </p:autoComplete>  
                    </h:panelGrid>
                    <p:spacer height="5px"/>
                    <p:separator style="width: 80%"/>
                    <p:spacer height="5px"/>
                    <p:outputPanel autoUpdate="true">
                        <p:dataTable id="tablaEnfermedades" value="#{atencionJSFBean.listaEnfermedades}" var="enfermedad" rowKey="#{enfermedad.idEnfermedad}" 
                                     selection="#{atencionJSFBean.enfermedadSeleccionada}" selectionMode="single" emptyMessage="No existen enfermedades asignadas">

                            <p:column headerText="Enfermedad">
                                <h:outputText value="#{enfermedad.nombreEnfermedad}" />                              
                            </p:column>
                            <p:column headerText="Acción" style="width: 20%; text-align: center" >
                                <p:commandLink id="deleteButton" actionListener="#{atencionJSFBean.quitarEnfermedad}" 
                                               update="tablaEnfermedades :messages">
                                    <p:graphicImage value="../resources/images/deleteIcon.png" width="22px" height="22px"/>
                                    <p:tooltip for="deleteButton" value="Quitar enfermedad"/>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </p:outputPanel>

                    <h:panelGrid columns="3" styleClass="centered">
                        <!--Uso el metodoQueNoHaceNada únicamente porque el método no hace nada, sólo para pasar los parámetros al servidor-->
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.metodoQueNoHaceNada}" 
                                         update=":messages @form" >
                            <f:attribute name="dialogName" value="enfermedadesDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}"
                                         update=":messages :@form">
                            <f:attribute name="dialogName" value="enfermedadesDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>


