<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:pe="http://primefaces.org/ui/extensions">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"/>
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Administración de Empleados</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>
            
            <p:panel >
                <h:outputText value="Administración de Empleados" style="font-size:16px;"/>
            </p:panel>
            <p:spacer height="10px"/>
            <h:form id="formGeneral" >


                <p:panel id="panelBusqueda" header="Búsqueda de Empleados"> 
                    <h:panelGrid id="gridFiltroBusqueda" columns="6" style="border: 0px" width="100%">
                        <h:outputText value="Documento" />  
                        <p:inputText id="inputNombre13" value="#{empleadosJSFBean. personaFiltro.documentoPersona}"/>  

                        <h:outputText value="Nombre" />  
                        <p:inputText id="inputNombre23" value="#{empleadosJSFBean. personaFiltro.nombrePersona}"/>  

                        <h:outputText value="Apellido Paterno" />  
                        <p:inputText id="inputNombre33" value="#{empleadosJSFBean. personaFiltro.apellidoPaternoPersona}"/>  

                        <h:outputText value="Apellido Materno" />  
                        <p:inputText id="inputNombre43" value="#{empleadosJSFBean. personaFiltro.apellidoMaternoPersona}"/>  

                        <h:outputText value="Dirección" />  
                        <p:inputText id="inputNombre53" value="#{empleadosJSFBean. personaFiltro.direccionPersona}"/>  

                        <h:outputLabel value ="Tipo Empleado" />
                        <p:selectOneMenu value="#{empleadosJSFBean.personaFiltro.empleado.quienPreguntaEnum}" >
                            <f:selectItem  itemLabel="Especificar rol" itemValue="" />  
                            <f:selectItems value="#{empleadosJSFBean.listaQuienPreguntaEnum}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu> 
                        <h:outputLabel  value="Especialidad"/>
                        <p:selectOneMenu value="#{empleadosJSFBean.especialidadSeleccionadaId}" style="width:100%">  
                            <f:selectItem itemLabel="Elegir especialidad " itemValue="-1" />  
                            <f:selectItems  value="#{empleadosJSFBean.listaEspecialidad}" var ="especialidad" itemLabel="#{especialidad.nombreEspecialidad}"  itemValue="#{especialidad.idEspecialidad}" />  
                        </p:selectOneMenu> 

                        <h:outputText value="Estado de Empleado " />  
                        <p:selectOneMenu value="#{empleadosJSFBean.personaFiltro.empleado.estadoEmpleadoEnum}" >
                            <f:selectItem itemLabel="Todo" itemValue="" />  
                            <f:selectItems value="#{empleadosJSFBean.listaEstadosEmpleado}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu>

                        <h:outputText value="Sexo " />  
                        <p:selectOneMenu value="#{empleadosJSFBean.personaFiltro.sexoPersonaEnum}" >
                            <f:selectItem itemLabel="Cualquiera" itemValue="" />  
                            <f:selectItems value="#{empleadosJSFBean.listaSexoPersonaEnum}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>

                    <h:panelGrid id="gridBotonesBusqueda" columns="3">
                        <p:commandButton id="btnBuscar" value="Buscar" actionListener="#{empleadosJSFBean.realizaBusqueda}"
                                         icon="ui-icon-document" ajax="true" update="panelResultados "
                                         />
                        <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{empleadosJSFBean.cleanAction}" icon="ui-icon-document" 
                                         update="panelBusqueda panelResultados btnModificarEntidad">
                        </p:commandButton>
                    </h:panelGrid>
                </p:panel>


                <p:panel id="panelResultados" header="Resultados">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnNuevaEntidad" value="Nuevo Empleado"   
                                             ajax="true" actionListener="#{empleadosJSFBean.showNewDialog}"
                                             oncomplete="persistDialog.show()" update=":messages :persistDialog" 
                                             icon="ui-icon-plusthick" />
                            <p:commandButton id="btnDetalle"  value="Ver detalles " icon="ui-icon-zoomin"
                                             ajax="true" actionListener="#{empleadosJSFBean.cargaDetallesDeEmpleado}"
                                             oncomplete="#{empleadosJSFBean.mostrarDetalle eq true ? detailDialog.show() : detailDialog.hide()}" update=":messages :detailDialog" />

                        </p:toolbarGroup>
                    </p:toolbar>

                    <p:dataTable id="tablaEntidades" value="#{empleadosJSFBean.personaLazyModel}"
                                 var="lista" rowKey="#{lista.idPersona}" selectionMode="single"
                                 selection="#{empleadosJSFBean.personaSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Documento"/>
                            </f:facet>
                            <h:outputText value="#{lista.documentoPersona}" />                                                      
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Nombre(s)"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombrePersona}" style="width:100%"/>  
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Apellido Paterno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoPaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Apellido Materno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoMaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Tipo Empleado"/>
                            </f:facet>
                            <h:outputText value="#{lista.empleado.quienPreguntaEnum.name}" style="width:100%"/>  
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>

        <ui:define name="modal">
            <!-- Diálogo de creación de nueva entidad -->
            <p:dialog id="persistDialog" header="Nuevo Empleado" modal="true"
                      widgetVar="persistDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="persistDialog" listener="#{empleadosJSFBean.handleDialogClose}"/>
                <h:form id="formModalPersis" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelCreación" header =" Información básica">
                        <h:panelGrid id="gridCreación" columns="6" style="border: 0px ; width:100%">
                            <h:outputLabel id="labelNuevoNombre" for="inputNuevoNombre" value="Nombres(*)"/>
                            <p:inputText id="inputNuevoNombre" value="#{empleadosJSFBean.nuevaPersona.nombrePersona}" />
                            <h:outputLabel id="labelNuevoApePa" for="inputNuevoApePa" value="Apellido Paterno(*)"/>
                            <p:inputText id="inputNuevoApePa" value="#{empleadosJSFBean.nuevaPersona.apellidoPaternoPersona}" />
                            <h:outputLabel id="labelNuevoApeMa" for="inputNuevoApeMa" value="Apellido Materno(*)"/>
                            <p:inputText id="inputNuevoApeMa" value="#{empleadosJSFBean.nuevaPersona.apellidoMaternoPersona}" />
                            <h:outputLabel id="labelFechNac" value="Fecha Nacimiento(*)"/>
                            <p:calendar locale="es" yearRange="1900"    showButtonPanel="true" navigator="true" id="peCal" value="#{empleadosJSFBean.nuevaPersona.fechaNacimientoPersona}"/>  
                            <h:outputLabel id="labelTelefonoFijo" for="inputTelefonoFijo" value="Telefono Fijo"/>
                            <p:inputText id="inputTelefonoFijo" value="#{empleadosJSFBean.nuevaPersona.telefonoFijoPersona}" />
                            <h:outputLabel id="labelTelefonoMovil" for="inputTelefonoMovil" value="Telefono Movil"/>
                            <p:inputText id="inputTelefonoMovil" value="#{empleadosJSFBean.nuevaPersona.telefonoCelularPersona}" />
                            <h:outputLabel id="labelTipoDocumento"  value="Tipo Documento(*)"/>
                            <p:selectOneMenu value="#{empleadosJSFBean.nuevaPersona.tipoDocumentoPersona}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Tipo" itemValue="" />  
                                <f:selectItem itemLabel="DNI" itemValue="1" />  
                                <f:selectItem itemLabel="Carnet de Extranjero" itemValue="2" />  
                            </p:selectOneMenu> 
                            <h:outputLabel id="labelDocumento" for="documentoId" value="Documento(*)"/>
                            <p:inputText id="documentoId" value="#{empleadosJSFBean.nuevaPersona.documentoPersona}" />

                            <h:outputLabel value ="Sexo" />
                            <p:selectOneMenu value="#{empleadosJSFBean.nuevaPersona.sexoPersonaEnum}" >
                                <f:selectItem noSelectionOption="true" itemLabel="Especificar sexo" itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaSexoPersonaEnum}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>
                    </p:panel>  
                    <p:panel id="panelExtras" header="Información adicional">
                        <h:panelGrid id="griInfoAdicional" columns="6" style="alignment-adjust: central">                 
                            <h:outputLabel id="labelEmail" for="inputEmail" value="Email"/>
                            <p:inputText id="inputEmail" value="#{empleadosJSFBean.nuevaPersona.emailPersona}" />

                            <h:outputLabel  value="País(*)"/>
                            <p:selectOneMenu value="#{empleadosJSFBean.nuevaPersona.idPaisNacionalidad}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir País " itemValue="" />  
                                <f:selectItems  value="#{empleadosJSFBean.listaPais}" var ="pais" itemLabel="#{pais.nombrePais}"  itemValue="#{pais.idPais}" />  
                                <p:ajax  update="persistSelectDepartamento persistSelectProvincia  persistSelectDistrito "  
                                         listener="#{empleadosJSFBean.persistManejaCambioPais}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Departamento(*)"/>
                            <p:selectOneMenu id="persistSelectDepartamento" value="#{empleadosJSFBean.idCompuestoDepartamento}" style="width:100%" >  
                                <f:selectItem itemLabel="Elegir Departamento " itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaDepartamento}" var="departamento" itemLabel="#{departamento.nombreDepartamento}"  itemValue="#{departamento.idCompuestoDepartamento}"/>  
                                <p:ajax  update="persistSelectProvincia  persistSelectDistrito "  
                                         listener="#{empleadosJSFBean.manejaCambioDepartamento}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Provincia(*)"/>
                            <p:selectOneMenu id ="persistSelectProvincia" value="#{empleadosJSFBean.idCompuestoProvincia}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Provincia " itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaProvincia}" var="provincia" itemLabel="#{provincia.nombreProvincia}" itemValue="#{provincia.idCompuestoProvincia}" />  
                                <p:ajax  update="persistSelectDistrito"  
                                         listener="#{empleadosJSFBean.manejaCambioProvincia}" />  
                            </p:selectOneMenu> 


                            <h:outputLabel  value="Distrito(*)"/>
                            <p:selectOneMenu  id ="persistSelectDistrito" value="#{empleadosJSFBean.nuevaPersona.idResidenciaDistrito}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Distrito " itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaDistrito}" var="distrito" itemLabel="#{distrito.nombreDistrito}" itemValue="#{distrito.idCompuestoDistrito}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel id="labelDireccion"  value="Dirección(*)"/>
                            <p:inputTextarea  autoResize="false" value="#{empleadosJSFBean.nuevaPersona.direccionPersona}" />
                        </h:panelGrid>    
                    </p:panel>
                    <p:panel id="panelPersistLaboral" header="Datos Laborales">
                        <h:panelGrid  columns="3" style="alignment-adjust: central">         
                            <p:selectOneMenu value="#{empleadosJSFBean.nuevaPersona.empleado.quienPreguntaEnum}" >
                                <f:selectItem itemLabel="Especificar tipo empleado" itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaQuienPreguntaEnum}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu>
                            <p:selectOneMenu value="#{empleadosJSFBean.especialidadSeleccionadaIdPersist}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir especialidad a asignar " itemValue="-1" />  
                                <f:selectItems  value="#{empleadosJSFBean.listaEspecialidad}" var ="esp" itemLabel="#{esp.nombreEspecialidad}"  itemValue="#{esp.idEspecialidad}" />  
                            </p:selectOneMenu> 
                            <p:commandButton id="btnNuevaEspecialidad" value="Agregar especialidad"   
                                             ajax="true" actionListener="#{empleadosJSFBean.addEspecialidadPersist}"
                                             update="persistTablaEspecialidades messages" 
                                             icon="ui-icon-plusthick" />
                        </h:panelGrid>
                        <p:dataTable id="persistTablaEspecialidades" value="#{empleadosJSFBean.listaEspecialidadPersist}" var="especialidad"
                                     rowKey="#{especialidad.idEspecialidad}" emptyMessage="No hay datos"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                     paginator="true" rows="3" paginatorPosition="bottom"  
                                     selection="#{empleadosJSFBean.especialidadSeleccionadaPersist}"
                                     selectionMode="single"
                                     >

                            <p:ajax event="rowEdit" update="messages  persistTablaEspecialidades"/>

                            <p:column headerText="Especialidad Asignada" style="text-align:center">
                                <h:outputText value="#{especialidad.nombreEspecialidad}"/>  
                            </p:column>
                            <p:column headerText="Acción" style="width: 20%; text-align: center" >
                                <p:commandLink id="deleteButton" actionListener="#{empleadosJSFBean.removeEspecialidadPersist}" 
                                               update=":formModalPersis :messages" >
                                    <p:graphicImage value="../resources/images/deleteIcon.png" width="22px" height="22px"/>
                                    <p:tooltip for="deleteButton" value="Quitar especialidad"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:panel> 
                    <p:panel id="panelVirtual" header="Datos Cuenta Virtual (No obligatorio)">
                        <h:panelGrid id="griInfoVirtual" columns="4" style="alignment-adjust: central">         
                            <h:outputLabel  value="Usuario"/>
                            <p:inputText value="#{empleadosJSFBean.nuevaPersona.usuario}" />
                            <h:outputLabel value="Contraseña"/>
                            <p:inputText value="#{empleadosJSFBean.nuevaPersona.clave}" />
                        </h:panelGrid>
                    </p:panel> 
                    <h:panelGrid id="gridBotonesGrabar" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar"
                                         actionListener="#{empleadosJSFBean.guardaEmpleado}"
                                         ajax="true" update=":messages :formGeneral :tablaEntidades" >
                            <f:attribute name="dialogName" value="persistDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="persistDialog.hide()" type="button"
                                         immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>    


            <!--Diálogo de Modificación de entidad seleccionada en la tabla-4-->
            <p:dialog id="detailDialog" header="Detalle de Empleado" modal="true"
                      widgetVar="detailDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="detailDialog" listener="#{empleadosJSFBean.handleDialogClose}"/>
                <h:form id="formDetail" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelDetalla" header =" Información básica">
                        <h:panelGrid id="gridDetalle" columns="6" style="border: 0px ; width:100%">
                            <h:outputLabel id="labelDetalleNombre" for="inputDetalleNombre" value="Nombres(*)"/>
                            <p:inputText id="inputDetalleNombre" value="#{empleadosJSFBean.personaSeleccionada.nombrePersona}" />
                            <h:outputLabel id="labelDetalleApePa" for="inputDetalleApePa" value="Apellido Paterno(*)"/>
                            <p:inputText id="inputDetalleApePa" value="#{empleadosJSFBean.personaSeleccionada.apellidoPaternoPersona}" />
                            <h:outputLabel id="labelDetalleApeMa" for="inputDetalleApeMa" value="Apellido Materno(*)"/>
                            <p:inputText id="inputDetalleApeMa" value="#{empleadosJSFBean.personaSeleccionada.apellidoMaternoPersona}" />
                            <h:outputLabel id="labelFechNac" value="Fecha Nacimiento(*)"/>
                            <p:calendar locale="es" yearRange="1900"    showButtonPanel="true" navigator="true" id="peCal" value="#{empleadosJSFBean.personaSeleccionada.fechaNacimientoPersona}"/>  
                            <h:outputLabel id="labelTelefonoFijoDetalle" for="inputTelefonoFijoDetalle" value="Telefono Fijo"/>
                            <p:inputText id="inputTelefonoFijoDetalle" value="#{empleadosJSFBean.personaSeleccionada.telefonoFijoPersona}" />
                            <h:outputLabel id="labelTelefonoMovilDetalle" for="inputTelefonoMovilDetalle" value="Telefono Movil"/>
                            <p:inputText id="inputTelefonoMovilDetalle" value="#{empleadosJSFBean.personaSeleccionada.telefonoCelularPersona}" />

                            <h:outputLabel id="labelTipoDocumentoDetalle"  value="Tipo Documento(*)"/>
                            <p:selectOneMenu value="#{empleadosJSFBean.personaSeleccionada.tipoDocumentoPersona}" style="width:100%">  
                                <f:selectItem noSelectionOption="true" itemLabel="Elegir Tipo" itemValue="" />  
                                <f:selectItem itemLabel="DNI" itemValue="1" />  
                                <f:selectItem itemLabel="Carnet de Extranjero" itemValue="2" />  
                            </p:selectOneMenu> 
                            <h:outputLabel id="labelDocumentoDetalle" for="inputDocumentoDetalle" value="Documento(*)"/>
                            <p:inputText id="inputDocumentoDetalle" value="#{empleadosJSFBean.personaSeleccionada.documentoPersona}" />

                            <h:outputLabel value ="Sexo" />
                            <p:selectOneMenu value="#{empleadosJSFBean.personaSeleccionada.sexoPersonaEnum}" >
                                <f:selectItems value="#{empleadosJSFBean.listaSexoPersonaEnum}"
                                               var="estadoEnum2"
                                               itemLabel="#{estadoEnum2.name}"
                                               itemValue="#{estadoEnun2}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </p:panel>  
                    <p:panel id="panelExtrasDetalle" header="Información adicional">
                        <h:panelGrid id="griInfoAdicionalDetalle" columns="6" style="alignment-adjust: central">                 
                            <h:outputLabel id="labelEmailDetalle" for="inputEmailDetalle" value="Email"/>
                            <p:inputText id="inputEmailDetalle" value="#{empleadosJSFBean.personaSeleccionada.emailPersona}" />

                            <h:outputLabel  value="País(*)"/>
                            <p:selectOneMenu value="#{empleadosJSFBean.personaSeleccionada.idPaisNacionalidad}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir País " itemValue="" /> 
                                <f:selectItems  value="#{empleadosJSFBean.listaPais}" var ="pais" itemLabel="#{pais.nombrePais}"  itemValue="#{pais.idPais}" />  
                                <p:ajax  update="detailSelectDepartamento detailSelectProvincia detailSelectDistrito"  
                                         listener="#{empleadosJSFBean.detailManejaCambioPaisDetail}" />  

                            </p:selectOneMenu> 

                            <h:outputLabel  value="Departamento(*)"/>
                            <p:selectOneMenu id="detailSelectDepartamento"  value="#{empleadosJSFBean.idCompuestoDepartamentoPersonaSeleccionada}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Departamento " itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaDepartamento}" var="departamento" itemLabel="#{departamento.nombreDepartamento}"  itemValue="#{departamento.idCompuestoDepartamento}"/>  
                                <p:ajax  update="detailSelectProvincia detailSelectDistrito"  
                                         listener="#{empleadosJSFBean.manejaCambioDepartamentoDetail}" />  

                            </p:selectOneMenu> 
                            <h:outputLabel  value="Provincia(*)"/>
                            <p:selectOneMenu id ="detailSelectProvincia" value="#{empleadosJSFBean.idCompuestoProvinciaPersonaSeleccionada}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir Provincia " itemValue="" />  
                                <f:selectItems value="#{empleadosJSFBean.listaProvincia}" var="provincia" itemLabel="#{provincia.nombreProvincia}" itemValue="#{provincia.idCompuestoProvincia}" />  
                                <p:ajax  update="detailSelectDistrito"  
                                         listener="#{empleadosJSFBean.manejaCambioProvinciaDetail}" />  
                            </p:selectOneMenu> 
                            <h:outputLabel  value="Distrito(*)"/>
                            <p:selectOneMenu id="detailSelectDistrito" value="#{empleadosJSFBean.idCompuestoDistritoPersonaSeleccionada}" style="width:100%">  

                                <f:selectItems value="#{empleadosJSFBean.listaDistrito}" var="distrito" itemLabel="#{distrito.nombreDistrito}" itemValue="#{distrito.idCompuestoDistrito}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel id="labelDireccionDetalle"  value="Dirección(*)"/>
                            <p:inputTextarea  autoResize="false" value="#{empleadosJSFBean.personaSeleccionada.direccionPersona}" />

                        </h:panelGrid>     
                    </p:panel>
                    <p:panel id="panelDetailLaboral" header="Datos Laborales">

                        <h:panelGrid  columns="3" style="alignment-adjust: central">         
                            <p:selectOneMenu value="#{empleadosJSFBean.personaSeleccionada.empleado.quienPreguntaEnum}" >
                                <f:selectItems value="#{empleadosJSFBean.listaQuienPreguntaEnum}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu>
                            <p:selectOneMenu value="#{empleadosJSFBean.especialidadSeleccionadaIdPersist}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir especialidad a asignar " itemValue="-1" />  
                                <f:selectItems  value="#{empleadosJSFBean.listaEspecialidad}" var ="esp" itemLabel="#{esp.nombreEspecialidad}"  itemValue="#{esp.idEspecialidad}" />  
                            </p:selectOneMenu> 
                            <p:commandButton id="btnNuevaEspecialidad" value="Agregar especialidad"   
                                             ajax="true" actionListener="#{empleadosJSFBean.addEspecialidadDetail}"
                                             update="detailTablaEspecialidades messages" 
                                             icon="ui-icon-plusthick" >
                            </p:commandButton>
                        </h:panelGrid>
                        <!--<p:outputPanel autoUpdate="true">-->
                        <p:dataTable id="detailTablaEspecialidades" value="#{empleadosJSFBean.listaTrabajosDetail}" var="trabajo"
                                     rowKey="#{trabajo.idTrabajo}" emptyMessage="No hay datos"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                     paginator="true" rows="3" paginatorPosition="bottom"  
                                     selection="#{empleadosJSFBean.trabajoSeleccionadoDetail}"
                                     selectionMode="single">

                            <p:ajax event="rowEdit" update="messages  detailTablaEspecialidades"/>

                            <p:column headerText="Especialidad Asignada" style="text-align:center">
                                <h:outputText value="#{trabajo.especialidad.nombreEspecialidad}"/>  
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Estado de trabajo" style="text-align:center"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{trabajo.estadoTrabajoEnum.name}" style="text-align:center"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{trabajo.estadoTrabajoEnum}" >
                                            <f:selectItems value="#{empleadosJSFBean.listaEstadoTrabajoEnum}"
                                                           var="estadoEnum"
                                                           itemLabel="#{estadoEnum.name}"
                                                           itemValue="#{estadoEnum}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Edición"  style="width:20px; text-align:center">
                                <p:rowEditor style="text-align:center"/>
                            </p:column>
                            <p:column headerText="Acción" style="width: 20%; text-align: center" >
                                <p:commandLink id="deleteButton" actionListener="#{empleadosJSFBean.removeEspecialidadDetail}" 
                                               update=":detailTablaEspecialidades 
                                               detailTablaEspecialidades 
                                               formDetail:detailTablaEspecialidades 
                                               :formDetail:detailTablaEspecialidades 
                                               messages" >
                                    <p:graphicImage value="../resources/images/deleteIcon.png" width="22px" height="22px"/>
                                    <p:tooltip for="deleteButton" value="Quitar especialidad"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                        <!--</p:outputPanel>-->

                    </p:panel> 
                    <p:panel id="panelEstado" header="Estado del Empleado">

                        <h:panelGrid id="griInfoEstado" columns="1" style="alignment-adjust: central"> 
                            <h:outputLabel  value=" El estado inactivo indica que el paciente no aparecerá en las búsquedas"/>
                            <h:outputLabel  value=" A menos que se indique explícitamente que se desea buscar empleados inactivos."/>
                        </h:panelGrid>     
                        <h:panelGrid id="griInfoEstado2" columns="2" style="alignment-adjust: central"> 
                            <h:outputText value="Estado: " />  
                            <p:selectOneMenu value="#{empleadosJSFBean.personaSeleccionada.empleado.estadoEmpleadoEnum}" >
                                <f:selectItems value="#{empleadosJSFBean.listaEstadosEmpleado}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun.code}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>     


                    </p:panel>
                    <p:panel id="panelVirtualPersist" header="Datos Cuenta Virtual (No obligatorio)">
                        <h:panelGrid id="griInfoVirtualPersist" columns="4" style="alignment-adjust: central">         
                            <h:outputLabel  value="Usuario"/>
                            <p:inputText value="#{empleadosJSFBean.personaSeleccionada.usuario}" />
                            <h:outputLabel value="Contraseña"/>
                            <p:inputText value="#{empleadosJSFBean.personaSeleccionada.clave}" />
                        </h:panelGrid>
                    </p:panel>      
                    <h:panelGrid id="gridBotonesGrabarDetalle" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar modificación"
                                         actionListener="#{empleadosJSFBean.actualizaData}"
                                         ajax="true" update=":messages :formGeneral:tablaEntidades">
                            <f:attribute name="dialogName" value="detailDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="detailDialog.hide()" type="button"
                                         actionListener="#{empleadosJSFBean.inicializaNuevaPersona}" update=":panelDetailLaboral" immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>



        </ui:define>
    </ui:composition>
</html>


