<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"/>
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Administración de Preguntas</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>
            <p:panel >
                <h:outputText value="Administración de Preguntas" style="font-size:16px;"/>
            </p:panel>
            <p:spacer height="10px"/>

            <h:form id="formGeneral" >
                <p:panel id="panelBusqueda" header="Búsqueda de Preguntas"> 

                    <h:panelGrid id="gridFiltroBusqueda" columns="6" style="border: 0px" width="100%">
                        <h:outputText value="Descripción Pregunta" />  
                        <p:inputText id="inputNombre13" value="#{preguntasJSFBean.preguntaFiltro.descripcionPregunta}"/>  


                        <h:outputLabel  value="Especialidad"/>
                        <p:selectOneMenu value="#{preguntasJSFBean.especialidadSeleccionadaId}" style="width:100%">  
                            <f:selectItem itemLabel="Elegir especialidad " itemValue="-1" />  
                            <f:selectItems  value="#{preguntasJSFBean.listaEspecialidad}" var ="especialidad" itemLabel="#{especialidad.nombreEspecialidad}"  itemValue="#{especialidad.idEspecialidad}" />  
                            <p:ajax  update="persistSelectSubEspecialidad persistSelectProcedimiento  "  
                                     listener="#{preguntasJSFBean.manejaCambioEspecialidad}" />  
                        </p:selectOneMenu> 

                        <h:outputLabel  value="Subespecialidad"/>
                        <p:selectOneMenu id="persistSelectSubEspecialidad" value="#{preguntasJSFBean.subEspecialidadSeleccionadaId}" style="width:100%" >  
                            <f:selectItem itemLabel="Elegir subespecialidad" itemValue="-1" />  
                            <f:selectItems value="#{preguntasJSFBean.listaSubEspecialidad}" var="subEspecialidad" itemLabel="#{subEspecialidad.nombreSubEspecialidad}"  itemValue="#{subEspecialidad.idSubEspecialidad}"/>  
                            <p:ajax  update="persistSelectProcedimiento"  
                                     listener="#{preguntasJSFBean.manejaCambioSubEspecialidad}" />  
                        </p:selectOneMenu> 

                        <h:outputLabel  value="Procedimiento"/>
                        <p:selectOneMenu id ="persistSelectProcedimiento" value="#{preguntasJSFBean.procedimientoSeleccionadoId}" style="width:100%">  
                            <f:selectItem itemLabel="Elegir procedimiento" itemValue="-1" />  
                            <f:selectItems value="#{preguntasJSFBean.listaProcedimiento}" var="procedimiento" itemLabel="#{procedimiento.nombreProcedimiento}" itemValue="#{procedimiento.idProcedimiento}" />  
                        </p:selectOneMenu> 


                        <h:outputLabel value ="Tipo de respuesta" />
                        <p:selectOneMenu value="#{preguntasJSFBean.preguntaFiltro.tipoRespuestaPreguntaEnum}" >
                            <f:selectItem itemLabel="Especificar tipo de respuesta " itemValue="" />  
                            <f:selectItems value="#{preguntasJSFBean.listaTipoRespuestaPregunta}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu> 
                        <h:outputLabel value ="Quién pregunta" />
                        <p:selectOneMenu value="#{preguntasJSFBean.preguntaFiltro.quienPreguntaEnum}" >
                            <f:selectItem  itemLabel="Cualquier rol" itemValue="" />  
                            <f:selectItems value="#{preguntasJSFBean.listaQuienPregunta}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu> 
                        <h:outputLabel value ="Estado Pregunta" />
                        <p:selectOneMenu value="#{preguntasJSFBean.preguntaFiltro.estadoPreguntaEnum}" >
                            <f:selectItem  itemLabel="Todo" itemValue="" />  
                            <f:selectItems value="#{preguntasJSFBean.listaEstadoPregunta}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnun}"/>
                        </p:selectOneMenu> 
                    </h:panelGrid>    

                    <h:panelGrid id="gridBotonesBusqueda" columns="3">
                        <p:commandButton id="btnBuscar" value="Buscar" actionListener="#{preguntasJSFBean.realizaBusqueda}"
                                         icon="ui-icon-document" ajax="true" update="panelResultados "
                                         />
                        <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{preguntasJSFBean.cleanAction}" icon="ui-icon-document" 
                                         update="panelBusqueda panelResultados btnModificarEntidad"/>
                    </h:panelGrid>

                </p:panel>

                <p:panel id="panelResultados" header="Resultados">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnNuevaEntidad" value="Nueva pregunta"   
                                             ajax="true" actionListener="#{preguntasJSFBean.showNewDialog}"
                                             oncomplete="persistDialog.show()" update=":messages :persistDialog" 
                                             icon="ui-icon-plusthick" />
                            <p:commandButton id="btnDetalle"  value="Ver detalles " icon="ui-icon-zoomin"
                                             ajax="true" actionListener="#{preguntasJSFBean.cargaDetallesDePregunta}"
                                             oncomplete="#{preguntasJSFBean.mostrarDetalle eq true ? detailDialog.show() : detailDialog.hide()}" update=":messages :detailDialog" />
                        </p:toolbarGroup>
                    </p:toolbar>

                    <p:dataTable id="tablaEntidades" value="#{preguntasJSFBean.preguntaLazyModel}"
                                 var="lista" rowKey="#{lista.idPregunta}" selectionMode="single"
                                 selection="#{preguntasJSFBean.preguntaSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Descripción"/>
                            </f:facet>
                            <h:outputText value="#{lista.descripcionPregunta}" />                                                      
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Tipo de respuesta" style="text-align:center"/>
                            </f:facet>
                            <h:outputText value="#{lista.tipoRespuestaPreguntaEnum.name}" style="text-align:center" />                                                      
                        </p:column>

                        <!--                        <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Cantidad de alternativas" style="text-align:center"/>
                                                    </f:facet>
                                                    <h:outputText value="#{lista.cantidadAlternativas}" style="width:100%;text-align:center" />  
                                                </p:column>-->
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Quién pregunta"/>
                            </f:facet>
                            <h:outputText value="#{lista.quienPreguntaEnum.name}" style="width:100%;text-align:center"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Especialidad"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombreEspecialidad}" style="width:100%;text-align:center"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Subespecialidad"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombreSubEspecialidad}" style="width:100%;text-align:center"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Procedimiento"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombreProcedimiento}" style="width:100%;text-align:center"/>  
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>

        <ui:define name="modal">
            <!-- Diálogo de creación de nueva entidad -->
            <p:dialog id="persistDialog" header="Nueva Pregunta" modal="true"
                      widgetVar="persistDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="persistDialog" listener="#{preguntasJSFBean.handleDialogClose}"/>
                <h:form id="formModalPersis" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelCreación" header =" Información de la pregunta">
                        <h:panelGrid id="gridCreación" columns="6" style="border: 0px ; width:100%">

                            <h:outputLabel value="Descripción(*)"/>
                            <p:inputText value="#{preguntasJSFBean.nuevaPregunta.descripcionPregunta}"/>  


                            <h:outputLabel  value="Especialidad"/>
                            <p:selectOneMenu value="#{preguntasJSFBean.especialidadSeleccionadaId}" >  
                                <f:selectItem itemLabel="Elegir especialidad " itemValue="-1" />  
                                <f:selectItems  value="#{preguntasJSFBean.listaEspecialidad}" var ="especialidad" itemLabel="#{especialidad.nombreEspecialidad}"  itemValue="#{especialidad.idEspecialidad}" />  
                                <p:ajax  update="persistSelectSubEspecialidad persistSelectProcedimiento  "  
                                         listener="#{preguntasJSFBean.manejaCambioEspecialidad}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Subespecialidad"/>
                            <p:selectOneMenu id="persistSelectSubEspecialidad" value="#{preguntasJSFBean.subEspecialidadSeleccionadaId}" style="width:100%" >  
                                <f:selectItem itemLabel="Elegir subespecialidad" itemValue="-1" />  
                                <f:selectItems value="#{preguntasJSFBean.listaSubEspecialidad}" var="subEspecialidad" itemLabel="#{subEspecialidad.nombreSubEspecialidad}"  itemValue="#{subEspecialidad.idSubEspecialidad}"/>  
                                <p:ajax  update="persistSelectProcedimiento"  
                                         listener="#{preguntasJSFBean.manejaCambioSubEspecialidad}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Procedimiento"/>
                            <p:selectOneMenu id ="persistSelectProcedimiento" value="#{preguntasJSFBean.procedimientoSeleccionadoId}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir procedimiento" itemValue="-1" />  
                                <f:selectItems value="#{preguntasJSFBean.listaProcedimiento}" var="procedimiento" itemLabel="#{procedimiento.nombreProcedimiento}" itemValue="#{procedimiento.idProcedimiento}" />  
                            </p:selectOneMenu> 


                            <h:outputLabel value ="Tipo de respuesta" />
                            <p:selectOneMenu value="#{preguntasJSFBean.nuevaPregunta.tipoRespuestaPreguntaEnum}" >
                                <f:selectItem itemLabel="Especificar tipo de respuesta " itemValue="" />  
                                <f:selectItems value="#{preguntasJSFBean.listaTipoRespuestaPregunta}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu> 
                            <h:outputLabel value ="Quíen pregunta" />
                            <p:selectOneMenu value="#{preguntasJSFBean.nuevaPregunta.quienPreguntaEnum}" >
                                <f:selectItem  itemLabel="Especificar rol" itemValue="" />  
                                <f:selectItems value="#{preguntasJSFBean.listaQuienPregunta}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu> 


                        </h:panelGrid>

                        <p:dataTable id="persistTablaAlternativas" value="#{preguntasJSFBean.listaAlternativasNuevaPregunta}" var="alternativa"
                                     rowKey="#{alternativa.idAlternativa}" emptyMessage="No hay alternativas"
                                     editable="true" rows="10" paginator="false" paginatorPosition="bottom">
                            <f:facet name="header">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align: left">
                                            <h:outputText value="Alternativas"/>
                                        </td>
                                        <td style="text-align: right">
                                            <p:commandLink id="linkNuevo" value="Nuevo" immediate="true"
                                                           actionListener="#{preguntasJSFBean.addAlternativa}"
                                                           update="persistTablaAlternativas  messages">
                                            </p:commandLink>
                                            <p:spacer width="5px"/>
                                            <p:commandLink id="linkBorrar" value="Borrar" immediate="true"
                                                           actionListener="#{preguntasJSFBean.removeAlternativa}"
                                                           update="persistTablaAlternativas messages"/>
                                        </td>
                                    </tr>
                                </table>
                            </f:facet>
                            <p:ajax event="rowEdit" update="messages  persistTablaAlternativas"/>

                            <p:column headerText="Descripción" >
                                <p:cellEditor >
                                    <f:facet name="output">
                                        <h:outputText value="#{alternativa.descripcionAlternativa}"/>  
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{alternativa.descripcionAlternativa}"/>  
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Editar" style="width:20px; text-align:center">
                                <p:rowEditor />
                            </p:column>

                        </p:dataTable>


                    </p:panel>  
                    <h:panelGrid id="gridBotonesGrabar" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar"
                                         actionListener="#{preguntasJSFBean.guardaPregunta}"
                                         ajax="true" update=":messages :formGeneral :tablaEntidades" >
                            <f:attribute name="dialogName" value="persistDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="persistDialog.hide()" type="button"
                                         immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>    

            <!--Diálogo de Modificación de entidad seleccionada en la tabla-4-->
            <p:dialog id="detailDialog" header="Detalle de pregunta" modal="true"
                      widgetVar="detailDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="detailDialog" listener="#{preguntasJSFBean.handleDialogClose}"/>
                <h:form id="formDetailPersis" enctype="multipart/form-data" style="width:100%">
                    <p:panel id="panelDetalla" header =" Información básica">
                        <h:panelGrid id="gridDetalle" columns="6" style="border: 0px ; width:100%">
                            <h:outputLabel id="labelDescripcionDetailPregunta" for="inputDescripcionDetailPregunta" value="Descripción(*)"  />
                            <p:inputText id="inputDescripcionDetailPregunta" value="#{preguntasJSFBean.preguntaSeleccionada.descripcionPregunta}" />

                            <h:outputLabel  value="Especialidad"/>
                            <p:selectOneMenu value="#{preguntasJSFBean.especialidadSeleccionadaId}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir especialidad " itemValue="-1" />  
                                <f:selectItems  value="#{preguntasJSFBean.listaEspecialidad}" var ="especialidad" itemLabel="#{especialidad.nombreEspecialidad}"  itemValue="#{especialidad.idEspecialidad}" />  
                                <p:ajax  update="detailSelectSubEspecialidad detailSelectProcedimiento  "  
                                         listener="#{preguntasJSFBean.manejaCambioEspecialidad}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Subespecialidad"/>
                            <p:selectOneMenu id="detailSelectSubEspecialidad" value="#{preguntasJSFBean.subEspecialidadSeleccionadaId}" style="width:100%" >  
                                <f:selectItem itemLabel="Elegir subespecialidad" itemValue="-1" />  
                                <f:selectItems value="#{preguntasJSFBean.listaSubEspecialidad}" var="subEspecialidad" itemLabel="#{subEspecialidad.nombreSubEspecialidad}"  itemValue="#{subEspecialidad.idSubEspecialidad}"/>  
                                <p:ajax  update="detailSelectProcedimiento"  
                                         listener="#{preguntasJSFBean.manejaCambioSubEspecialidad}" />  
                            </p:selectOneMenu> 

                            <h:outputLabel  value="Procedimiento"/>
                            <p:selectOneMenu id ="detailSelectProcedimiento" value="#{preguntasJSFBean.procedimientoSeleccionadoId}" style="width:100%">  
                                <f:selectItem itemLabel="Elegir procedimiento" itemValue="-1" />  
                                <f:selectItems value="#{preguntasJSFBean.listaProcedimiento}" var="procedimiento" itemLabel="#{procedimiento.nombreProcedimiento}" itemValue="#{procedimiento.idProcedimiento}" />  
                            </p:selectOneMenu> 


                            <h:outputLabel value ="Tipo de respuesta" />
                            <p:selectOneMenu value="#{preguntasJSFBean.preguntaSeleccionada.tipoRespuestaPreguntaEnum}" >
                                <f:selectItems value="#{preguntasJSFBean.listaTipoRespuestaPregunta}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu> 
                            <h:outputLabel value ="Quíen pregunta" />
                            <p:selectOneMenu value="#{preguntasJSFBean.preguntaSeleccionada.quienPreguntaEnum}" >
                                <f:selectItems value="#{preguntasJSFBean.listaQuienPregunta}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu> 
                        </h:panelGrid>  



                        <p:dataTable id="detailTablaAlternativas" value="#{preguntasJSFBean.listaAlternativas}" var="alternativa"
                                     rowKey="#{alternativa.idAlternativa}" emptyMessage="No hay alternativas"
                                     editable="true" rows="10" paginator="false" paginatorPosition="bottom">
                            <f:facet name="header">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align: left">
                                            <h:outputText value="Alternativas"/>
                                        </td>
                                        <td style="text-align: right">
                                            <p:commandLink id="linkNuevo" value="Nuevo" immediate="true"
                                                           actionListener="#{preguntasJSFBean.addAlternativaDetail}"
                                                           update="detailTablaAlternativas  messages">
                                            </p:commandLink>
                                            <p:spacer width="5px"/>
                                            <p:commandLink id="linkBorrar" value="Borrar" immediate="true"
                                                           actionListener="#{preguntasJSFBean.removeAlternativaDetail}"
                                                           update="detailTablaAlternativas messages"/>
                                        </td>
                                    </tr>
                                </table>
                            </f:facet>
                            <p:ajax event="rowEdit" update="messages  detailTablaAlternativas"/>

                            <p:column headerText="Descripción" >
                                <p:cellEditor >
                                    <f:facet name="output">
                                        <h:outputText value="#{alternativa.descripcionAlternativa}"/>  
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{alternativa.descripcionAlternativa}"/>  
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Estado" >
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{alternativa.estadoAlternativaEnum.name}" style="text-align:center"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{alternativa.estadoAlternativaEnum}" >
                                            <f:selectItems value="#{preguntasJSFBean.listaEstadoAlternativa}"
                                                           var="estadoEnum"
                                                           itemLabel="#{estadoEnum.name}"
                                                           itemValue="#{estadoEnum}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Editar" style="width:20px; text-align:center">
                                <p:rowEditor />
                            </p:column>

                        </p:dataTable>



                    </p:panel>

                    <h:panelGrid id="gridBotonesGrabarDetalle" columns="2" style="alignment-adjust: central">
                        <p:commandButton value="Grabar modificación"
                                         actionListener="#{preguntasJSFBean.actualizaData}"
                                         ajax="true" update=":messages :formGeneral:tablaEntidades">
                            <f:attribute name="dialogName" value="detailDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="detailDialog.hide()" type="button"
                                         actionListener="#{preguntasJSFBean.inicializaNuevaPregunta}" immediate="true" process="@none"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>


