<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Administración de Especialidades y afines</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>
            <p:panel>
                <h:outputText value="Administración de Especialidades y Derivados" style="font-size:16px;"/>
            </p:panel>
            <p:spacer height="10px"/>
            <h:form id="formGeneral" prependId="true" >
                <p:panel id="panelBusqueda" header="Búsqueda de Especialidades, Subespecialidads y Procedimientos Médicos"> 
                    <h:panelGrid id="gridFiltroBusqueda" columns="4" style="border: 0px" width="100%" >
                        <h:panelGrid id="gridArea" columns="2" style="width: 25%" >
                            <h:outputText value="Especialidad"  />  
                            <p:autoComplete id="autocompleteArea" value="#{areasJSFBean.especialidadFiltro}"
                                            completeMethod="#{areasJSFBean.completeEspecialidad}"
                                            scrollHeight="130"
                                            minQueryLength="3" forceSelection="true"
                                            var="especialidadFiltro" itemLabel="#{especialidadFiltro.nombreEspecialidad}"
                                            itemValue="#{especialidadFiltro.idEspecialidad}"
                                            converter="#{especialidadConverter}"
                                            global="false">

                                <p:ajax event="itemSelect" update="autocompleteSubArea autocompleteEspecialidad"
                                        listener="#{areasJSFBean.limpiarFiltrosPorEspecialidad}">
                                </p:ajax>
                            </p:autoComplete>
                        </h:panelGrid>
                        <h:panelGrid id="gridSubArea" columns="2" style="width: 25%" >
                            <h:outputText value="Subespecialidad" />  
                            <p:autoComplete id="autocompleteSubArea" value="#{areasJSFBean.subEspecialidadFiltro}"
                                            completeMethod="#{areasJSFBean.completeSubEspecialidad}"
                                            scrollHeight="130"
                                            minQueryLength="3" forceSelection="true"
                                            var="subEspecialidadFiltro" itemLabel="#{subEspecialidadFiltro.nombreSubEspecialidad}"
                                            itemValue="#{subEspecialidadFiltro.idSubEspecialidad}"
                                            converter="#{subEspecialidadConverter}"
                                            global="false">
                                <p:ajax event="itemSelect" listener="#{areasJSFBean.limpiarFiltrosPorSubEspecialidad}">
                                </p:ajax>
                            </p:autoComplete>
                        </h:panelGrid>
                        <h:panelGrid id="gridEspecialidad" columns="2" style="width: 25%">
                            <h:outputText value="Procedimiento" />  
                            <p:inputText value="#{areasJSFBean.procedimientoFiltro.nombreProcedimiento}"/>

                        </h:panelGrid>
                        <h:panelGrid id="gridRadioButton2" columns="2">
                            <h:outputText value="Estado" />  
                            <p:selectOneMenu value="#{areasJSFBean.estadoEnum}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{areasJSFBean.listaEstados}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnum}"/>
                            </p:selectOneMenu>

                        </h:panelGrid>


                    </h:panelGrid>
                    <p:spacer height="10px"/>
                    <h:panelGrid id="gridBotonesBusqueda" columns="3">
                        <p:commandButton id="btnBuscar" value="Buscar" actionListener="#{areasJSFBean.findAction}" icon="ui-icon-document" ajax="true"
                                         update="panelResultados :formPrincipal:panelResultados tablaAreas tablaSubAreas tablaEspecialidades btnModificarEntidad"/>
                        <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{areasJSFBean.cleanAction}" icon="ui-icon-document" 
                                         update="panelBusqueda panelResultados btnModificarEntidad">
                        </p:commandButton>
                    </h:panelGrid>
                </p:panel>

                <p:panel id="panelResultados" header="Resultados">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:menuButton id="btnNuevo" value="Nueva ..." >
                                <p:menuitem value="Especialidad" ajax="true" actionListener="#{areasJSFBean.showNewDialog}"
                                            oncomplete="nuevaAreaDialog.show()" update="messages nuevaAreaDialog">
                                </p:menuitem>
                                <p:menuitem value="Subespecialidad" ajax="true"
                                            actionListener="#{areasJSFBean.showNewDialog}"
                                            oncomplete="nuevaSubAreaDialog.show()" update="messages nuevaSubAreaDialog">
                                </p:menuitem>
                                <p:menuitem value="Procedimiento" ajax="true"
                                            actionListener="#{areasJSFBean.showNewDialog}"
                                            oncomplete="nuevaEspecialidadDialog.show()" update="messages nuevaEspecialidadDialog">
                                </p:menuitem>
                            </p:menuButton>
                            <p:separator/>
                            <p:commandButton id="btnVer" value="Visualizar" ajax="true"
                                             actionListener="#{areasJSFBean.deleteAction}" 
                                             update=":tablaAreas">
                                <f:attribute name="tableName" value="tablaAreas"/>
                            </p:commandButton>
                        </p:toolbarGroup>
                    </p:toolbar>
                    <p:spacer height="15px"/>



                    <!--Tabla de especialidades -->
                    <p:dataTable id="tablaAreas" value="#{areasJSFBean.listaEspecialidads}" rendered="#{areasJSFBean.mostrarListaEspecialidads}"
                                 var="especialidad" rowKey="#{especialidad.idEspecialidad}" selectionMode="single"
                                 selection="#{areasJSFBean.especialidadSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:effect type="fade" event="load" delay="1000000000" />  
                        <p:ajax event="rowEdit" listener="#{areasJSFBean.onModify}" update=":messages" />

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nombre de Especialidad"/>
                            </f:facet>
                            <p:cellEditor>  
                                <f:facet name="output">  
                                    <h:outputText value="#{especialidad.nombreEspecialidad}" />  
                                </f:facet>  
                                <f:facet name="input">  
                                    <p:inputText value="#{especialidad.nombreEspecialidad}" style="width:95%"/>  
                                </f:facet>  
                            </p:cellEditor> 
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Número de subespecialidades" style="text-align:center"/>
                            </f:facet>
                            <h:outputText value="#{especialidad.numeroDeSubEspecialidades} "/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Número de procedimientos" style="text-align:center"/>
                            </f:facet>
                            <h:outputText value="#{especialidad.numeroDeProcedimientos}" style="text-align:center"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Estado" style="text-align:center"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{especialidad.estadoEnum.name}" style="text-align:center"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{especialidad.estadoEnum}" >
                                        <f:selectItems value="#{areasJSFBean.listaEstados}"
                                                       var="estadoEnum"
                                                       itemLabel="#{estadoEnum.name}"
                                                       itemValue="#{estadoEnum}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Acción"  style="width:20px; text-align:center">
                            <p:rowEditor style="text-align:center"/>
                        </p:column>
                    </p:dataTable>


                    <!--Tabla de subespecialidades -->
                    <p:dataTable id="tablaSubAreas" value="#{areasJSFBean.listaSubEspecialidads}" rendered="#{areasJSFBean.mostrarListaSubEspecialidads}"
                                 var="subEspecialidad" rowKey="#{subEspecialidad.idSubEspecialidad}" selectionMode="single"
                                 selection="#{areasJSFBean.subEspecialidadSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:effect type="fade" event="load" delay="1000000000" />  
                        <p:ajax event="rowEdit" listener="#{areasJSFBean.onModify}" update=":messages" />

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nombre de subEspecialidad"/>
                            </f:facet>
                            <p:cellEditor>  
                                <f:facet name="output">  
                                    <h:outputText value="#{subEspecialidad.nombreSubEspecialidad}" />  
                                </f:facet>  
                                <f:facet name="input">  
                                    <p:inputText value="#{subEspecialidad.nombreSubEspecialidad}" style="width:95%"/>  
                                </f:facet>  
                            </p:cellEditor> 
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Especialidad relacionada"/>
                            </f:facet>
                            <h:outputText value="#{subEspecialidad.especialidad.nombreEspecialidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Número de procedimientos"/>
                            </f:facet>
                            <h:outputText value="#{subEspecialidad.numeroProcedimnientos}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Estado"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{subEspecialidad.estadoEnum.name}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{subEspecialidad.estadoEnum}" >
                                        <f:selectItems value="#{areasJSFBean.listaEstados}"
                                                       var="estadoEnum"
                                                       itemLabel="#{estadoEnum.name}"
                                                       itemValue="#{estadoEnum}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Acción">
                            <p:rowEditor/>
                        </p:column>
                    </p:dataTable>



                    <!--Tabla de procedimientos -->
                    <p:dataTable id="tablaEspecialidades" value="#{areasJSFBean.listaProcedimientoes}" rendered="#{areasJSFBean.mostrarListaProcedimientoes}"
                                 var="procedimiento" rowKey="#{procedimiento.idProcedimiento}" selectionMode="single"
                                 selection="#{areasJSFBean.procedimientoSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:effect type="fade" event="load" delay="1000000000"/>
                        <p:ajax event="rowEdit" listener="#{areasJSFBean.onModify}" update=":messages" />

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nombre de procedimiento"/>
                            </f:facet>
                            <p:cellEditor>  
                                <f:facet name="output">  
                                    <h:outputText value="#{procedimiento.nombreProcedimiento}" />  
                                </f:facet>  
                                <f:facet name="input">  
                                    <p:inputText value="#{procedimiento.nombreProcedimiento}" style="width:95%"/>  
                                </f:facet>  
                            </p:cellEditor> 
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Especialidad relacionada"/>
                            </f:facet>
                            <h:outputText value="#{procedimiento.especialidadRelacionada}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Subespecialidad relacionada"/>
                            </f:facet>
                            <h:outputText value="#{procedimiento.subEspecialidad.nombreSubEspecialidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Estado"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{procedimiento.estadoEnum.name}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{procedimiento.estadoEnum}" >
                                        <f:selectItems value="#{areasJSFBean.listaEstados}"
                                                       var="estadoEnum"
                                                       itemLabel="#{estadoEnum.name}"
                                                       itemValue="#{estadoEnum}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Acción">
                            <p:rowEditor/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>





        <ui:define name="modal">

            <!--Dialog de áreas -->
            <p:dialog id="nuevaAreaDialog" header="Nueva Especialidad" modal="true"
                      widgetVar="nuevaAreaDialog" resizable="false" showEffect="fade" hideEffect="fade">

                <p:ajax event="close" update="nuevaAreaDialog" listener="#{areasJSFBean.handleDialogClose}"/>
                <h:form id="formNuevaArea" enctype="multipart/form-data">
                    <h:panelGrid id="gridNuevaArea" columns="2">
                        <h:outputText id="textNuevaArea" value="Nombre de especialidad"/>
                        <p:inputText id="inputNuevaArea" value="#{areasJSFBean.nuevaEspecialidad.nombreEspecialidad}"/> 
                        <h:outputText id="textEstadoArea" value="Estado"/>
                        <p:selectOneMenu value="#{areasJSFBean.nuevaEspecialidad.estadoEnum}">
                            <f:selectItems value="#{areasJSFBean.listaEstados}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnum}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="2" styleClass="centered">
                        <p:commandButton value="Guardar" actionListener="#{areasJSFBean.persistAction}"
                                         update="messages panelBusqueda :panelBusqueda 
                                         panelResultados :panelResultados 
                                         formGeneral :formGeneral
                                         tablaAreas :tablaAreas :formGeneral:tablaAreas formGeneral:tablaAreas 
                                         tablaSubAreas :tablaSubAreas :formGeneral:tablaSubAreas formGeneral:tablaSubAreas 
                                         tablaEspecialidades :tablaEspecialidades :formGeneral:tablaEspecialidades formGeneral:tablaEspecialidades">
                            <f:attribute name="dialogName" value="nuevaAreaDialog"/>
                            <f:attribute name="tipoEntidad" value="area" />
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="createDialog.hide()"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>        



            <!--Dialog de subareas -->   
            <p:dialog id="nuevaSubAreaDialog" header="Nueva Subespecialidad" modal="true"
                      widgetVar="nuevaSubAreaDialog" resizable="false" showEffect="fade" hideEffect="fade">

                <p:ajax event="close" update="nuevaSubAreaDialog" listener="#{areasJSFBean.handleDialogClose}"/>

                <h:form id="formNuevaSubArea" enctype="multipart/form-data">
                    <h:panelGrid id="gridNuevaSubArea" columns="2">
                        <h:outputText id="textNuevaSubArea" value="Especialidad relacionada"/>
                        <p:autoComplete id="autocompleteAreaReferenciada" value="#{areasJSFBean.especialidadReferenciada}"
                                        completeMethod="#{areasJSFBean.completeEspecialidad}"
                                        scrollHeight="130" required="true"
                                        minQueryLength="3" forceSelection="true"
                                        var="especialidadReferenciada" itemLabel="#{especialidadReferenciada.nombreEspecialidad}"
                                        itemValue="#{especialidadReferenciada.idEspecialidad}"
                                        converter="#{especialidadConverter}"
                                        global="false">
                        </p:autoComplete>
                        <h:outputText id="textNuevaSubArea2" value="Nombre de subespecialidad"/>
                        <p:inputText id="inputNuevaSubArea3" value="#{areasJSFBean.nuevaSubEspecialidad.nombreSubEspecialidad}" required="true"/>                    
                        <h:outputText id="textEstadoSubArea" value="Estado"/>
                        <p:selectOneMenu value="#{areasJSFBean.nuevaSubEspecialidad.estadoEnum}">
                            <f:selectItems value="#{areasJSFBean.listaEstados}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnum}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="2" styleClass="centered">
                        <p:commandButton value="Guardar" actionListener="#{areasJSFBean.persistAction}"
                                         update="messages panelBusqueda :panelBusqueda 
                                         panelResultados :panelResultados 
                                         formGeneral :formGeneral
                                         tablaAreas :tablaAreas :formGeneral:tablaAreas formGeneral:tablaAreas 
                                         tablaSubAreas :tablaSubAreas :formGeneral:tablaSubAreas formGeneral:tablaSubAreas 
                                         tablaEspecialidades :tablaEspecialidades :formGeneral:tablaEspecialidades formGeneral:tablaEspecialidades 
                                         formNuevaSubArea">
                            <f:attribute name="dialogName" value="nuevaSubAreaDialog"/>
                            <f:attribute name="tipoEntidad" value="subarea"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="nuevaSubAreaDialog.hide()"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>         





            <!--Dialog de especialidades -->
            <p:dialog id="nuevaEspecialidadDialog" header="Nuevo Procedimiento" modal="true"
                      widgetVar="nuevaEspecialidadDialog" resizable="false" showEffect="fade" hideEffect="fade">

                <p:ajax event="close" update="nuevaEspecialidadDialog" listener="#{areasJSFBean.handleDialogClose}"/>
                <h:form id="formNuevaEspecialidad" enctype="multipart/form-data">
                    <h:panelGrid id="gridNuevaEspecialidad" columns="2">
                        <h:outputText id="textNuevaEspecialidad1" value="Especialidad relacionada"/>
                        <p:autoComplete id="autocompleteAreaReferenciada2" value="#{areasJSFBean.especialidadReferenciada}"
                                        completeMethod="#{areasJSFBean.completeEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="especialidadReferenciada" itemLabel="#{especialidadReferenciada.nombreEspecialidad}"
                                        itemValue="#{especialidadReferenciada.idEspecialidad}"
                                        converter="#{especialidadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" update="autocompleteSubArea2"
                                    listener="#{areasJSFBean.limpiarFiltrosPorEspecialidad}">
                                <f:attribute name="quehacer" value="insertar"/>
                            </p:ajax>
                        </p:autoComplete>                    
                        <h:outputText id="textNuevaEspecialidad3" value="Subespecialidad relacionada"/>
                        <p:autoComplete id="autocompleteSubArea2" value="#{areasJSFBean.subEspecialidadReferenciada}"
                                        completeMethod="#{areasJSFBean.completeSubEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="subEspecialidadReferenciada" itemLabel="#{subEspecialidadReferenciada.nombreSubEspecialidad}"
                                        itemValue="#{subEspecialidadReferenciada.idSubEspecialidad}"
                                        converter="#{subEspecialidadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" update="autocompleteSubArea autocompleteArea autocompleteEspecialidad"
                                    listener="#{areasJSFBean.limpiarFiltrosPorSubEspecialidad}">
                            </p:ajax>
                        </p:autoComplete>
                        <h:outputText id="textNuevaEspecialidad5" value="Nombre de procedimiento"/>
                        <p:inputText id="inputNuevaEspecialidad6" value="#{areasJSFBean.nuevaProcedimiento.nombreProcedimiento}"/>                    
                        <h:outputText id="textEstadoEspecialidad" value="Estado"/>
                        <p:selectOneMenu value="#{areasJSFBean.nuevaProcedimiento.estadoEnum}">
                            <f:selectItems value="#{areasJSFBean.listaEstados}"
                                           var="estadoEnum"
                                           itemLabel="#{estadoEnum.name}"
                                           itemValue="#{estadoEnum}"/>
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="2" styleClass="centered">
                        <p:commandButton value="Guardar" actionListener="#{areasJSFBean.persistAction}"
                                         update="messages panelBusqueda :panelBusqueda 
                                         panelResultados :panelResultados 
                                         formGeneral :formGeneral
                                         tablaAreas :tablaAreas :formGeneral:tablaAreas formGeneral:tablaAreas 
                                         tablaSubAreas :tablaSubAreas :formGeneral:tablaSubAreas formGeneral:tablaSubAreas 
                                         tablaEspecialidades :tablaEspecialidades :formGeneral:tablaEspecialidades formGeneral:tablaEspecialidades">
                            <f:attribute name="dialogName" value="nuevaEspecialidadDialog"/>
                            <f:attribute name="tipoEntidad" value="especialidad"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" onclick="createDialog.hide()"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>         
        </ui:define>
    </ui:composition>
</html>
