<f:view xmlns="http://www.w3.org/1999/xhtml"       
        xmlns:f="http://java.sun.com/jsf/core"    
        xmlns:h="http://java.sun.com/jsf/html"   
        xmlns:ui="http://java.sun.com/jsf/facelets" 
        xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
        xmlns:p="http://primefaces.org/ui"      
        xmlns:pm="http://primefaces.org/mobile"   
        contentType="text/html" 
        renderKitId="PRIMEFACES_MOBILE"        
        xmlns:c="http://java.sun.com/jsp/jstl/core">   

    <pm:page title="InfoMobile">
        <f:facet name="preinit">
            <link type="text/css" rel="stylesheet"
                  href="../themes/ase6.css" />
        </f:facet>

        <!--PÁGINA PRINCIPAL-->
        <pm:view id="consultas" >
            <pm:header title="Inicio">
                <h:outputLabel id="idNames" value="Usuario de prueba"/>
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>Consultas</h3>

                <h:form id="formAtencionMobile">
                    <p:poll  interval="5" listener="#{atencionMobileJSFBean.verificarAtencion}" stop="#{atencionMobileJSFBean.atencionSeparada}" rendered="#{!atencionMobileJSFBean.atencionSeparada}" />

                    <p:outputPanel autoUpdate="true">
                        <h:outputText id="test1" value="Esperando a que se separe una atención" rendered="#{!atencionMobileJSFBean.atencionSeparada}" />

                        <h:panelGrid id="gridDetalle" columns="2"  rendered="#{atencionMobileJSFBean.atencionSeparada}">

                            <h:outputText value="Fecha de atención" rendered="#{atencionJSFBean.usuario.esMedico}" />
                            <h:outputText value="#{atencionMobileJSFBean.separacion.atention.fechaAtencion}">
                                <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Lima" type="both"/>
                            </h:outputText>

                            <p:spacer height="5px"/>
                            <p:spacer height="5px"/>

                            <h:outputText value="Datos del trabajador"/>
                            <h:outputText value="#{atencionMobileJSFBean.usuario.nombreCompleto}"/>

                            <p:spacer height="5px"/>
                            <p:spacer height="5px"/>

                            <h:outputText value="Datos del paciente"/>
                            <h:outputText value="#{atencionMobileJSFBean.separacion.pacienteSeparado.nombrePersona} 
                                          #{atencionMobileJSFBean.separacion.pacienteSeparado.apellidoPaternoPersona} 
                                          #{atencionMobileJSFBean.separacion.pacienteSeparado.apellidoMaternoPersona}"/>

                            <p:spacer height="5px"/>
                            <p:spacer height="5px"/>

                            <h:outputText value="Número de historia clínica"/>
                            <h:outputText value="#{atencionMobileJSFBean.separacion.pacienteSeparado.paciente.historia.idHistoria}"/>                        

                            <p:spacer height="5px"/>
                            <p:spacer height="5px"/>

                            <h:outputText value="Próxima atención" rendered="#{atencionMobileJSFBean.usuario.esMedico}" />
                            <p:inputMask value="#{atencionJSFBean.atencion.fechaAproxSiguienteAtencionString}" mask="99/99/9999" style="width: 90%"/>

                            <p:spacer height="5px"/>
                            <p:spacer height="5px"/>

                            <h:outputText value="Diagnóstico" />
                            <p:inputTextarea id="taRC"  autoResize="false" rows="15" style="width: 90%" value="#{atencionMobileJSFBean.separacion.atention.diagnosticoAtencion}"/>

                        </h:panelGrid> 
                        <p:spacer height="10px"/>
                        <h:panelGrid rendered="#{atencionMobileJSFBean.atencionSeparada}" width="100%" style="text-align: center" columns="1">
                            <h:graphicImage style="text-align: center"  library="images" name="separator.png" />
                            <p:commandButton value="Realizar preguntas" rendered="#{atencionMobileJSFBean.atencionSeparada}" 
                                             actionListener="#{atencionMobileJSFBean.cargarPreguntasGenerales}"
                                             action="pm:preguntasGenerales"  update="preguntasGenerales formAtencionMobile" />
                            <p:commandButton value="Asignar enfermedades" rendered="#{atencionMobileJSFBean.atencionSeparada}" 
                                             actionListener="#{atencionMobileJSFBean.cargarPreguntasGenerales}"
                                             action="pm:verEnfermedades"  update="verEnfermedades" />
                            <h:panelGrid columns="2" class="centered">
                                <p:commandButton value="Guardar atención"
                                                 actionListener="#{atencionMobileJSFBean.persistAction}" />

                                <p:commandButton style="width: 100%" value="Cancelar" actionListener="#{atencionMobileJSFBean.cargarPreguntasDeEspecialidad}"
                                                 update="@form" />
                            </h:panelGrid>
                            <h:outputLink styleClass="text_title" value="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout" icon="ui-icon-close"
                                          >
                                <h:outputText styleClass="text_title" value="Cerrar Sesiòn" />
                            </h:outputLink>
                        </h:panelGrid>
                    </p:outputPanel>
                </h:form>


            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" class="miFooter" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>



        <!--PÁGINA REGISTRO DE PREGUNTAS GENERALES-->
        <pm:view id="preguntasGenerales">
            <pm:header title="Preguntas generales">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#consultas?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>preguntas</h3>

                <h:form id="formPreguntasGenerales">
                    <ui:repeat value="#{atencionMobileJSFBean.preguntasGenerales}" var="preguntaGeneral" varStatus="contPregunta" >
                        <h:panelGrid id="asb" columns="1" width="100%" rowClasses="center-td" class="centered" >
                            <h:outputText value="#{preguntaGeneral.descripcionPregunta}"/>

                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>


                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'O' or preguntaGeneral.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                <p:selectOneRadio layout="pageDirection" value="#{atencionMobileJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}">  
                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectOneRadio>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionMobileJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                <p:selectManyCheckbox  style="width: 100%" layout="pageDirection" value="#{preguntaGeneral.respuestasSeleccionadas}">   
                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectManyCheckbox> 
                            </h:panelGrid>

                            <p:outputPanel rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'O'}">
                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                <h:outputText value="Otro (a)" />
                            </p:outputPanel>
                            <p:inputText rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'O'}" value="#{preguntaGeneral.respuestaOTRO}" />
                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                        </h:panelGrid>
                    </ui:repeat>
                    <h:panelGrid width="100%" style="text-align: center" >
                        <h:graphicImage style="text-align: center"  library="images" name="separator.png" />
                        <p:commandButton style="width: 100%" value="Agregar Especialidad" actionListener="#{atencionMobileJSFBean.cargarPreguntasDeEspecialidad}"
                                         action="pm:preguntasEspecialidad"  update="preguntasEspecialidad" />
                        <p:commandButton style="width: 100%" value="Cancelar" actionListener="#{atencionMobileJSFBean.cleanAction}"
                                         action="pm:consultas"  update="consultas @form" >
                            <f:attribute name="accion" value="cancelarPreguntasGenerales" />
                        </p:commandButton>
                    </h:panelGrid> 


                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>

        <!--PÁGINA REGISTRO DE PREGUNTAS ESPECIALIDAD-->
        <pm:view id="preguntasEspecialidad">
            <pm:header title="Preguntas especialidad #{atencionMobileJSFBean.separacion.atention.trabajo.especialidad.nombreEspecialidad}">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#preguntasGenerales?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>Preguntas</h3>

                <h:form id="formPreguntasEspecialidad">
                    <ui:repeat value="#{atencionMobileJSFBean.preguntasEspecialidad}" var="preguntaEspecialidad" varStatus="contPregunta" >
                        <h:panelGrid id="asb1" columns="1" width="100%" rowClasses="center-td" class="centered" >
                            <h:outputText value="#{preguntaEspecialidad.descripcionPregunta}"/>

                            <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>


                            <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'O' or preguntaEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                <p:selectOneRadio layout="pageDirection" value="#{atencionMobileJSFBean.respuestasEspecialidad[contPregunta.index].detalleRespuesta}">  
                                    <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectOneRadio>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionMobileJSFBean.respuestasEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                <p:selectManyCheckbox  style="width: 100%" layout="pageDirection" value="#{preguntaEspecialidad.respuestasSeleccionadas}">   
                                    <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectManyCheckbox> 
                            </h:panelGrid>

                            <p:outputPanel rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'O'}">
                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                <h:outputText value="Otro (a)" />
                            </p:outputPanel>
                            <p:inputText rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'O'}" 
                                         value="#{preguntaEspecialidad.respuestaOTRO}" />
                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                        </h:panelGrid>
                    </ui:repeat>
                    <h:panelGrid width="100%" style="text-align: center" >
                        <h:graphicImage  library="images" name="separator.png" />
                        <h:panelGrid columns="2" class="centered">
                            <p:commandButton value="Guardar respuestas" rendered="#{atencionMobileJSFBean.pintarEspecialidad}"
                                             style="width: 100%" actionListener="#{atencionMobileJSFBean.findAction}"
                                             action="pm:consultas"  update="consultas" />
                            <p:commandButton style="width: 100%" value="Cancelar" actionListener="#{atencionMobileJSFBean.cleanAction}"
                                             action="pm:preguntasGenerales"  update="preguntasGenerales @form" >
                                <f:attribute name="accion" value="cancelarPreguntasEspecialidad" />
                            </p:commandButton>
                        </h:panelGrid>
                        <h:selectOneMenu value="#{atencionMobileJSFBean.idSubEspecialidad}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Seleccionar subespecialidad" itemValue="" />  
                            <f:selectItems value="#{atencionMobileJSFBean.listaSubEspecialidades}"
                                           var="especialidad"
                                           itemLabel="#{especialidad.nombreSubEspecialidad}"
                                           itemValue="#{especialidad.idSubEspecialidad}"/>
                        </h:selectOneMenu>
                        <p:commandButton value="Agregar Sub especialidad" actionListener="#{atencionMobileJSFBean.cargarPreguntasSubEspecialidad}"
                                         action="pm:preguntasSubEspecialidad"  update="preguntasSubEspecialidad" />

                    </h:panelGrid>

                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>


        <!--PÁGINA REGISTRO DE PREGUNTAS SUBESPECIALIDAD-->
        <pm:view id="preguntasSubEspecialidad">
            <pm:header title="Preguntas Subespecialidad #{atencionMobileJSFBean.subEspecialidadSeleccionada.nombreSubEspecialidad}">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#preguntasEspecialidad?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>preguntas</h3>
                <h:outputText value="La sub especialidad seleccionada no posee configurada ninguna pregunta" 
                              rendered="#{!atencionMobileJSFBean.pintarSubEspecialidad}"/>
                <h:form id="formPreguntasSubEspecialidad"  >
                    <ui:repeat value="#{atencionMobileJSFBean.preguntasSubEspecialidad}" var="preguntaSubEspecialidad" varStatus="contPregunta" >
                        <h:panelGrid id="asb1" columns="1" width="100%" rowClasses="center-td" class="centered" >
                            <h:outputText value="#{preguntaSubEspecialidad.descripcionPregunta}"/>

                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasSubEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>


                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasSubEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'O' or preguntaSubEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                <p:selectOneRadio layout="pageDirection" value="#{atencionMobileJSFBean.respuestasSubEspecialidad[contPregunta.index].detalleRespuesta}">  
                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectOneRadio>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionMobileJSFBean.respuestasSubEspecialidad[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                <p:selectManyCheckbox  style="width: 100%" layout="pageDirection" value="#{preguntaSubEspecialidad.respuestasSeleccionadas}">   
                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectManyCheckbox> 
                            </h:panelGrid>

                            <p:outputPanel rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'O'}">
                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                <h:outputText value="Otro (a)" />
                            </p:outputPanel>
                            <p:inputText rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'O'}" 
                                         value="#{preguntaSubEspecialidad.respuestaOTRO}" />
                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                        </h:panelGrid>
                    </ui:repeat>
                    <h:panelGrid width="100%" style="text-align: center"  rendered="#{atencionMobileJSFBean.pintarSubEspecialidad}" >
                        <h:graphicImage  library="images" name="separator.png" />
                        <h:panelGrid columns="2" class="centered">
                            <p:commandButton value="Guardar respuestas"
                                             actionListener="#{atencionMobileJSFBean.findAction}"
                                             action="pm:consultas"  update="consultas" />
                            <p:commandButton style="width: 100%" value="Cancelar" actionListener="#{atencionMobileJSFBean.cleanAction}"
                                             action="pm:preguntasEspecialidad"  update="preguntasEspecialidad @form" >
                                <f:attribute name="accion" value="cancelarPreguntasSubEspecialidad" />
                            </p:commandButton>
                        </h:panelGrid>
                        <h:selectOneMenu value="#{atencionMobileJSFBean.idProcedimiento}" >
                            <f:selectItem noSelectionOption="true" itemLabel="Seleccionar procedimiento" itemValue="" />  
                            <f:selectItems value="#{atencionMobileJSFBean.listaProcedimientos}"
                                           var="especialidad"
                                           itemLabel="#{especialidad.nombreProcedimiento}"
                                           itemValue="#{especialidad.idProcedimiento}"/>
                        </h:selectOneMenu>
                        <p:commandButton value="Agregar procedimiento" 
                                         actionListener="#{atencionMobileJSFBean.cargarPreguntasProcedimiento}"
                                         action="pm:preguntasProcedimiento"  update="preguntasProcedimiento" />

                    </h:panelGrid>

                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>


        <!--PÁGINA REGISTRO DE PREGUNTAS PROCEDIMIENTO-->
        <pm:view id="preguntasProcedimiento">
            <pm:header title="Preguntas procedimiento #{atencionMobileJSFBean.procedimientoSeleccionado.nombreProcedimiento}">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#preguntasSubEspecialidad?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>Preguntas</h3>
                <h:outputText value="El procedimiento seleccionado no tiene especificada ninguna pregunta" 
                              rendered="#{!atencionMobileJSFBean.pintarProcedimiento}"/>
                <h:form id="formPreguntasProcedimiento">
                    <ui:repeat value="#{atencionMobileJSFBean.preguntasProcedimiento}" var="preguntaProcedimiento" varStatus="contPregunta" >
                        <h:panelGrid id="asb1" columns="1" width="100%" rowClasses="center-td" class="centered" >
                            <h:outputText value="#{preguntaProcedimiento.descripcionPregunta}"/>

                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasProcedimiento[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>


                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                <p:inputText value="#{atencionMobileJSFBean.respuestasProcedimiento[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'O' or preguntaProcedimiento.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                <p:selectOneRadio layout="pageDirection" value="#{atencionMobileJSFBean.respuestasProcedimiento[contPregunta.index].detalleRespuesta}">  
                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectOneRadio>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionMobileJSFBean.respuestasProcedimiento[contPregunta.index].detalleRespuesta}"/>
                            </h:panelGrid>

                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                <p:selectManyCheckbox  style="width: 100%" layout="pageDirection" value="#{preguntaProcedimiento.respuestasSeleccionadas}">   
                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                </p:selectManyCheckbox> 
                            </h:panelGrid>

                            <p:outputPanel rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'O'}">
                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                <h:outputText value="Otro (a)" />
                            </p:outputPanel>
                            <p:inputText rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'O'}" 
                                         value="#{preguntaProcedimiento.respuestaOTRO}" />
                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                        </h:panelGrid>
                    </ui:repeat>
                    <h:panelGrid width="100%" style="text-align: center" rendered="#{atencionMobileJSFBean.pintarProcedimiento}" >
                        <h:graphicImage  library="images" name="separator.png"  rendered="#{!atencionMobileJSFBean.pintarProcedimiento}" />
                        <h:panelGrid columns="2" class="centered">
                            <p:commandButton value="Guardar respuestas"  rendered="#{atencionMobileJSFBean.pintarProcedimiento}"
                                             actionListener="#{atencionMobileJSFBean.findAction}"
                                             action="pm:consultas"  update="consultas" />
                            <p:commandButton style="width: 100%"  rendered="#{atencionMobileJSFBean.pintarProcedimiento}" value="Cancelar" 
                                             actionListener="#{atencionMobileJSFBean.cleanAction}"
                                             action="pm:preguntasSubEspecialidad"  update="preguntasSubEspecialidad @form" >
                                <f:attribute name="accion" value="cancelarPreguntasProcedimiento" />
                            </p:commandButton>
                        </h:panelGrid>

                    </h:panelGrid>

                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>


        <!--PÁGINA DE VISUALIZACIÓN DE ENFERMEDADES-->
        <pm:view id="verEnfermedades">
            <pm:header title="Visualización de enfermedades">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#consultas?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <h3>Enfermedades</h3>
                <h:form id="formVerEnfermedades">
                    <h:outputText value="Busque y seleccione enfermedades para agregarlas a la atención" rendered="#{atencionMobileJSFBean.pintarEnfermedades}" />
                    <h:panelGrid width="100%" style="text-align: center" rendered="#{atencionMobileJSFBean.pintarEnfermedades}" >
                        <p:dataList id="listEnfermedades" type="inset" value="#{atencionMobileJSFBean.listaEnfermedadesSeleccionadas}" var="enfermedad">
                            <p:column>
                                <p:commandLink action="#{atencionMobileJSFBean.removeEnfermedad(enfermedad)}" update="@form" >
                                    <h:outputText value="#{enfermedad.nombreEnfermedad}" />
                                </p:commandLink>
                            </p:column>
                        </p:dataList>
                        <p:commandButton value="Buscar enfermedades" action="pm:seleccionarEnfermedades" update="seleccionarEnfermedades formSeleccionarEnfermedades" />  
                        <h:panelGrid columns="2" class="centered">
                            <p:commandButton value="Guardar enfermedades"  rendered="#{atencionMobileJSFBean.pintarProcedimiento}"
                                             actionListener="#{atencionMobileJSFBean.findAction}"
                                             action="pm:consultas"  update="consultas" />
                            <p:commandButton style="width: 100%"  rendered="#{atencionMobileJSFBean.pintarEnfermedades}" value="Cancelar"
                                             actionListener="#{atencionMobileJSFBean.cleanAction}"
                                             action="pm:consultas"  update="consultas @form" >
                                <f:attribute name="accion" value="cancelarVerEnfermedades" />
                            </p:commandButton>
                        </h:panelGrid>
                    </h:panelGrid>
                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>

        <!--PÁGINA PARA SELECCIONAR ENFERMEDADES-->
        <pm:view id="seleccionarEnfermedades">
            <pm:header title="Selección de enfermedades">
                <f:facet name="left"><p:button value="Inicio" icon="home" href="#consultas?reverse=true"/></f:facet>
                <f:facet name="left"><p:button value="Regresar" icon="back" href="#verEnfermedades?reverse=true"/></f:facet>
            </pm:header>
            <pm:content>
                <!--<h3>preguntas</h3>-->
                <h:form id="formSeleccionarEnfermedades">
                    <h:outputText value="Las enfermedades aparecerán en una lista cuando usted empiece a escribir" rendered="#{atencionMobileJSFBean.pintarEnfermedades}" />
                    <h:panelGrid width="100%" style="text-align: center" rendered="#{atencionMobileJSFBean.pintarEnfermedades}" >
                        <p:spacer height="70px" rendered="#{atencionMobileJSFBean.pintarEnfermedades}"/>
                        <h:panelGrid columns="1" class="centered">
                            <h:outputText value="Ingrese un valor para buscar enfermedades. La búsqueda se realizará por código y nombre de enfermedad" />
                            <h:inputText value="#{atencionMobileJSFBean.criterioBusquedaEnfermedades}" >
                                <p:ajax event="keyup" listener="#{atencionMobileJSFBean.completeEnfermedad}" update="dataList"/>
                            </h:inputText>
                            <p:spacer height="10px"/>
                            <p:dataList id="dataList" type="inset" value="#{atencionMobileJSFBean.listaEnfermedades}" var="enfermedad" >
                                <p:column>
                                    <p:commandLink action="#{atencionMobileJSFBean.addEnfermedad(enfermedad)}" update=":verEnfermedades @form" >
                                        <h:outputText value="#{enfermedad.nombreEnfermedad}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataList>
                        </h:panelGrid>
                    </h:panelGrid>
                    <h:panelGrid width="100%" style="text-align: center" rendered="#{atencionMobileJSFBean.pintarEnfermedades}" >
                        <h:panelGrid columns="1" class="centered">
                            <p:commandButton rendered="#{atencionMobileJSFBean.pintarEnfermedades}" value="Cancelar" 
                                             actionListener="#{atencionMobileJSFBean.cleanAction}"
                                             action="pm:verEnfermedades"  update="verEnfermedades @form" >
                                <f:attribute name="accion" value="cancelarSeleccionEnfermedad" />
                            </p:commandButton>
                        </h:panelGrid>
                    </h:panelGrid>
                </h:form>
            </pm:content>
            <!--            <pm:footer >
                            <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
                                <p:separator style="width: 85%; height: 2px"/>
                                <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
                                <h:outputText value="Developed by NOCOTIV 2013"/>
                            </h:panelGrid>
                        </pm:footer>-->
        </pm:view>
    </pm:page>
</f:view>