<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:pe="http://primefaces.org/ui/extensions">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"/>
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Consulta de estadístico</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>
            <p:panel >
                <h:outputText value="Consulta de Datos Estadísticos" style="font-size:16px;"/>
            </p:panel>
            <p:spacer height="10px"/>
            <h:form id="formGeneral" >

                <p:tabView id="tabView" effect="fold" effectDuration="normal" >  

                    <p:tab id="criterioPaciente" title="Criterios Paciente"  >  
                        <p:tooltip for="criterioPaciente" value="Criterio para búsqueda de estadísticos según datos de paciente" />
                        <h:panelGrid columns="2" cellpadding="10">  
                            <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream.   
                                          In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,   
                                          killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows."></h:outputText>  
                        </h:panelGrid>  
                    </p:tab>  
                    <p:tab id="criteroTrabajador" title="Criterio Trabajador"  >  
                        <p:tooltip for="criteroTrabajador" value="Criterio para búsqueda de estadísticos según datos de trabajador" />
                        <h:panelGrid columns="2" cellpadding="10">  
                            <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family.   
                                          Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate."></h:outputText>  
                        </h:panelGrid>  
                    </p:tab>  
                    <p:tab id="criterioAtencion" title="Criterio de Atenciones"  >  
                        <p:tooltip for="criterioAtencion" value="Criterio para búsqueda de estadísticos según atenciones" />
                        <h:panelGrid columns="2" cellpadding="10">  
                            <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family.   
                                          Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate."></h:outputText>  
                        </h:panelGrid>  
                    </p:tab>  
                </p:tabView>  



                <p:panel id="panelResultados" header="Resultados">

                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandLink id="linkNuevo" value="Exportar a word  " immediate="true"
                                           actionListener="#{preguntasJSFBean.addAlternativa}"
                                           update="persistTablaAlternativas  messages">
                            </p:commandLink>
                            <p:spacer  width="6px"/>
                            <p:commandLink id="linkNuevo2" value=" Exportar a pdf" immediate="true"
                                           actionListener="#{preguntasJSFBean.addAlternativa}"
                                           update="persistTablaAlternativas  messages">
                            </p:commandLink>

                            <p:separator/>
                            <p:commandLink id="linkNuevo3" value="Ver gráfico" immediate="true"
                                           actionListener="#{preguntasJSFBean.addAlternativa}"
                                           update="persistTablaAlternativas  messages">
                            </p:commandLink>

                        </p:toolbarGroup>
                    </p:toolbar>

                    <p:dataTable id="tablaEntidades" value="#{pacientesJSFBean.personaLazyModel}"
                                 var="lista" rowKey="#{lista.idPersona}" selectionMode="single"
                                 selection="#{pacientesJSFBean.personaSeleccionada}"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" editable="true" >
                        <p:ajax event="rowSelect" listener="#{atencionJSFBean.setarSeleccionado}"/>
                        <p:column sortBy="#{lista.documentoPersona}">
                            <f:facet name="header">
                                <h:outputText value="Documento"/>
                            </f:facet>
                            <h:outputText value="#{lista.documentoPersona}" />                                                      
                        </p:column>
                        <p:column sortBy="#{lista.nombrePersona}">
                            <f:facet name="header">
                                <h:outputText value="Nombre(s)"/>
                            </f:facet>
                            <h:outputText value="#{lista.nombrePersona}" style="width:100%"/>  
                        </p:column>
                        <p:column sortBy="#{lista.apellidoPaternoPersona}">
                            <f:facet name="header">
                                <h:outputText value="Apellido Paterno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoPaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column sortBy="#{lista.apellidoMaternoPersona}">
                            <f:facet name="header">
                                <h:outputText value="Apellido Materno"/>
                            </f:facet>
                            <h:outputText value="#{lista.apellidoMaternoPersona}" style="width:100%"/>  
                        </p:column>
                        <p:column sortBy="#{lista.fechaNac}">
                            <f:facet name="header">
                                <h:outputText value="Fecha Nacimiento"/>
                            </f:facet>
                            <h:outputText value="#{lista.fechaNac}" style="width:100%"/>  
                        </p:column>
                        <p:column sortBy="#{lista.edad}">
                            <f:facet name="header">
                                <h:outputText value="Edad"/>
                            </f:facet>
                            <h:outputText value="#{lista.edad}" style="width:100%"/>  
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>

        <ui:define name="modal">

        </ui:define>
    </ui:composition>
</html>


