<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:pe="http://primefaces.org/ui/extensions">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"/>
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Consulta Historia Médica de Paciente</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>

            <!--            Panel para el administrador
                        <p:panel rendered="#{pacientesJSFBean.usuario.esAdministrador}">
                            <h:outputText value="Histórico de Pacientes" style="font-size:16px;"/>
                        </p:panel>
            
                        Panel para enfemería
                        <p:panel rendered="#{pacientesJSFBean.usuario.esEnfermeria}">
                            <h:outputText value="Administración y Atención de Pacientes" style="font-size:16px;"/>
                        </p:panel>
            
                        Panel para laboratorista
                        <p:panel rendered="#{pacientesJSFBean.usuario.esLaboratorista}">
                            <h:outputText value="Registro de Resultados de Pacientes" style="font-size:16px;"/>
                        </p:panel>-->

            <!--Panel para médicos-->
            <p:panel id="a1" rendered="#{pacientesJSFBean.usuario.esMedico}">
                <h:outputText value="História Clínica de Pacientes" style="font-size:16px;"/>
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value=" - " style="font-size:16px;" />
                <h:outputText rendered="#{atencionJSFBean.trabajoDTO!=null}" value="#{atencionJSFBean.trabajoDTO.especialidad.nombreEspecialidad}" style="font-size:16px; font-weight: bolder" />
            </p:panel>


            <p:spacer height="10px"/>
            <h:form id="formGeneral" >
                <p:panel id="panelBusqueda" header="Búsqueda de Pacientes" > 
                    <h:panelGrid columns="3" >
                        <h:outputText value="Datos de búsqueda" />  
                        <p:inputText style="width: 1px; visibility: hidden"/>
                        <h:outputText value="Coincidencias" style="font-size: 16px; font-weight: bold"/>  

                        <h:panelGrid id="gridFiltroBusqueda" cellspacing="3px" columns="2" style="border: 0px" width="250px" >
                            <h:outputText value="Documento" />  
                            <p:inputText id="inputNombre13" value="#{historiasJSFBean. personaFiltro.documentoPersona}"/>  
                            <h:outputText value="Nombre" />  
                            <p:inputText id="inputNombre23" value="#{historiasJSFBean. personaFiltro.nombrePersona}"/>
                            <h:outputText value="Apellido Paterno" />  
                            <p:inputText id="inputNombre33" value="#{historiasJSFBean. personaFiltro.apellidoPaternoPersona}"/>

                            <h:outputText value="Apellido Materno" />  
                            <p:inputText id="inputNombre43" value="#{historiasJSFBean. personaFiltro.apellidoMaternoPersona}"/>  


                            <h:outputText value="Sexo " />  
                            <p:selectOneMenu style="width: 123px" value="#{historiasJSFBean.personaFiltro.sexoPersonaEnum}" > 
                                <f:selectItem itemLabel="Cualquiera" itemValue="" />  
                                <f:selectItems value="#{historiasJSFBean.listaSexoPersonaEnum}"
                                               var="estadoEnum"
                                               itemLabel="#{estadoEnum.name}"
                                               itemValue="#{estadoEnun}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid>
                            <h:graphicImage  library="images" name="verticalLine.png"  height="160px" width="5px"/>
                        </h:panelGrid>
                        <h:panelGrid style="height: 100%" >
                            <p:selectOneListbox style="height: 140px; width:500px"  id="boxCoincidencias" value="#{historiasJSFBean.idPersonaSeleccionada}">  
                                <p:ajax event="change" listener="#{atencionJSFBean.setarSeleccionado3}"/>
                                <f:selectItems  value="#{historiasJSFBean.listaPersonas}" var ="persona" 
                                                itemLabel="#{persona.apellidoPaternoPersona} #{persona.apellidoMaternoPersona}, #{persona.nombrePersona} fecha-nacimiento: #{persona.fechaNac}" 
                                                itemValue="#{persona.idPersona}" />  
                            </p:selectOneListbox>  
                        </h:panelGrid>
                    </h:panelGrid>
                    <h:panelGrid id="panelAse" columns="2"  style="width: 100%" >
                        <p:toolbar style="width: 100%"  >
                            <p:toolbarGroup align="left">

                                <p:commandButton id="btnBuscarPacientes" value="Buscar pacientes " actionListener="#{historiasJSFBean.realizaBusquedaPacientes}"
                                                 icon="ui-icon-document" ajax="true" update="boxCoincidencias messages"
                                                 />
                                <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{historiasJSFBean.cleanAction}" icon="ui-icon-document" 
                                                 update="formGeneral :formDetailAtencion ">
                                    <f:setPropertyActionListener value="#{pacientesJSFBean.personaSeleccionada}" target="#{atencionJSFBean.personaSeleccionada}"/>
                                </p:commandButton>
                            </p:toolbarGroup>
                            <p:separator/>
                            <p:toolbarGroup align="right" >
                                <p:selectOneMenu value="#{historiasJSFBean.cantidadAtencionesSeleccionada}" style="width:100%; top:5px">  
                                    <f:selectItem itemLabel="Especificar cantidad" itemValue="-1" />  
                                    <f:selectItem itemLabel="05 últimas " itemValue="5" />  
                                    <f:selectItem itemLabel="10 últimas " itemValue="10" />  
                                    <f:selectItem itemLabel="15 últimas " itemValue="15" />  
                                    <f:selectItem itemLabel="20 últimas " itemValue="20" />  
                                    <f:selectItem itemLabel="30 últimas " itemValue="30" />  
                                    <f:selectItem itemLabel="TODAS" itemValue="TODO" />  
                                </p:selectOneMenu> 


                                <p:commandButton id="btnBuscar" value="Ver atenciones" actionListener="#{historiasJSFBean.realizaBusquedaAtenciones}"
                                                 icon="ui-icon-document" ajax="true" update="panelResultados messages"/>

                                <p:commandButton rendered="#{pacientesJSFBean.usuario.esMedico}" id="btnSepararPaciente" value="Separar atención"
                                                 ajax="true" actionListener="#{atencionJSFBean.separarAtención}" update=":messages" />
                                <p:separator/>
                                <p:commandButton id="btnAux" rendered="#{!pacientesJSFBean.usuario.esAdministrador}" 
                                                 value="#{pacientesJSFBean.usuario.esEnfermeria? 'Entrevistar': pacientesJSFBean.usuario.esMedico? 'Atender':'Registrar resultados' }"
                                                 ajax="true" actionListener="#{atencionJSFBean.verificarPersonaSeleccionada}" update="messages atencionDialog" >
                                    <f:attribute name="dialogName" value="atencionDialog"/>
                                </p:commandButton>
                            </p:toolbarGroup>
                        </p:toolbar>
                    </h:panelGrid>



                </p:panel>
                <p:panel id="panelResultados" header="Resultados">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnDetalle"  value="Ver detalle atención" icon="ui-icon-zoomin"
                                             ajax="true" actionListener="#{historiasJSFBean.cargaDetallesDeAtencion}"
                                             oncomplete="#{historiasJSFBean.mostrarDetalle eq true ? detailDialog.show() : detailDialog.hide()}" 
                                             update=":messages :detailDialog" />

                        </p:toolbarGroup>
                    </p:toolbar>

                    <p:dataTable id="tablaEntidades" value="#{historiasJSFBean.listaAtenciones}"
                                 var="lista" rowKey="#{lista.idAtencion}" selectionMode="single"
                                 selection="#{historiasJSFBean.atencionSeleccionada}"
                                 rowIndexVar="rowIndex"
                                 paginator="true" rows="15" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20" >
                        <p:column>
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>

                        <p:column headerText="#">
                            <f:facet name="header">
                                <h:outputText value="Fecha"/>
                            </f:facet>
                            <h:outputText value="#{lista.fechaAtencion}" />                                                      
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Especialidad"/>
                            </f:facet>
                            <h:outputText value="#{lista.trabajo.especialidad.nombreEspecialidad}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Empleado"/>
                            </f:facet>
                            <h:outputText value="#{lista.trabajo.empleado.persona.apenom}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Rol"/>
                            </f:facet>
                            <h:outputText value="#{lista.trabajo.empleado.quienPreguntaEnum.name}" style="width:100%"/>  
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Img"/>
                            </f:facet>
                            <p:graphicImage rendered="#{lista.trabajo.empleado.tipoEmpleado eq historiasJSFBean.medico}" value="../resources/images/stethoscope.png" width="22px" height="30px"/>
                            <p:graphicImage rendered="#{lista.trabajo.empleado.tipoEmpleado eq historiasJSFBean.tecnica}" value="../resources/images/tiara.jpg" width="22px" height="30px"/>
                            <p:graphicImage rendered="#{lista.trabajo.empleado.tipoEmpleado eq historiasJSFBean.laboratorista}" value="../resources/images/tubos.jpg" width="22px" height="30px"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>

        <ui:define name="modal">

            <!--Modal para seleccionar el trabajo o área en la cual se va a entrevistar-->
            <p:dialog visible="#{historiasJSFBean.mostrarDialogTrabajo}" closable="false" id="seleccionarTrabajoDialog" header="Seleccionar la especialidad" modal="true"
                      widgetVar="seleccionarTrabajoDialog" resizable="false" showEffect="fade" hideEffect="fade" >
                <p:ajax event="close" update="detailDialog" listener="#{historiasJSFBean.handleDialogClose}"/>

                <h:form id="formSeleccionarTrabajo" enctype="multipart/form-data" style="width:100%">
                    <p:dataTable id="trabajos" var="trabajo" value="#{historiasJSFBean.listaTrabajos}"
                                 selection="#{atencionJSFBean.trabajoDTO}" rowKey="#{trabajo.idTrabajo}">
                        <p:ajax event="rowSelect" listener="#{atencionJSFBean.setarSeleccionado2}"/>
                        <p:column selectionMode="single" style="width:19px" />  
                        <p:column headerText="Especialidad">
                            <h:outputText value="#{trabajo.especialidad.nombreEspecialidad}"/>
                        </p:column>
                    </p:dataTable>
                    <h:panelGrid columns="1" styleClass="centered">
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.verificarTrabajoSeleccionado}"
                                         update="messages :a1 a1">
                            <f:setPropertyActionListener value="false" target="#{historiasJSFBean.mostrarDialogTrabajo}"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!--Diálogo para ver detalle de atención-->
            <p:dialog id="detailDialog" header="Detalle de Atención del paciente: #{historiasJSFBean.personaSeleccionada.apenom}" modal="true"
                      widgetVar="detailDialog" resizable="true" showEffect="fade" hideEffect="fade">
                <p:ajax event="close" update="detailDialog" listener="#{historiasJSFBean.handleDialogClose}"/>
                <h:form id="formDetailAtencion" enctype="multipart/form-data" style="width:470px">
                    <p:commandLink id="leftButton" actionListener="#{historiasJSFBean.navegaIzquierda}" 
                                   update=":messages @form" >
                        <p:graphicImage value="../resources/images/left_arrow.png" width="30px" height="25px"/>
                        <p:tooltip for="leftButton" value="Atención anterior"/>
                    </p:commandLink>
                    <p:spacer width="27%" height="10" />
                    <h:outputLabel  value="Navegación de atenciones" style="font-size: 12px;"/> 
                    <p:spacer width="27%" height="10" />
                    <p:commandLink id="rightButton" actionListener="#{historiasJSFBean.navegaDerecha}" 
                                   update=":messages @form" >
                        <p:graphicImage value="../resources/images/right_arrow.png" width="30px" height="25px"/>
                        <p:tooltip for="rightButton" value="Siguiente atención"/>
                    </p:commandLink>
                    <p:panel id="panelDetalla" header ="Información Atención">
                        <h:panelGrid id="gridDetalleCabecera" columns="2" style="border: 0px ; width:100%">
                            <h:outputLabel  value="Ficha" style="font-size: 14px"/> 
                            <p:graphicImage rendered="#{historiasJSFBean.atencionSeleccionada.trabajo.empleado.tipoEmpleado eq historiasJSFBean.medico}" value="../resources/images/stethoscope.png" width="45px" height="45px"/>
                            <p:graphicImage rendered="#{historiasJSFBean.atencionSeleccionada.trabajo.empleado.tipoEmpleado eq historiasJSFBean.tecnica}" value="../resources/images/tiara.jpg" width="45px" height="45px"/>
                            <p:graphicImage rendered="#{historiasJSFBean.atencionSeleccionada.trabajo.empleado.tipoEmpleado eq historiasJSFBean.laboratorista}" value="../resources/images/tubos.jpg" width="45px" height="45px"/>


                        </h:panelGrid>
                        <h:panelGrid id="gridDetalle" columns="2" style="border: 0px ; width:100%">
                            <h:outputLabel value="Fecha de atención"  style="font-weight: bold" />
                            <h:outputLabel value="#{historiasJSFBean.atencionSeleccionada.fechaAtenFormato}"  />

                            <h:outputLabel value="Fecha de siguiente cita"  style="font-weight: bold" />
                            <h:outputLabel value="#{historiasJSFBean.atencionSeleccionada.fechaSiguienteAtenFormato}"  />

                            <h:outputLabel  value="Especialidad" style="font-weight: bold"  />
                            <h:outputLabel  value="#{historiasJSFBean.atencionSeleccionada.trabajo.especialidad.nombreEspecialidad}"  />

                            <h:outputLabel  value="Empleado" style="font-weight: bold"   />
                            <h:outputLabel  value="#{historiasJSFBean.atencionSeleccionada.trabajo.empleado.persona.apenom}"  />
                            <h:outputLabel  value="Tipo Empleado" style="font-weight: bold"   />
                            <h:outputLabel  value="#{historiasJSFBean.atencionSeleccionada.trabajo.empleado.quienPreguntaEnum.name}"  />

                            <h:outputLabel  value="Comentario" style="font-weight: bold" />
                            <h:outputLabel id ="labelDiagnostico" value="#{historiasJSFBean.atencionSeleccionada.diagnosticoAtencion}" />
                        </h:panelGrid>  
                    </p:panel>
                    <p:panel id="panelEnfermedades" header="Diagnóstico">
                        <h:outputLabel  value="No se referenciaron enfermedades" rendered="#{historiasJSFBean.atencionSeleccionada.tieneEnfermedades eq false}" style="font-size: 11px;font-weight: bold"/>
                        <p:scrollPanel id="srcollEnfermedades" mode="native" style="border-color: #fff; width: 100%; height: 55px"  >
                            <p:dataList value="#{historiasJSFBean.atencionSeleccionada.listaEnfermedades}" var="enfermedad" itemType="disc" style="border: 0">  
                                #{enfermedad.idEnfermedad}, #{enfermedad.nombreEnfermedad}  
                            </p:dataList>
                        </p:scrollPanel>
                    </p:panel>
                    <p:panel id="panelRespuesta" header="Preguntas realizadas y respuestas proporcionadas">
                        <p:scrollPanel id="srcollGeneral" mode="native" style="border-color: #fff; width: 100%; height: 230px"  >
                            <ui:repeat value="#{historiasJSFBean.listaRespuestas}" var="respuesta" varStatus="conRespuesta" >
                                <h:panelGrid id="ase" columns="1" width="100%" rowClasses="center-td" class="centered" >
                                    <h:outputLabel  value="#{respuesta.descripcionPregunta} (#{respuesta.especialidadDerivados})" style="font-size: 11px;font-weight: bold"/>
                                    <ui:repeat value="#{respuesta.listaRespuestas}" var="rpt" varStatus="contRpt">
                                        <h:panelGrid columns="1" width="100%" rowClasses="center-td" class="centered" >
                                            <h:outputLabel  value="#{rpt}" />
                                        </h:panelGrid>
                                    </ui:repeat>
                                </h:panelGrid> 
                            </ui:repeat> 
                        </p:scrollPanel>
                    </p:panel>
                </h:form>
            </p:dialog>

            <!--***********DIALOGOS DE ATENCION******-->
            <p:dialog header="Información de #{pacientesJSFBean.usuario.esEnfermeria? 'la entrevista': 
                                               pacientesJSFBean.usuario.esMedico? 'la atención':'registro de resultados' }" 
                      id="atencionDialog" 
                      widgetVar="atencionDialog"
                      modal="true"
                      resizable="false"
                      showEffect="fade"
                      hideEffect="fade"
                      closable="false">
                <p:ajax event="close" update="detailDialog :formGeneral:panelResultados formGeneral:panelResultados" listener="#{historiasJSFBean.handleDialogClose}" />
                <h:form id="atencionForm" enctype="multipart/form-data" style="width:100%">
                    <p:toolbar >
                        <p:toolbarGroup align="left">
                            <p:commandButton id="btnPreguntas" actionListener="#{atencionJSFBean.cargarPreguntasGenerales}" value="Realizar preguntas"   
                                             ajax="true" oncomplete="entrevistarDialog.show()" 
                                             update=":messages 
                                             :formUbicacion :formUbicacion:outputPanel formUbicacion:outputPanel" icon="ui-icon-pencil" />
                            <p:separator rendered="#{pacientesJSFBean.usuario.esMedico}"/>

                            <p:commandButton id="btnEnfermedades" rendered="#{pacientesJSFBean.usuario.esMedico}" onclick="enfermedadesDialog.show()" 
                                             value="Agregar Diagnóstico" icon="ui-icon-plusthick"
                                             ajax="true" update=":messages" > 
                            </p:commandButton>
                            <p:separator rendered="#{pacientesJSFBean.usuario.esMedico}"/>
                            <p:commandButton id="btnCalculoRC" style="text-align: center" rendered="#{sessionScope['mostrarBoton']}" 
                                             value="Calcular riesgo cardiovascular"
                                             ajax="true" actionListener="#{atencionJSFBean.realizaCalculoRiesgoCardioVascular}" update="messages :atencionForm:taRC" >
                                <f:attribute name="dialogName" value="atencionDialog"/>
                            </p:commandButton>
                            <p:inputText style="visibility: hidden;width: 10px"/>
                        </p:toolbarGroup>
                    </p:toolbar>
                    <h:panelGrid columns="2" cellspacing="5px" width="100%">



                        <h:outputText value="Fecha de la entrevista" rendered="#{atencionJSFBean.usuario.esEnfermeria}" />
                        <h:outputText value="Fecha del registro" rendered="#{atencionJSFBean.usuario.esLaboratorista}" />
                        <h:outputText value="Fecha de atención" rendered="#{atencionJSFBean.usuario.esMedico}" />
                        <h:outputText value="#{atencionJSFBean.atencion.fechaAtencion}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Lima" type="both"/>
                        </h:outputText>

                        <h:outputText value="Próxima atención" rendered="#{atencionJSFBean.usuario.esMedico}" />
                        <p:calendar  rendered="#{atencionJSFBean.usuario.esMedico}" value="#{atencionJSFBean.atencion.fechaAproxSiguienteAtencion}" 
                                     mindate="#{atencionJSFBean.fechaLuego}" pages="3"  />

                        <h:outputText value="Datos del trabajador"/>
                        <h:outputText value="#{atencionJSFBean.usuario.nombreCompleto}"/>

                        <h:outputText value="Paciente seleccionado"/>
                        <h:outputText value="#{atencionJSFBean.personaSeleccionada.nombrePersona} #{atencionJSFBean.personaSeleccionada.apellidoPaternoPersona} #{atencionJSFBean.personaSeleccionada.apellidoMaternoPersona}"/>

                        <h:outputText value="Número de historia clínica"/>
                        <h:outputText value="#{atencionJSFBean.personaSeleccionada.paciente.historia.idHistoria}"/>                        
                    </h:panelGrid>
                    <p:separator style="width: 80%"/>
                    <h:panelGrid columns="1">
                        <h:outputText value="Comentario" rendered="#{atencionJSFBean.usuario.esMedico}"/>
                        <p:inputTextarea id="taRC"  autoResize="false" cols="50" rows="4" style="" value="#{atencionJSFBean.atencion.diagnosticoAtencion}"/>
                    </h:panelGrid>
                    <p:spacer height="5px"/>
                    <h:panelGrid columns="3" styleClass="centered">
                        <p:commandButton ajax="true" value="Aceptar"  actionListener="#{atencionJSFBean.persistAction}" update=":messages 
                                         :formEnfermedad:autocompleteEnfermedad 
                                         formEnfermedad:autocompleteEnfermedad 
                                         :formUbicacion:autocompleteArea 
                                         formUbicacion:autocompleteArea
                                         :formUbicacion:autocompleteSubArea 
                                         formUbicacion:autocompleteSubArea 
                                         :formUbicacion:autocompleteProcedimiento
                                         formUbicacion:autocompleteProcedimiento ">
                            <f:attribute name="dialogName" value="atencionDialog"/>
                        </p:commandButton>
                        <p:commandButton ajax="true" value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}">
                            <f:attribute name="dialogName" value="atencionDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>








            <!--Diálogo de ubicación del paciente antes de entrevistar-->
            <p:dialog closable="false" rendered="#{!pacientesJSFBean.usuario.esAdministrador}" id="entrevistarDialog" 
                      header="#{pacientesJSFBean.usuario.esEnfermeria? 'Entrevista del paciente': 
                                pacientesJSFBean.usuario.esMedico? 'Atención del paciente':'Registro de resultados del paciente' }" modal="true"
                      widgetVar="entrevistarDialog" resizable="false" showEffect="fade" hideEffect="fade">
                <h:form id="formUbicacion" enctype="multipart/form-data" style="width:100%">
                    <h:panelGrid id="gridUbicacion" columns="2" style="border: 0px" >
                        <h:outputText value="Especialidad"  />  
                        <p:autoComplete id="autocompleteArea" value="#{atencionJSFBean.especialidadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="especialidadFiltro" itemLabel="#{especialidadFiltro.nombreEspecialidad}"
                                        itemValue="#{especialidadFiltro.idEspecialidad}"
                                        converter="#{especialidadConverter}"
                                        global="false">

                            <p:ajax event="itemSelect" update="autocompleteSubArea autocompleteEspecialidad"
                                    listener="#{atencionJSFBean.limpiarFiltrosPorEspecialidad}" />
                        </p:autoComplete>

                        <h:outputText value="Subespecialidad" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}" />  
                        <h:outputText value="Análisis" rendered="#{pacientesJSFBean.usuario.esLaboratorista}" />  

                        <p:autoComplete id="autocompleteSubArea" value="#{atencionJSFBean.subEspecialidadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeSubEspecialidad}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="subEspecialidadFiltro" itemLabel="#{subEspecialidadFiltro.nombreSubEspecialidad}"
                                        itemValue="#{subEspecialidadFiltro.idSubEspecialidad}"
                                        converter="#{subEspecialidadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" listener="#{atencionJSFBean.limpiarFiltrosPorSubEspecialidad}" />
                        </p:autoComplete>
                        <h:outputText value="Procedimiento" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}"  />  
                        <p:autoComplete id="autocompleteProcedimiento" rendered="#{!pacientesJSFBean.usuario.esLaboratorista}" 
                                        value="#{atencionJSFBean.procedimientoFiltro}"
                                        completeMethod="#{atencionJSFBean.completeProcedimiento}"
                                        scrollHeight="130"
                                        minQueryLength="3" forceSelection="true"
                                        var="procedimientoFiltro" itemLabel="#{procedimientoFiltro.nombreProcedimiento}"
                                        itemValue="#{procedimientoFiltro.idProcedimiento}"
                                        converter="#{procedimientoConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" listener="#{atencionJSFBean.cargarPreguntasProcedimiento}" />
                        </p:autoComplete>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <h:outputText value="El orden de búsquedas es por 'Especialidad', 'Subespecialidad' y 'Procedimiento'" style="color: steelblue" />
                    </h:panelGrid>
                    <p:spacer height="6px"/>
                    <p:outputPanel id="outputPanel" autoUpdate="true">
                        <p:tabView activeIndex="#{atencionJSFBean.selectedIndex}"  id="tabView" effect="fold" effectDuration="normal" >  

                            <!--Tab para preguntas generales-->
                            <p:tab   titletip="Preguntas para todas las especialidades" 
                                     id="tabGenerales" 
                                     title="Generales" disabled="#{!atencionJSFBean.mostrarTabGeneral}" 
                                     rendered="#{!atencionJSFBean.usuario.esLaboratorista}">
                                <h:outputText value="No existen preguntas generales configuradas" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasGenerales)==0}"/>
                                <p:scrollPanel id="srcollGeneral" mode="native" style="border-color: #fff; width: 100%; height: 350px"  >
                                    <ui:repeat value="#{atencionJSFBean.preguntasGenerales}" var="preguntaGeneral" varStatus="contPregunta" >
                                        <h:panelGrid id="asb" columns="1" width="100%" rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaGeneral.descripcionPregunta}"/>

                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'T'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'O' or preguntaGeneral.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                <p:inputTextarea autoResize="false" style="width: 95%" value="#{atencionJSFBean.respuestasGenerales[contPregunta.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaGeneral.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaGeneral.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaGeneral.tipoRespuesta eq 'Z' or preguntaGeneral.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaGeneral.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPregunta.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>   
                            </p:tab>  


                            <!--Tab parapreguntas por especialidad-->
                            <p:tab id="tabEspecialidad"
                                   title="Especialidad " 
                                   disabled="#{!atencionJSFBean.mostrarTabEspecialidad}"
                                   rendered="#{!atencionJSFBean.usuario.esLaboratorista}">  
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasEspecialidad)>0}" for="tabEspecialidad" 
                                           value="Preguntas para la especialidad de #{atencionJSFBean.especialidadFiltro.nombreEspecialidad}"     />

                                <h:outputText value="La especialidad seleccionada no posee configurada ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasEspecialidad)==0}"/>
                                <p:scrollPanel id="srcollEspecialidad" mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasEspecialidad}" var="preguntaEspecialidad" varStatus="contPreguntaEspecialidad" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:panelGrid columns="1">
                                                <h:outputText value="#{preguntaEspecialidad.descripcionPregunta}"/>

                                                <!--Si la pregunta es de tipo texto numérico-->
                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                    <p:inputText value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"   >
                                                    <p:inputText value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'O' or preguntaEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                    <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}">  
                                                        <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                                        itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                        itemValue="#{alternativa.descripcionAlternativa}" />  
                                                    </p:selectOneRadio> 
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                    <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasEspecialidad[contPreguntaEspecialidad.index].detalleRespuesta}"/>
                                                </h:panelGrid>

                                                <h:panelGrid rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"  >
                                                    <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaEspecialidad.respuestasSeleccionadas}">   
                                                        <f:selectItems  value="#{preguntaEspecialidad.listaAlternativas}" var="alternativa"  
                                                                        itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                        itemValue="#{alternativa.descripcionAlternativa}" />  
                                                    </p:selectManyCheckbox> 
                                                </h:panelGrid>
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaEspecialidad.tipoRespuesta eq 'Z' or preguntaEspecialidad.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaEspecialidad.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaEspecialidad.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                    <p:spacer height="3px"/>
                                    <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaEspecialidad.last}"/>
                                    <p:spacer height="3px" rendered="#{!contPreguntaEspecialidad.last}"/>

                                    <p:commandButton id="btnCalculoRC" style="text-align: center" rendered="#{atencionJSFBean.lowerCaseDescripcionEspecialidad eq 'cardio' }" 
                                                     value="Calcular riesgo cardiovascular"
                                                     ajax="true" actionListener="#{atencionJSFBean.realizaCalculoRiesgoCardioVascular}" update="messages :atencionForm:taRC" >
                                        <f:attribute name="dialogName" value="atencionDialog"/>
                                    </p:commandButton>
                                </p:scrollPanel> 
                            </p:tab>  


                            <!--Tab para preguntas por subEspecialidad--> 
                            <p:tab id="tabSubespecialidad" 
                                   title="#{atencionJSFBean.usuario.esLaboratorista eq true? 'Análisis':'Subespecialidad'}"  
                                   disabled="#{!atencionJSFBean.mostrarTabSubEspecialidad}">  
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)>0 and atencionJSFBean.usuario.esLaboratorista eq false}" for="tabSubespecialidad" 
                                           value="Preguntas para la subespecialidad de #{atencionJSFBean.subEspecialidadFiltro.nombreSubEspecialidad}"   />
                                <p:tooltip rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)>0 and atencionJSFBean.usuario.esLaboratorista eq true}" for="tabSubespecialidad" 
                                           value="Preguntas para el análisis de #{atencionJSFBean.subEspecialidadFiltro.nombreSubEspecialidad}"   />

                                <h:outputText value="La sub especialidad seleccionada no posee configurada ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)==0 and atencionJSFBean.usuario.esLaboratorista eq false}"/>
                                <h:outputText value="Seleccionar el análisis para cargar las preguntas correspondientes" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasSubEspecialidad)==0 and atencionJSFBean.usuario.esLaboratorista eq true}"/>
                                <p:scrollPanel id="scrollSubEspecialidad"  mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasSubEspecialidad}" var="preguntaSubEspecialidad" varStatus="contPreguntaSubEspecialidad" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaSubEspecialidad.descripcionPregunta}"/>

                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>


                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'T'}" columns="1" width="100%"  >
                                                <p:inputText value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'O' or preguntaSubEspecialidad.tipoRespuesta eq 'G'}" columns="2" width="100%"   >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'A'}" columns="1" width="100%" >
                                                <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasSubEspecialidad[contPreguntaSubEspecialidad.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'C'}" columns="1" width="100%"   >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaSubEspecialidad.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaSubEspecialidad.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaSubEspecialidad.tipoRespuesta eq 'Z' or preguntaSubEspecialidad.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaSubEspecialidad.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contpreguntaSubEspecialidad.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>
                            </p:tab>  

                            <p:tab id="tabProcedimiento" 
                                   rendered="#{!pacientesJSFBean.usuario.esLaboratorista}"  title="Procedimiento"  
                                   disabled="#{!atencionJSFBean.mostrarTabProcedimiento}">  

                                <h:outputText value="El procedimiento seleccionado no tiene configurado ninguna pregunta" 
                                              rendered="#{fn:length(atencionJSFBean.preguntasProcedimiento)==0}"/>
                                <p:scrollPanel id="scrollProcedimiento"  mode="native" style="border-color: #fff; width: 100%; height: 350px" >
                                    <ui:repeat value="#{atencionJSFBean.preguntasProcedimiento}" var="preguntaProcedimiento" varStatus="contPreguntaProcedimiento" >
                                        <h:panelGrid columns="1" width="100%"  rowClasses="center-td" class="centered" >
                                            <h:outputText value="#{preguntaProcedimiento.descripcionPregunta}"/>
                                            <!--Si la pregunta es de tipo texto numérico-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'N'}" columns="1" width="100%"    >
                                                <p:inputText value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de texto-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'T'}" columns="1" width="100%"  >
                                                <p:inputText value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de grupo de radiobuttons-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'O' or preguntaProcedimiento.tipoRespuesta eq 'G'}" columns="2" width="100%" >
                                                <p:selectOneRadio layout="pageDirection" value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}">  
                                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectOneRadio> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo de un text area-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'A'}" columns="1" width="100%"  >
                                                <p:inputTextarea autoResize="false" value="#{atencionJSFBean.respuestasProcedimiento[contPreguntaProcedimiento.index].detalleRespuesta}"/>
                                            </h:panelGrid>

                                            <!--Si la pregunta es campo checkbox-->
                                            <h:panelGrid rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'C'}" columns="1" width="100%" >
                                                <p:selectManyCheckbox  layout="pageDirection" value="#{preguntaProcedimiento.respuestasSeleccionadas}">   
                                                    <f:selectItems  value="#{preguntaProcedimiento.listaAlternativas}" var="alternativa"  
                                                                    itemLabel="#{alternativa.descripcionAlternativa}" 
                                                                    itemValue="#{alternativa.descripcionAlternativa}" />  
                                                </p:selectManyCheckbox> 
                                            </h:panelGrid>

                                            <!--Si la pregunta es de tipo "otro"-->
                                            <h:panelGrid columns="3" rendered="#{preguntaProcedimiento.tipoRespuesta eq 'Z' or preguntaProcedimiento.tipoRespuesta eq 'O'}">
                                                <h:graphicImage  library="images" name="rigth-triangle.png"  height="15px"/>
                                                <h:outputText value="Otro (a)" />
                                                <p:inputText value="#{preguntaProcedimiento.respuestaOTRO}" />
                                            </h:panelGrid>

                                            <p:separator style="width: 98% ;height: 3px; background: windowframe"  rendered="#{!contPreguntaProcedimiento.last}"/>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:scrollPanel>
                            </p:tab>  
                        </p:tabView>  
                    </p:outputPanel>
                    <h:panelGrid columns="3" styleClass="centered">

                        <!--Uso el metodoQueNoHaceNada únicamente porque el método no hace nada, sólo para pasar los parámetros al servidor-->
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.metodoQueNoHaceNada}" 
                                         update=":messages @form" >
                            <f:attribute name="dialogName" value="entrevistarDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}"
                                         update=":messages :@form">
                            <f:attribute name="dialogName" value="entrevistarDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>






            <!--Dialogo de selección de enfermedades-->
            <p:dialog closable="false" rendered="#{!pacientesJSFBean.usuario.esAdministrador}"  id="enfermedadesDialog" 
                      header="Selección de Enfermedades" modal="true"
                      widgetVar="enfermedadesDialog" resizable="false" showEffect="fade" hideEffect="fade">
                <h:form id="formEnfermedad" enctype="multipart/form-data" style="width:100%">
                    <h:panelGrid id="gridComplete" columns="2">
                        <h:outputText value="Enfermedad"/>
                        <p:autoComplete id="autocompleteEnfermedad" value="#{atencionJSFBean.enfermedadFiltro}"
                                        completeMethod="#{atencionJSFBean.completeEnfermedad}"
                                        size="50"
                                        scrollHeight="130"
                                        minQueryLength="5" forceSelection="true"
                                        var="enfermedad" itemLabel="#{enfermedad.nombreEnfermedad}"
                                        itemValue="#{enfermedad.idEnfermedad}"
                                        converter="#{enfermedadConverter}"
                                        global="false">
                            <p:ajax event="itemSelect" update="tablaEnfermedades 
                                    :formEnfermedad:gridComplete formEnfermedad:gridComplete 
                                    gridComplete :gridComplete messages @form "
                                    listener="#{atencionJSFBean.agregarEnfermedad}" />
                        </p:autoComplete>  
                    </h:panelGrid>
                    <p:spacer height="5px"/>
                    <p:separator style="width: 80%"/>
                    <p:spacer height="5px"/>
                    <p:outputPanel autoUpdate="true">
                        <p:dataTable id="tablaEnfermedades" value="#{atencionJSFBean.listaEnfermedades}" var="enfermedad" rowKey="#{enfermedad.idEnfermedad}" 
                                     selection="#{atencionJSFBean.enfermedadSeleccionada}" selectionMode="single" emptyMessage="No existen enfermedades asignadas">

                            <p:column headerText="Enfermedad">
                                <h:outputText value="#{enfermedad.nombreEnfermedad}" />                              
                            </p:column>
                            <p:column headerText="Acción" style="width: 20%; text-align: center" >
                                <p:commandLink id="deleteButton" actionListener="#{atencionJSFBean.quitarEnfermedad}" 
                                               update="tablaEnfermedades :messages">
                                    <p:graphicImage value="../resources/images/deleteIcon.png" width="22px" height="22px"/>
                                    <p:tooltip for="deleteButton" value="Quitar enfermedad"/>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </p:outputPanel>

                    <h:panelGrid columns="3" styleClass="centered">
                        <!--Uso el metodoQueNoHaceNada únicamente porque el método no hace nada, sólo para pasar los parámetros al servidor-->
                        <p:commandButton value="Aceptar" actionListener="#{atencionJSFBean.metodoQueNoHaceNada}" 
                                         update=":messages @form" >
                            <f:attribute name="dialogName" value="enfermedadesDialog"/>
                        </p:commandButton>
                        <p:commandButton value="Cancelar" actionListener="#{atencionJSFBean.cerrarDialog}"
                                         update=":messages :@form">
                            <f:attribute name="dialogName" value="enfermedadesDialog"/>
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </p:dialog>


        </ui:define>
    </ui:composition>
</html>


