<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="title">Búsqueda de Enfermedades</ui:define>
        <ui:define name="content">
            <p:spacer height="5px"/>
            <p:panel >
                <h:outputText value="Búsqueda de Enfermedades" style="font-size:16px;"/>
            </p:panel>
            <p:spacer height="10px"/>
            <h:form id="formGeneral" prependId="false" >
                <p:panel id="panelBusqueda" header="Búsqueda de Enfermedades" style="width: 1024px"> 
                    <h:panelGrid id="gridFiltroBusqueda" columns="8" style="border: 0px" >
                        <h:outputText value="Código" />  
                        <p:inputText id="idEnfermedad" value="#{enfermedadesJSFBean.enfermedadFiltro.idEnfermedad}"/>  
                        <p:spacer width="15px"/>
                        <h:outputText value="Nombre" />  
                        <p:inputText id="nombreEnfermedad" value="#{enfermedadesJSFBean.enfermedadFiltro.nombreEnfermedad}"/>  
                        <p:spacer width="15px"/>
                        <h:outputText value="Capítulo" />  
                        <p:autoComplete id="managerFilter" value="#{enfermedadesJSFBean.capituloFiltro}"
                                        completeMethod="#{enfermedadesJSFBean.completeEnfermedad}" minQueryLength="2"
                                        forceSelection="true" required="false" requiredMessage="*"
                                        var="capitulo" itemLabel="#{capitulo.idEnfermedad} #{capitulo.nombreEnfermedad}"
                                        itemValue="#{capitulo.idEnfermedad}"
                                        converter="#{enfermedadConverter}" scrollHeight="200"
                                        global="false" >
                            <p:ajax event="itemSelect"
                                    listener="#{enfermedadesJSFBean.handleSelect}" update="grupo">
                            </p:ajax>
                        </p:autoComplete>

                    </h:panelGrid>


                    <h:panelGrid id="gridBotonesBusqueda" columns="4">
                        <p:commandButton id="btnBuscar" value="Buscar" actionListener="#{enfermedadesJSFBean.findAction}" icon="ui-icon-document" ajax="true" update="messages panelResultados formGeneral:panelBusqueda" />
                        <p:commandButton id="btnLimpiar" value="Limpiar"  actionListener="#{enfermedadesJSFBean.cleanAction}" icon="ui-icon-document" update="panelResultados formGeneral:panelBusqueda" />

                    </h:panelGrid>
                </p:panel>

                <p:panel id="panelResultados" header="Resultados">
                    <p:dataTable id="tablaEntidades" value="#{enfermedadesJSFBean.enfermedadLazyModel}"
                                 var="lista" rowKey="#{lista.idEnfermedad}" selectionMode="single"
                                 style="width: 100%"
                                 paginator="true" rows="5" paginatorPosition="bottom" emptyMessage="No existen registros a mostrar."
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 editable="true" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column colspan="2" headerText="Capítulo" />
                                <p:column colspan="2" headerText="Grupo" />
                                <p:column colspan="2" headerText="Subgrupo" />
                                <p:column colspan="2" headerText="Enfermedad" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Cap." />
                                <p:column headerText="Nombre Capítulo" />
                                <p:column headerText="Gr." />
                                <p:column headerText="Nombre Grupo" />
                                <p:column headerText="Sub Gr." />
                                <p:column headerText="Nombre Subgrupo" />
                                <p:column headerText="Enf." />
                                <p:column headerText="Nombre Enfermedad" />
                            </p:row>
                        </p:columnGroup>
                        <p:column>
                            <h:outputText value="#{lista.idCapitulo}" />                                                      
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.nombreCapitulo}" />         
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.idGrupo}" />    
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.nombreGrupo}" />    
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.idSubGrupo}" />    
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.nombreSubGrupo}" />    
                        </p:column>
                        <p:column>
                            <h:outputText value="#{lista.idEnfermedad}" />    
                        </p:column><p:column>
                            <h:outputText value="#{lista.nombreEnfermedad}" />    
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>

    </ui:composition>
</html>
