<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <!--<div id="footer" class="footer">-->
        <h:panelGrid columns="1" styleClass="centered" style="width: 100%; text-align: center" >
            <p:separator style="width: 85%; height: 2px"/>
            <h:graphicImage  library="images" name="companyLogo-mini.png"  height="55px"/>
            <h:outputText value="Developed by NOVOTIC 2013"/>
        </h:panelGrid>
        <!--</div>-->
    </ui:composition>
</html>