<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="us_PE">
        <h:head>
            <title><ui:insert name="title"></ui:insert></title>
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
                <!--<ui:include src="sessionTimeOut.xhtml"/>-->
                <!--<ui:include src="../pages/editUser.xhtml"/>-->
            </ui:insert>
            <style type="text/css">
                .ui-widget-overlay{
                    opacity: 0.4;
                    filter:alpha(opacity=40); /* For IE8 and earlier */
                }
            </style>
        </h:head>
        <h:body>
            <p:growl id="messages" widgetVar="messages" showDetail="true"
                     life="10000" sticky="false" autoUpdate="false"  globalOnly="true">
            </p:growl>
            <h:panelGrid columns="1" cellspacing="0" cellpadding="0" styleClass="wrapper" >
                <h:panelGrid columns="1" columnClasses="header,content">
                    <h:form>
                        <h:panelGroup style="width: 100%;">
                            <h:panelGrid columns="2" cellspacing="0" cellpadding="0"  style="width: 100%;">
                                <h:graphicImage library="images" name="logo.png" width="150px" height="50px" styleClass="banner ui-toolbar-group-left"/>
                                <h:panelGroup styleClass="header_welcome ui-toolbar-group-rigth">
                                    <h:outputText style="text-decoration-style: solid; color: black" value="Bienvenido:  #{menuJSFBean.usuario.nombreCompleto} | "
                                                  />
                                    <h:outputLink styleClass="text_title" value="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout" 
                                                  >
                                        <h:outputText styleClass="text_title" value="Cerrar Sesiòn" />
                                    </h:outputLink>
                                </h:panelGroup>

                            </h:panelGrid>
                        </h:panelGroup>

                        <p:menubar>


                            <c:forEach items="#{menuJSFBean.menus}" var="menu">
                                <p:submenu label="#{menu.nombreMenu}" icon="ui-icon-document">

                                    <c:forEach items="#{menu.options}" var="option">
                                        <p:menuitem value="#{option.descripcionOpcion}" actionListener="#{menuJSFBean.pageAction}">
                                            <f:attribute name="page" value="#{option.url}"/>
                                        </p:menuitem>
                                        <p:separator/>
                                    </c:forEach>
                                </p:submenu>
                            </c:forEach>
                            <p:menuitem value="Mi Perfil" actionListener="#{mantUserJsfBean.editUser}"
                                        oncomplete="editUserDialog.show()"
                                        icon="ui-icon-gear" />
                        </p:menubar>
                    </h:form>
                    <h:panelGroup>
                        <h:panelGrid cellspacing="0" cellpadding="0" styleClass="content">
                            <ui:insert name="content"/>
                            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>

                            <p:dialog modal="true" widgetVar="statusDialog" showHeader="false" width="245"
                                      resizable="false" draggable="false" closable="false" position="center" appendToBody="true">
                                <h:outputText value="Su petición se está procesando, por favor espere..." style="font-size: 9px"/>
                                <p:graphicImage value="../resources/images/ajaxloadingbar.gif" />
                            </p:dialog>
                        </h:panelGrid>
                    </h:panelGroup>
                </h:panelGrid>
            </h:panelGrid>
            <ui:insert name="modal"/>
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"/>
            </ui:insert>
        </h:body>

    </f:view>
</html>